// Primary layout styles

#wrap {
	
	width:100%;

	#container {
		@include outer-container;

		#topNav {
			@include span-columns(8 of 12);
		}

		.search {
			@include span-columns(2 of 12);
		}

		#pageTitle {
			@include span-columns(12);
			@include row(block);
			#logo {
				@include span-columns(2 of 12);

				.dept & {
					@include hide-text();
					@include size(144px 45px);
					background-position: left top;
					background-repeat: no-repeat; 
					@include retina-image('../images/logos/ucsc-logo-small', 144px 45px);
				}
			}
			h1 {
				@include span-columns(10 of 12);
				@include omega();
			}
		}

		#mainNav,
		#breadcrumbs,
		#carousel,
		#bbnav,
		#content,
		#footer,
		#page_bottom {
			@include span-columns(12);
			@include row(block);
		}

	}

	#sprflt {
		@include span-columns(12);
		#mainContent {
			@include span-columns(9 of 12);
			@include shift(1);
			@include omega();
		}
		#subNav {
			@include span-columns(2 of 12);
		}
		#footer {
			@include span-columns(12 of 12);	
		}
	}

}