%modules {
	@include span-columns(12);
	@include row(block);
}

// Module row with three columns
.three {
	width:100%;
	display: -webkit-flex;
	display: flex;
	-webkit-align-content: center;
	align-content: center;
	-webkit-align-items: stretch;
	align-items: stretch;
	.wrap {
		flex:1;
		-webkit-flex: 1;
	}
	.inner {
		height: 100%;
	}
	@include media($mobile) {
		display: block;
		@include row(block);
	}

}

// Module row with four columns
.four {
	@include reset-display();
	width:100%;
	display: -webkit-flex;
	display: flex;
	-webkit-align-content: center;
	align-content: center;
	-webkit-align-items: stretch;
	align-items: stretch;
	> .wrap {
		flex:1;
		-webkit-flex: 1;
		margin:0;
		padding:1em 1.8em;
	}
	h4, .header {
		margin: 0 0 1em 0;
		text-transform: uppercase;
		font-size: $base-font-size;
		font-weight: normal;
		span {
			font-weight: bold;
			color: #585755;
		}
	}

	@include media($mobile) {
		display: block;
	}		

}



.combined {
	@include reset-display();
	border-radius: $border-radius-base;
	background-color: lighten($primary-sand, 10%);
	@include module-box-shadow();
	@include omega();
	
	.wrap {
		border-right:1px solid lighten($primary-sand, 20%);
		border-left:1px solid $primary-sand;
		@include omega();
		@include pad();
	}

	h2, .header {
		border-bottom: #E5E4DE 1px solid;
		color: #8E8C87;
		position: relative;
		font-size: 1.4em;
		font-weight: normal;
		margin: 0 0 1em 0;
		padding-bottom: 5px;
		text-transform: uppercase;
		span {
			color: #585755;
		}
		.more {
			position: absolute;
			right: 0;
			font-size: 9px;
			letter-spacing: .5px;
			line-height: 3.4em;
			text-transform: uppercase;
		}
	}

}

.separate {
	
	.wrap {
		@include pad();	
	}

	.inner {
		@include pad(1em);	
		background-color: #ECE9D8;
		min-height: 226px;
		margin: 0;
		border-bottom: solid 1px #DAD8C8;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.05);
		-moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.05);
	}

	h3, .header {
		border: 1px solid #E5E4DE;
		color: #8E8C87;
		font-size: 15px;
		font-weight: normal;
		margin: 0 0 10px 0;
		padding: 4px 6px;
		text-transform: uppercase;
		span {
			font-weight: bold;
			color: #585755;
		}
	}
}