// Custom mixins for UCSC.
//
// Compatibility untested.

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin fontSize($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}

@mixin module-box-shadow() {
  border: 1px solid #E7E5DE;
  border-bottom: solid 1px #DFDED2;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.05);
}

@mixin navigation-list {
    list-style-type:none;
    width:100%;
    margin:0;
    padding:0;
    > li {  
        width:auto;
        -webkit-flex: 1;
        flex:1;
        a {     
          padding: 2em 2em;
        }
    }
}