// Custom mixins for UCSC.
//
// Compatibility untested.

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin fontSize($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}

@mixin module-box-shadow() {
  border: 1px solid #E7E5DE;
  border-bottom: solid 1px #DFDED2;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.05);
}

@mixin navigation-list {
    list-style-type:none;
    width:100%;
    margin:0;
    padding:0;
    > li {  
        width:auto;
        -webkit-flex: 1;
        flex:1;
        a {     
          padding: 2em 2em;
        }
    }
}

@mixin meta-small($scale) {
  text-transform: uppercase;
  font-size: golden-ratio($base-font-size, $scale);
  line-height: golden-ratio($base-font-size, 0);
}

// Debugging mixins

@mixin show-media($text, $bgcolor) {
  &:before {
    content: $text;
    display:block;
    width: 100%;
    padding:0.5em 1em;
    text-align:center;
    background-color:$bgcolor;
    color:white;
    position: relative;
    left: -14px;
  }    
}