<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
  xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <title>Tuesday Newsday | 
      <system-page-title />
    </title>
    <link href="site://news/tuesday-newsday/css/main.css" rel="stylesheet" type="text/css" />
    <system-region name="HTML Head Global" />
    <system-region name="HTML Head Custom" />
  </head>
  <body>
    <table border="0" cellpadding="0" cellspacing="0" class="main-content" summary="Newsletter Content" width="600">
      <tbody>
        <tr>
          <td align="center">
            <system-region name="Default" />
          </td>
        </tr>
      </tbody>
    </table>
    <system-region name="PAGE BOTTOM SCRIPTS" />
  </body>
</html>