#forstudents,
#profile,
#know,
#video,
.showcase {

	img {
		display:block;
		width:100%;
		height:auto;
		margin-bottom: em(14);
		&.play_btn {
			width:auto;
			position:absolute;
		}
	}

	.title,
	.uptitle {
		text-transform: uppercase !important;
	}

}