// UCSC Theme Mixins
/*
UCSC Mixins

Custom mixins for UCSC theme.

Styleguide 2.2.0
*/



// Debugging: `breakpoints`
//
// Shows breakpoint debugging information on rendered pages.

@mixin breakpoints() {

  @include media($mobile) {
    @include display-text("Mobile", green);
  }
  @include media($tablet) {
    @include display-text("Tablet: Portrait", orange);
  }
  @include media($desktop) {
    @include display-text("Desktop", blue);
  }
}



// Debugging: `display-text`
//
// Display text before an element.
// Primarily used for showing which media queries are active.

@mixin display-text($text, $bgcolor) {
  &:before {
    content: $text;
    display:block;
    width: 100%;
    padding:0.5em 1em;
    text-align:center;
    background-color:$bgcolor;
    color:white;
    position: relative;
    left: -14px;
  }
}

//  Debugging: `rowborders`
//
// Show borders around `.row` elements.
@mixin rowborders($color:#80C108) {
  border: 2px solid $color;
}


@mixin reset($element:div) {

    border:none;
    margin:0;
    padding:0;

  @if $element == list {
    list-style: none;
    li {
      margin:0;
      padding:0;
    }
  }
}



//  Calculate rems from pixels
// Function and mixin to return rem units from px.
@function calculateRem($size) {
  $remSize: $size / 16;
  @return #{$remSize}rem;
}

@mixin fontSize($size) {
  font-size: #{$size}px; //Fallback in px
  font-size: calculateRem($size);
}

// Box Shadow
// Add box-shadow to modules.
@mixin module-box-shadow($bgcolor:light) {
  @if $bgcolor == light {
    border-bottom: solid 1px lighten($gray-light, 20%);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.05);
  } @else if $bgcolor == dark {
    border-bottom: solid 1px lighten($gray-light, 10%);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  }
  border-radius:$border-radius-base;
}

// Hover, active, focus
// Set hover, active, and focus for elements.
@mixin hoverActiveFocus($background, $color, $decoration) {
    &:hover, &:active, &:focus {
        color: $color;
        background-color: $background;
        text-decoration: $decoration;
    }
}

@mixin navigation-list {
    list-style-type:none;
    width:100%;
    margin:0;
    padding:0;
    > li {
        width:auto;
        -webkit-flex: 1;
        flex:1;
        a {
          padding: 2em 2em;
        }
    }
}

@mixin mobile-button($inverted: false) {
  display: block;
  //border-radius: $border-radius-base;
  padding: 0.4em 1em;
  text-align: right;
  text-decoration: none;
  font-size: $font-size-small;
  color: $ucsc-gold;
  background-color: $sand-light;
  &:hover,
  &:active,
  &:focus {
    color:$gold;
    background-color: $blue;
    text-decoration: none;
  }
}

// Toggle function for mobile menus
// Collapse global and site menus on mobile screens.
@mixin toggle-menu() {
  transition: all 1s ease-in-out;
  overflow: hidden;
  max-height:0;
  // Active mobile menu removes min-height of 0.
  &.active {
    max-height:auto;
    max-height:none;
  }
  @include media($tablet) {
    max-height:auto;
    max-height:none;
  }
}

@mixin meta-small($scale) {
  text-transform: uppercase;
  font-size: golden-ratio($font-size-base, $scale);
  line-height: golden-ratio($font-size-base, 0);
}

@mixin image-display($bgcolor, $padding, $radius:false) {
    img {
      width: 100%;
      height: auto;
      background-color: $bgcolor;
      padding: $padding;
      @if $radius {
        border-radius: $border-radius-base;
      }
    }
}


@mixin rowMachine($numPerRow, $margin) {
  width: ((100% - (($numPerRow - 1) * $margin)) / $numPerRow);
  &:nth-child(n) {
    margin-bottom: $margin;
    margin-right: $margin;
  }
  &:nth-child(#{$numPerRow}n) {
    margin-right: 0;
    margin-bottom: 0;
  }
}
