// Element Display
/*
Custom Element Display

Classes that modify the deafult display of elements.

Styleguide 2.3.0
*/

.full {
  width:100%;
}

.borderless {
  border:none;
  td {
    border-bottom:none;
  }
}

.hide {
  position: absolute;
  left: -900em;
  outline: none;
}
