// Classes that modify the deafult display of elements.

.full {
  width:100%;
}

.borderless {
  border:none;
  td {
    border-bottom:none; 
  }
}

.hide {
  position: absolute;
  left: -900em;
  outline: none;
}

.align-right {
  float: right;
  margin: 0 0 1em 1em;
  clear: right;
}

.align-left {
  float: left;
  margin: 0 1em 1em 0;
  clear: left;
}