//Typography
/*
Typography

markup:
<div class="site-header" id="title">
	<h1>UC Santa Cruz</h1>
	<h2 class="pageTitle">Research</h2>
</div>
<input type=text placeholder="Search UCSC"></input>

Styleguide 2.3.0
*/


// Primary typography
body {
	// @include breakpoints();
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-weight:normal;
}

h1, .h1 {

	color:#4D4D4B;
	font-weight:normal;

	.site-header & {
		margin:0;
	}

	#pageTitle & a {
		text-decoration: none;
		font-weight: normal;
		margin: 0;
		font-size: 42px;
		line-height: 42px;
		padding: 0;
		text-transform: uppercase;
		letter-spacing: -1px;
		color: #F1B521;
	}
}

#title,
.page-title {
		@include fontSize(42);
		margin:0 0.25em 0.25em 0;
	}

//
// ## Forms
// Default styles for forms.
//
form {
	font-family: $font-family-sans-serif;
}


input[type="text"] {
	max-width: 100%;
	color: $gray;
}

iframe {
  max-width: 100%;
}
