@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:100,300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');

// Base typography

// Primary typography
body {
	// @include breakpoints();
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	color: $brand-dark-gray;
}

h1, .h1 {
	// color: #4D4D4B;
	// font-weight:700;

	.site-header & {
		margin:0;
	}

	#pageTitle & a {
		text-decoration: none;
		font-weight: normal;
		margin: 0;
		font-size: 42px;
		line-height: 42px;
		padding: 0;
		text-transform: uppercase;
		letter-spacing: -1px;
		color: #F1B521;
	}
}


#title,
.page-title {
		@include fontSize(42);
		margin:0 0.25em 0.5em 0;
		line-height: 1;

	}

//
// ## Forms
// Default styles for forms.
//
form {
	font-family: $font-family-sans-serif;
}


input[type="text"] {
	max-width: 100%;
	color: $gray;
}

iframe {
  max-width: 100%;
}
