<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <title><system-page-title /></title>
    <system-region name="UNIFORM HTML HEAD" />
    <system-region name="LOCAL HTML HEAD" />
</head>

<body class="contentRightCol homeEnv">

<!-- Accessibility links. Hidden until they receive :focus -->
<ul id="access-links">
    <li><a href="#mainContent">Skip to main content</a></li>
    <li><a href="#mainNav">Skip to primary navigation</a></li>
</ul>

<div id="wrap">
  <div id="container">
    <div id="content">
      
      <system-region name="UNIFORM CAMPUS TOP LINKS" />
      <system-region name="UNIFORM SITE CONFIGURATION" />
      
      <system-region name="UNIFORM CAMPUS HOME LOGO" />
      <system-region name="UNIFORM CAMPUS LINKS" />

      <div class="search">
                <system-region name="SEARCH" />
      </div>
      
            <system-region name="MAIN NAV" />           
      
      <div class="row breadcrumbs" id="breadcrumbs">
                <system-region name="BREADCRUMBS" />
      </div>
      
      <div id="sprflt">
        <div id="mainContent">
                    <system-region name="DEFAULT" />
                    <system-region name="FEATURE" />
                    <system-region name="MAIN COLUMN 1" />
                    <system-region name="MAIN COLUMN 2" />
                    <system-region name="MAIN COLUMN 3" />
                    <system-region name="MAIN COLUMN 4" />
                    <system-region name="MAIN COLUMN 5" />
                    <system-region name="CONTENT BOTTOM" />                 
        </div>

        <div id="rtSdebr">                  
                    <system-region name="RIGHT COLUMN 1" />
                    <system-region name="RIGHT COLUMN 2" />
                    <system-region name="RIGHT COLUMN 3" />
                    <system-region name="RIGHT COLUMN 4" />
                    <system-region name="RIGHT COLUMN 5" />
        </div>
        
      <div class="four clear">
        <div class="wrap"><system-region name="BOTTOM 1" /></div>
        <div class="wrap"><system-region name="BOTTOM 2" /></div>
        <div class="wrap"><system-region name="BOTTOM 3" /></div>
        <div class="wrap last"><system-region name="BOTTOM 4" /></div>
      </div>
        
      </div>

      <div id="footer">
                <system-region name="FOOTER LINKS" />
                <system-region name="UNIFORM CAMPUS FOOTER" />
      </div>

        <div class="row legal">
          <system-region name="UNIFORM DISCLAIMERS" />
        </div>      

    </div><!-- /content -->
  </div><!-- /container -->
</div><!-- /wrap -->
<system-region name="BOTTOM SCRIPTS" />
</body>
</html>