<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta content="width=device-width, initial-scale=1" name="viewport" />
<title><system-page-title/></title>
<system-page-meta-description/>
<system-page-meta-keywords/>
<system-region name="UNIFORM HTML HEAD" />
<system-region name="LOCAL HTML HEAD" />
<system-region name="PAGE HTML HEAD" />
</head>

<body class="landing homeEnv">

<!-- Accessibility links. Hidden until they receive :focus -->
<ul id="access-links">
  <li><a href="#main">Skip to main content</a></li>
  <li><a href="#mainNav">Skip to main navigation</a></li>
</ul>

<system-region name="ALERT AREA" />  

<div id="wrap">
  <div id="container">
    <div id="content">
            
        <div role="banner" class="site-header">

          <div class="row page-top">
            <system-region name="UNIFORM CAMPUS HOME LINKS" /> 
            <div class="search">
              <system-region name="SEARCH" />
            </div>
          </div>
          
          <div class="row logo">
            <system-region name="UNIFORM CAMPUS HOME LOGO" />
          </div>
           
           <div class="row main-navigation">
             <system-region name="MAIN NAV" />
           </div>

        </div>
        
        <div id="main" role="main">

          <div class="row tagline" id="titles">
            <system-region name="TITLE" />
          </div>

          <div class="row five combined light">
            <system-region name="FIVE COLUMN INFO" />
          </div>

          <div class="row three combined light">
            <system-region name="ROW TWO" />
          </div>

          <div class="row three dark combined">
            <system-region name="ROW THREE" />
          </div>

          <div class="row clear four">
            <div class="wrap"><system-region name="BOTTOM 1" /></div>
            <div class="wrap"><system-region name="BOTTOM 2" /></div>
            <div class="wrap"><system-region name="BOTTOM 3" /></div>
            <div class="wrap last"><system-region name="BOTTOM 4" /></div>
          </div>

        </div>        

        <div class="row" id="footer" role="footer">
          <system-region name="FOOTER LINKS" />
          <system-region name="UNIFORM CAMPUS FOOTER" />
        </div>
        
        <div class="row" id="page_bottom">
          <system-region name="PAGE BOTTOM" />
        </div>    

    </div><!-- /content -->
  </div><!-- /container -->
</div><!-- /wrap -->

<system-region name="BOTTOM SCRIPTS" />
<system-region name="UNIFORM BOTTOM SCRIPTS" />
<system-region name="LOCAL BOTTOM SCRIPTS" />
<system-region name="PAGE BOTTOM SCRIPTS" />

</body>
</html>