<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><system-page-title /></title>
  <system-page-meta-description/>
  <system-page-meta-keywords/>
  <system-region name="UNIFORM HTML HEAD" />
  <system-region name="LOCAL HTML HEAD" />
  <system-region name="PAGE HTML HEAD" />
</head>

<body class="dept home">

  <!-- Accessibility links. Hidden until they receive :focus -->
  <ul id="access-links">
    <li><a href="#main">Skip to main content</a></li>
    <li><a href="#nav">Skip to main navigation</a></li>
  </ul>

  <div id="wrap">
    <div id="container">
      <div id="content">

        <header role="banner" class="site-header"> 

          <div class="row page-top">
            <system-region name="UNIFORM CAMPUS LINKS" />
            <div class="search">
              <system-region name="SEARCH" />
            </div>
          </div>

          <div class="row logo">                       
            <system-region name="DEPARTMENT NAME" />
            <system-region name="UNIFORM CAMPUS LOGO" />
          </div>

          <div class="row">
            <system-region name="MAIN NAV" />
          </div>

        </header> 

        <main role="main" id="main">

        <div class="row">
          <div id="carousel">
            <system-region name="BANNER IMAGE"/>
          </div>   
        </div>

        <div class="row three separate dark">
          <div class="wrap"><system-region name="MIDDLE ROW LEFT" /></div>
          <div class="wrap"><system-region name="MIDDLE ROW CENTER" /></div>
          <div class="wrap last"><system-region name="MIDDLE ROW RIGHT" /></div>
        </div>

        <div class="row three combined light">
          <div class="wrap"><system-region name="BOTTOM ROW LEFT" /></div>
          <div class="wrap"><system-region name="BOTTOM ROW CENTER" /></div>
          <div class="wrap last"><system-region name="BOTTOM ROW RIGHT" /></div>
        </div>

        </main>

        <footer role="footer">
          <div id="footer" class="row">
            <system-region name="FOOTER LINKS" />
            <system-region name="UNIFORM CAMPUS FOOTER" />
          </div>

          <div id="page_bottom" class="row">
            <system-region name="UNIFORM DISCLAIMERS" />
          </div>
        </footer>


      </div><!-- /content -->
    </div><!-- /container -->
  </div><!-- /wrap -->

  <system-region name="BOTTOM SCRIPTS"/>
  <system-region name="UNIFORM BOTTOM SCRIPTS"/>
  <system-region name="LOCAL BOTTOM SCRIPTS"/>
  <system-region name="PAGE BOTTOM SCRIPTS"/>


</body>
</html>