<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta content="width=device-width, initial-scale=1" name="viewport" />
<title><system-page-title/></title>
<system-page-meta-description/>
<system-page-meta-keywords/>
<system-region name="UNIFORM HTML HEAD" />
<system-region name="LOCAL HTML HEAD" />
<system-region name="PAGE HTML HEAD" />
</head>

<body class="contentSingleCol dept single-column">

  <!-- Accessibility links. Hidden until they receive :focus -->
  <ul id="access-links">
    <li><a href="#main">Skip to main content</a></li>
    <li><a href="#mainNav">Skip to primary navigation</a></li>
  </ul>

<system-region name="ALERT AREA" />
  
  <div id="wrap">
    <div id="container">
      <div id="content">

        <div role="banner" class="site-header"> 

          <div class="row page-top">
            <system-region name="UNIFORM CAMPUS LINKS" />
            <div class="search" role="search">
              <system-region name="SEARCH" />
            </div>
          </div>

          <div class="row names">
            <div class="site-name">
              <system-region name="DEPARTMENT NAME" />
            </div>
            <div class="campus-name">
              <system-region name="UNIFORM CAMPUS LOGO" />
            </div>  
          </div>
          
          <div class="row main-navigation" role="navigation">
             <system-region name="MAIN NAV" />
          </div>

        </div>

        <system-region name="BREADCRUMBS" />

        <div id="sprflt" class="row">
          
          <div role="main" id="main">
            <div id="mainContent" class="main-content">
              <system-region name="DEFAULT" />
              <div id="php">
                <system-region name="LOCAL PHP" /> 
                <div class="contentBox">
                  <system-region name="PHP" />
                </div>
              </div>
              <system-region name="CONTENT BOTTOM" />
            </div>
          </div>
          
        </div>

        <div class="row" id="footer">
          <system-region name="FOOTER LINKS" />
          <system-region name="UNIFORM CAMPUS FOOTER" />
        </div>
        
        <div class="row" id="page_bottom">
          <system-region name="PAGE BOTTOM" />
        </div>
        
      </div><!-- /content -->
    </div><!-- /container -->
  </div><!-- /wrap -->

<system-region name="UNIFORM BOTTOM SCRIPTS" />
<system-region name="LOCAL BOTTOM SCRIPTS" />
<system-region name="PAGE BOTTOM SCRIPTS" />

</body>
</html>