<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <title><system-page-title /></title>
  <system-region name="UNIFORM HTML HEAD" />
  <system-region name="LOCAL HTML HEAD" />
</head>

<body class="division home">
<div id="wrap">
  <div id="container">
    <div id="content">
      
  <system-region name="UNIFORM CAMPUS LINKS" />

      <div class="search">
        <system-region name="SEARCH" />
      </div>

  <div id="pageTitle">
  <system-region name="UNIFORM CAMPUS LOGO" />
  <system-region name="DIVISION NAME" />
  </div>
      
      <system-region name="MAIN NAV" />
      
      <div id="carousel">
  <system-region name="BANNER IMAGE" />
      </div>
      <div id="bbnav" ></div>
      
      <div class="three separate dark">
  <div class="wrap"><system-region name="MIDDLE ROW LEFT" /></div>
  <div class="wrap"><system-region name="MIDDLE ROW CENTER" /></div>
        <div class="wrap last"><system-region name="MIDDLE ROW RIGHT" /></div>
      </div>

      <div class="four clear">
        <div class="wrap"><system-region name="BOTTOM ROW 1" /></div>
        <div class="wrap"><system-region name="BOTTOM ROW 2" /></div>
        <div class="wrap"><system-region name="BOTTOM ROW 3" /></div>
        <div class="wrap last"><system-region name="BOTTOM ROW 4" /></div>
      </div>

      <div id="footer">
  <system-region name="FOOTER LINKS" />
  <system-region name="UNIFORM CAMPUS FOOTER" />
      </div>
      
      <div id="page_bottom"><system-region name="UNIFORM DISCLAIMERS" /></div>

    </div><!-- /content -->

    <system-region name="BACKGROUND" />

  </div><!-- /container -->
</div><!-- /wrap -->
</body>
</html>