/* line 2, ../../../../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/neat-1.5.0/app/assets/stylesheets/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 2, ../../sass/_config.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 66, ../../sass/_config.scss */
body {
  background-color: #f6f4ec;
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size: 14px;
  line-height: 20px;
  padding: 0;
  margin: 0; }

/* line 77, ../../sass/_config.scss */
#pageTitle h1 a {
  text-decoration: none;
  font-weight: normal;
  margin: 0;
  font-size: 42px;
  line-height: 42px;
  padding: 0 0 0 10px;
  text-transform: uppercase;
  letter-spacing: -1px;
  color: #F1B521; }

/* line 3, ../../sass/_layouts.scss */
#wrap {
  width: 100%; }
  /* line 7, ../../sass/_layouts.scss */
  #wrap #container {
    *zoom: 1;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    /* line 18, ../../../../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/bourbon-3.1.8/app/assets/stylesheets/addons/_clearfix.scss */
    #wrap #container:before, #wrap #container:after {
      content: " ";
      display: table; }
    /* line 23, ../../../../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/bourbon-3.1.8/app/assets/stylesheets/addons/_clearfix.scss */
    #wrap #container:after {
      clear: both; }
    /* line 10, ../../sass/_layouts.scss */
    #wrap #container .row {
      border: 1px solid red;
      *zoom: 1;
      display: table;
      width: 100%;
      table-layout: fixed; }
      /* line 18, ../../../../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/bourbon-3.1.8/app/assets/stylesheets/addons/_clearfix.scss */
      #wrap #container .row:before, #wrap #container .row:after {
        content: " ";
        display: table; }
      /* line 23, ../../../../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/bourbon-3.1.8/app/assets/stylesheets/addons/_clearfix.scss */
      #wrap #container .row:after {
        clear: both; }
    /* line 16, ../../sass/_layouts.scss */
    #wrap #container #topNav {
      display: table-cell;
      padding-right: 2.12189%;
      width: 85.06228%; }
    /* line 19, ../../sass/_layouts.scss */
    #wrap #container .search {
      display: table-cell;
      padding-right: 1.17883%;
      width: 15.88078%; }
    /* line 24, ../../sass/_layouts.scss */
    #wrap #container #pageTitle {
      display: table-cell;
      padding-right: 2.16118%;
      width: 102.16118%;
      *zoom: 1;
      display: block; }
      /* line 18, ../../../../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/bourbon-3.1.8/app/assets/stylesheets/addons/_clearfix.scss */
      #wrap #container #pageTitle:before, #wrap #container #pageTitle:after {
        content: " ";
        display: table; }
      /* line 23, ../../../../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/bourbon-3.1.8/app/assets/stylesheets/addons/_clearfix.scss */
      #wrap #container #pageTitle:after {
        clear: both; }
      /* line 28, ../../sass/_layouts.scss */
      #wrap #container #pageTitle h1 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 82.94039%;
        margin-right: 0; }
        /* line 40, ../../../../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/neat-1.5.0/app/assets/stylesheets/grid/_span-columns.scss */
        #wrap #container #pageTitle h1:last-child {
          margin-right: 0; }
    /* line 35, ../../sass/_layouts.scss */
    #wrap #container #logo {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 14.70196%;
      color: transparent;
      font: 0/0 a;
      text-shadow: none;
      background-position: left top;
      background-repeat: no-repeat; }
      /* line 40, ../../../../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/neat-1.5.0/app/assets/stylesheets/grid/_span-columns.scss */
      #wrap #container #logo:last-child {
        margin-right: 0; }
      /* line 41, ../../sass/_layouts.scss */
      .dept #wrap #container #logo {
        width: 144px;
        height: 45px;
        background-image: url("../images/logos/ucsc-logo-small.png"); }
        @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
          /* line 41, ../../sass/_layouts.scss */
          .dept #wrap #container #logo {
            background-image: url("../images/logos/ucsc-logo-small@2x.png");
            background-size: 144px 45px; } }
      /* line 46, ../../sass/_layouts.scss */
      .homeEnv #wrap #container #logo {
        width: 261px;
        height: 72px;
        background-image: url("../images/logos/ucsc-logo-large.png"); }
        @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
          /* line 46, ../../sass/_layouts.scss */
          .homeEnv #wrap #container #logo {
            background-image: url("../images/logos/ucsc-logo-large@2x.png");
            background-size: 261px 72px; } }
  /* line 57, ../../sass/_layouts.scss */
  #wrap #sprflt {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    /* line 40, ../../../../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/neat-1.5.0/app/assets/stylesheets/grid/_span-columns.scss */
    #wrap #sprflt:last-child {
      margin-right: 0; }
    /* line 59, ../../sass/_layouts.scss */
    #wrap #sprflt #mainContent {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 74.41059%;
      margin-left: 8.5298%;
      margin-right: 0; }
      /* line 40, ../../../../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/neat-1.5.0/app/assets/stylesheets/grid/_span-columns.scss */
      #wrap #sprflt #mainContent:last-child {
        margin-right: 0; }
    /* line 64, ../../sass/_layouts.scss */
    #wrap #sprflt #subNav {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 14.70196%; }
      /* line 40, ../../../../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/neat-1.5.0/app/assets/stylesheets/grid/_span-columns.scss */
      #wrap #sprflt #subNav:last-child {
        margin-right: 0; }
    /* line 67, ../../sass/_layouts.scss */
    #wrap #sprflt #footer {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      /* line 40, ../../../../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/neat-1.5.0/app/assets/stylesheets/grid/_span-columns.scss */
      #wrap #sprflt #footer:last-child {
        margin-right: 0; }

/* line 1, ../../sass/_modules.scss */
.three {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  /* line 40, ../../../../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/neat-1.5.0/app/assets/stylesheets/grid/_span-columns.scss */
  .three:last-child {
    margin-right: 0; }
  /* line 4, ../../sass/_modules.scss */
  .three .wrap {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    /* line 40, ../../../../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/neat-1.5.0/app/assets/stylesheets/grid/_span-columns.scss */
    .three .wrap:last-child {
      margin-right: 0; }
    @media screen and (max-width: 45em) {
      /* line 4, ../../sass/_modules.scss */
      .three .wrap {
        float: left;
        display: block;
        margin-right: 4.82916%;
        width: 204.82916%; }
        /* line 40, ../../../../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/neat-1.5.0/app/assets/stylesheets/grid/_span-columns.scss */
        .three .wrap:last-child {
          margin-right: 0; } }

/* line 13, ../../sass/_modules.scss */
.four {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  /* line 40, ../../../../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/neat-1.5.0/app/assets/stylesheets/grid/_span-columns.scss */
  .four:last-child {
    margin-right: 0; }
  /* line 16, ../../sass/_modules.scss */
  .four .wrap {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    /* line 40, ../../../../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/neat-1.5.0/app/assets/stylesheets/grid/_span-columns.scss */
    .four .wrap:last-child {
      margin-right: 0; }
    @media screen and (max-width: 45em) {
      /* line 16, ../../sass/_modules.scss */
      .four .wrap {
        float: left;
        display: block;
        margin-right: 4.82916%;
        width: 204.82916%; }
        /* line 40, ../../../../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/neat-1.5.0/app/assets/stylesheets/grid/_span-columns.scss */
        .four .wrap:last-child {
          margin-right: 0; } }

/* line 25, ../../sass/_modules.scss */
.combined {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2.35765%;
  border-radius: 5px;
  background-color: white;
  border-bottom: solid 1px #DFDED2;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.05); }
  /* line 32, ../../sass/_modules.scss */
  .combined .wrap {
    border-right: 1px solid #e6e0c9;
    border-left: 1px solid #c5b884; }
  /* line 39, ../../sass/_modules.scss */
  .combined h2 {
    border-bottom: #E5E4DE 1px solid;
    color: #8E8C87;
    font-weight: normal;
    margin: 0 0 1em 0;
    padding-bottom: 5px;
    text-transform: uppercase; }

/* 
*		Global header
*/
/* line 7, ../../sass/_header.scss */
#topNav > li {
  background-image: none;
  border-left: 1px solid #C2CDC9;
  float: left;
  font-size: 12px;
  line-height: 1.2em;
  list-style-type: none;
  padding: 25px 10px 1px 10px; }

/* line 25, ../../sass/_header.scss */
.search label {
  color: transparent;
  font: 0/0 a;
  text-shadow: none; }
/* line 29, ../../sass/_header.scss */
.search .query {
  color: #A3A3A1;
  height: 15px;
  line-height: 1em;
  padding: 4px 0 0 0;
  vertical-align: top;
  width: 165px; }

/* line 2, ../../sass/_homeless.scss */
#access-links {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0; }
  /* line 7, ../../sass/_homeless.scss */
  #access-links > li {
    position: relative;
    background-image: none;
    list-style: none;
    margin: 0;
    padding: 0; }
    /* line 13, ../../sass/_homeless.scss */
    #access-links > li a {
      background-color: rgba(0, 0, 0, 0.8);
      color: #CCC;
      display: block;
      font-size: 1.8em;
      font-weight: 700;
      left: -900em;
      outline: none;
      padding: 1.2em 2em 1.2em 3.2em;
      position: absolute;
      text-decoration: none;
      text-transform: uppercase;
      top: 0;
      width: 100%;
      z-index: 100; }
      /* line 28, ../../sass/_homeless.scss */
      #access-links > li a:focus {
        left: 0em; }
