/* line 2, ../../../../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/neat-1.5.0/app/assets/stylesheets/grid/_grid.scss */
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 2, ../sass/_typography.scss */
body {
  padding: 0 1em;
  color: #8e8c87;
  background-color: #f6f4ec;
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin: 0; }
  @media screen and (max-width: 40em) {
    /* line 51, ../sass/_utilities.scss */
    body:before {
      content: "Mobile";
      display: block;
      width: 100%;
      padding: 0.5em 1em;
      text-align: center;
      background-color: green;
      color: white;
      position: relative;
      left: -14px; } }
  @media screen and (min-width: 40.0625em) {
    /* line 51, ../sass/_utilities.scss */
    body:before {
      content: "Tablet: Portrait";
      display: block;
      width: 100%;
      padding: 0.5em 1em;
      text-align: center;
      background-color: orange;
      color: white;
      position: relative;
      left: -14px; } }
  @media screen and (min-width: 60em) {
    /* line 51, ../sass/_utilities.scss */
    body:before {
      content: "Desktop";
      display: block;
      width: 100%;
      padding: 0.5em 1em;
      text-align: center;
      background-color: blue;
      color: white;
      position: relative;
      left: -14px; } }

/* line 21, ../sass/_typography.scss */
a {
  color: #5585a2;
  text-decoration: none; }
  /* line 26, ../sass/_typography.scss */
  a:focus, a:hover, a:active {
    text-decoration: underline; }

/* line 33, ../sass/_typography.scss */
#pageTitle h1 a, #pageTitle .h1 a {
  text-decoration: none;
  font-weight: normal;
  margin: 0;
  font-size: 42px;
  line-height: 42px;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: -1px;
  color: #F1B521; }

/* line 7, ../sass/_layouts.scss */
#container {
  *zoom: 1;
  max-width: 80em;
  margin-left: auto;
  margin-right: auto; }
  /* line 18, ../../../../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/bourbon-3.1.8/app/assets/stylesheets/addons/_clearfix.scss */
  #container:before, #container:after {
    content: " ";
    display: table; }
  /* line 23, ../../../../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/bourbon-3.1.8/app/assets/stylesheets/addons/_clearfix.scss */
  #container:after {
    clear: both; }

/* line 11, ../sass/_layouts.scss */
.row {
  border: 1px solid red;
  *zoom: 1;
  display: table;
  width: 100%;
  table-layout: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px; }
  /* line 18, ../../../../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/bourbon-3.1.8/app/assets/stylesheets/addons/_clearfix.scss */
  .row:before, .row:after {
    content: " ";
    display: table; }
  /* line 23, ../../../../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/bourbon-3.1.8/app/assets/stylesheets/addons/_clearfix.scss */
  .row:after {
    clear: both; }
  @media screen and (max-width: 40em) {
    /* line 11, ../sass/_layouts.scss */
    .row {
      -webkit-flex-flow: column;
      -ms-flex-flow: column;
      flex-flow: column; } }

@media screen and (min-width: 40.0625em) {
  /* line 26, ../sass/_layouts.scss */
  #topNav,
  .global-nav {
    -webkit-box-flex: 4;
    -webkit-flex: 4;
    -ms-flex: 4;
    flex: 4; } }

@media screen and (min-width: 40.0625em) {
  /* line 37, ../sass/_layouts.scss */
  .search {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; } }
/* line 44, ../sass/_layouts.scss */
.search .query {
  width: 100%;
  margin-top: 5%; }

/* line 57, ../sass/_layouts.scss */
header h1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

/* line 63, ../sass/_layouts.scss */
#slider {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

/* line 67, ../sass/_layouts.scss */
#sprflt {
  display: table-cell;
  padding-right: 2.16118%;
  width: 102.16118%; }
  /* line 69, ../sass/_layouts.scss */
  #sprflt #mainContent {
    display: table-cell;
    padding-right: 2.09569%;
    width: 76.50628%;
    margin-left: 8.5298%;
    margin-right: 0; }
  /* line 74, ../sass/_layouts.scss */
  #sprflt #subNav {
    display: table-cell;
    padding-right: 1.17883%;
    width: 15.88078%; }
  /* line 77, ../sass/_layouts.scss */
  #sprflt #footer {
    display: table-cell;
    padding-right: 2.16118%;
    width: 102.16118%; }

/* line 7, ../sass/_modules.scss */
.three {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }
  /* line 12, ../sass/_modules.scss */
  .three > .wrap {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  /* line 15, ../sass/_modules.scss */
  .three .inner {
    height: 100%; }
  @media screen and (max-width: 40em) {
    /* line 7, ../sass/_modules.scss */
    .three {
      display: block;
      *zoom: 1;
      display: block; }
      /* line 18, ../../../../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/bourbon-3.1.8/app/assets/stylesheets/addons/_clearfix.scss */
      .three:before, .three:after {
        content: " ";
        display: table; }
      /* line 23, ../../../../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/bourbon-3.1.8/app/assets/stylesheets/addons/_clearfix.scss */
      .three:after {
        clear: both; } }

/* line 25, ../sass/_modules.scss */
.four {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }
  /* line 31, ../sass/_modules.scss */
  .four > .wrap {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0;
    padding: 1em 1.8em; }
  /* line 36, ../sass/_modules.scss */
  .four h4, .four .header {
    margin: 0 0 1em 0;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: normal; }
    /* line 41, ../sass/_modules.scss */
    .four h4 span, .four .header span {
      font-weight: bold;
      color: #74726e; }
  @media screen and (max-width: 40em) {
    /* line 25, ../sass/_modules.scss */
    .four {
      display: block; } }

/* line 55, ../sass/_modules.scss */
.combined {
  border-radius: 5px;
  background-color: white;
  border: 1px solid #E7E5DE;
  border-bottom: solid 1px #DFDED2;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.05);
  margin-right: 0; }
  /* line 62, ../sass/_modules.scss */
  .combined .wrap {
    border-right: 1px solid white;
    border-left: 1px solid #f6f4ec;
    margin-right: 0;
    padding: 2.35765%; }
  /* line 69, ../sass/_modules.scss */
  .combined h2, .combined .header {
    border-bottom: #E5E4DE 1px solid;
    color: #8E8C87;
    position: relative;
    font-size: 1.4em;
    font-weight: normal;
    margin: 0 0 1em 0;
    clear: both;
    padding-bottom: 0.4em;
    text-transform: uppercase; }
    /* line 79, ../sass/_modules.scss */
    .combined h2 span, .combined .header span {
      color: #585755; }
    /* line 82, ../sass/_modules.scss */
    .combined h2 .more, .combined .header .more {
      position: absolute;
      right: 0;
      font-size: 9px;
      letter-spacing: .5px;
      line-height: 3.4em;
      text-transform: uppercase; }

/* line 96, ../sass/_modules.scss */
.separate .wrap {
  padding: 2.35765%; }
/* line 100, ../sass/_modules.scss */
.separate .inner {
  padding: 1em;
  background-color: #ECE9D8;
  min-height: 226px;
  margin: 0;
  border-bottom: solid 1px #DAD8C8;
  border-radius: 5px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.05); }
/* line 110, ../sass/_modules.scss */
.separate h3, .separate .header {
  border: 1px solid #E5E4DE;
  color: #8E8C87;
  font-size: 15px;
  font-weight: normal;
  margin: 0 0 10px 0;
  padding: 4px 6px;
  text-transform: uppercase; }
  /* line 118, ../sass/_modules.scss */
  .separate h3 span, .separate .header span {
    font-weight: bold;
    color: #585755; }

/* line 4, ../sass/_module-events.scss */
#events dt,
.events dt {
  color: #8e8c87;
  float: left;
  font-size: 14px;
  letter-spacing: 1px;
  margin: 0 0.4em 1em 0;
  text-align: center;
  text-transform: uppercase;
  min-width: 14%;
  clear: left; }
  /* line 15, ../sass/_module-events.scss */
  #events dt strong,
  #events dt span,
  .events dt strong,
  .events dt span {
    color: #6E6D68;
    font-size: 1.4rem;
    letter-spacing: -1px;
    line-height: 1em;
    display: block; }
/* line 23, ../sass/_module-events.scss */
#events dd,
.events dd {
  border-left: 1px solid #DEDCD1;
  float: left;
  margin: 0 0 1em 0;
  padding: 0.2em 0.2em 0.2em 4%;
  font-size: 14px;
  width: 82%; }

/* line 6, ../sass/_module-showcase.scss */
#profile img,
#know img,
#video img,
.showcase img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 0.875em; }
  /* line 11, ../sass/_module-showcase.scss */
  #profile img.play_btn,
  #know img.play_btn,
  #video img.play_btn,
  .showcase img.play_btn {
    width: auto;
    position: absolute; }
/* line 18, ../sass/_module-showcase.scss */
#profile .title,
#profile .uptitle,
#know .title,
#know .uptitle,
#video .title,
#video .uptitle,
.showcase .title,
.showcase .uptitle {
  text-transform: uppercase !important; }

/* line 3, ../sass/_module-news.scss */
#news ul,
.news ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  /* line 7, ../sass/_module-news.scss */
  #news ul li,
  .news ul li {
    clear: both;
    margin: 0;
    padding: 0;
    background-image: none;
    list-style-type: none; }
    /* line 16, ../sass/_module-news.scss */
    #news ul li img,
    .news ul li img {
      border: 1px solid #E7E5DE;
      border-bottom: solid 1px #DFDED2;
      box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.05);
      float: left;
      display: block;
      margin: 0 0.5em 0.5em 0; }
    /* line 22, ../sass/_module-news.scss */
    #news ul li .date,
    .news ul li .date {
      color: #929290;
      font-size: 9.88875px;
      letter-spacing: 1px;
      display: block;
      margin: -2px 0 0 0; }

/* line 1, ../sass/_module-carousel.scss */
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
  margin-bottom: 1em; }

/* line 7, ../sass/_module-carousel.scss */
.swipe-wrap {
  overflow: hidden;
  position: relative; }
  /* line 10, ../sass/_module-carousel.scss */
  .swipe-wrap > div {
    border-radius: 5px;
    float: left;
    width: 100%;
    position: relative;
    max-height: 320px; }
    /* line 16, ../sass/_module-carousel.scss */
    .swipe-wrap > div img {
      width: 100%;
      height: auto; }
    @media screen and (min-width: 40.0625em) {
      /* line 10, ../sass/_module-carousel.scss */
      .swipe-wrap > div {
        max-height: 270px; } }
    @media screen and (max-width: 40em) {
      /* line 10, ../sass/_module-carousel.scss */
      .swipe-wrap > div {
        min-height: 320px; }
        /* line 26, ../sass/_module-carousel.scss */
        .swipe-wrap > div img {
          width: auto;
          height: auto; } }
  /* line 33, ../sass/_module-carousel.scss */
  .swipe-wrap .slide-body {
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    width: 33%;
    height: 100%;
    padding: 0.6em 2em;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    background-color: #1b4084;
    background-color: rgba(27, 64, 132, 0.8); }
    @media screen and (max-width: 40em) {
      /* line 33, ../sass/_module-carousel.scss */
      .swipe-wrap .slide-body {
        width: 100%;
        padding: 2em;
        margin: 1em 0 0 0; }
        /* line 41, ../sass/_module-carousel.scss */
        .swipe-wrap .slide-body h1 {
          margin: 0.2em 0; } }
    /* line 53, ../sass/_module-carousel.scss */
    .swipe-wrap .slide-body h1, .swipe-wrap .slide-body .headline {
      font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
      font-size: 36px;
      color: #f1b523;
      line-height: 100%;
      text-transform: uppercase;
      letter-spacing: -1px;
      margin-bottom: 0.2em; }
    /* line 63, ../sass/_module-carousel.scss */
    .swipe-wrap .slide-body a {
      border: 1px solid #9e7a2a;
      border-color: #9e7a2a #8d741c #7f6d10;
      border-radius: 16px;
      box-shadow: inset 0 1px 0 0 #f2bd46, 0 1px 2px 0 #b3b3b3;
      color: white;
      display: inline-block;
      font-size: 11px;
      font-weight: normal;
      line-height: 1;
      background-color: #f1b523;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1b523), color-stop(100%, #e1bd00));
      background-image: -webkit-linear-gradient(#f1b523, #e1bd00);
      background-image: linear-gradient(#f1b523, #e1bd00);
      padding: 5px 16px;
      text-align: center;
      text-decoration: none;
      text-shadow: 0 -1px 1px #a98c1f;
      background-clip: padding-box; }
      /* line 224, ../../../../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/bourbon-3.1.8/app/assets/stylesheets/addons/_button.scss */
      .swipe-wrap .slide-body a:hover:not(:disabled) {
        border: 1px solid #906b18;
        border-color: #906b18 #81660a #715f00;
        box-shadow: inset 0 1px 0 0 #f1b932;
        cursor: pointer;
        background-color: #eead0f;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eead0f), color-stop(100%, #b59b10));
        background-image: -webkit-linear-gradient(#eead0f, #b59b10);
        background-image: linear-gradient(#eead0f, #b59b10);
        text-shadow: 0 -1px 1px #967a0e;
        background-clip: padding-box; }
      /* line 252, ../../../../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/bourbon-3.1.8/app/assets/stylesheets/addons/_button.scss */
      .swipe-wrap .slide-body a:active:not(:disabled) {
        background: #c6a01b;
        border: 1px solid #725e09;
        border-bottom: 1px solid #726604;
        box-shadow: inset 0 0 6px 3px #9e8908, 0 1px 0 0 white;
        text-shadow: 0 -1px 1px #927814; }
      /* line 38, ../../../../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/bourbon-3.1.8/app/assets/stylesheets/addons/_button.scss */
      .swipe-wrap .slide-body a:disabled {
        opacity: 0.5;
        cursor: not-allowed; }
    /* line 67, ../sass/_module-carousel.scss */
    .swipe-wrap .slide-body.left {
      left: 0; }
    /* line 71, ../sass/_module-carousel.scss */
    .swipe-wrap .slide-body.right {
      right: 0; }
    /* line 75, ../sass/_module-carousel.scss */
    .swipe-wrap .slide-body.bottom {
      bottom: 0;
      width: 100%;
      height: auto; }
      @media screen and (max-width: 40em) {
        /* line 75, ../sass/_module-carousel.scss */
        .swipe-wrap .slide-body.bottom {
          height: 100%; } }
      /* line 82, ../sass/_module-carousel.scss */
      .swipe-wrap .slide-body.bottom h1, .swipe-wrap .slide-body.bottom p {
        margin: 0; }

/* 
*		Global header
*		=============
*
*		beginning with the top of the page,
*		this includes the global links, search box, logo,
*		site title (on interior pages), and site navigation. 
*/
/* line 11, ../sass/_header.scss */
#topNav,
.global-nav {
  padding: 0;
  list-style: none;
  margin: 0; }
  /* line 18, ../sass/_header.scss */
  #topNav a,
  .global-nav a {
    display: block;
    padding: 16px;
    border-top: 1px solid #d5cca7;
    border-bottom: 1px solid white;
    background-color: white; }
  @media screen and (min-width: 40.0625em) {
    /* line 11, ../sass/_header.scss */
    #topNav,
    .global-nav {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
      /* line 32, ../sass/_header.scss */
      #topNav > li,
      .global-nav > li {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        background-image: none;
        border-left: 1px solid #C2CDC9;
        line-height: 1.2em;
        list-style-type: none; }
      /* line 40, ../sass/_header.scss */
      #topNav a,
      .global-nav a {
        padding: 3em 1.4em 0.4em;
        border: none;
        background-color: transparent; }
        /* line 22, ../sass/_utilities.scss */
        #topNav a:hover, #topNav a:active, #topNav a:focus,
        .global-nav a:hover,
        .global-nav a:active,
        .global-nav a:focus {
          background-color: #d8d8d6; } }

/*
*		Search box styles
*/
/* line 60, ../sass/_header.scss */
.search .query {
  color: #8e8c87;
  border: 1px solid white;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  line-height: 140%;
  font-size: 14px;
  padding: 8px; }
  /* line 70, ../sass/_header.scss */
  .search .query:focus, .search .query:active {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); }
/* line 75, ../sass/_header.scss */
.search label {
  color: transparent;
  font: 0/0 a;
  text-shadow: none; }
@media screen and (min-width: 40.0625em) {
  /* line 82, ../sass/_header.scss */
  .search .query {
    padding: 8px; } }

/* line 91, ../sass/_header.scss */
#logo {
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
  background-position: left center;
  background-repeat: no-repeat;
  margin-right: 0;
  padding: 10em 0; }
  /* line 98, ../sass/_header.scss */
  .dept #logo {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%;
    width: 144px;
    height: 45px;
    background-size: contain;
    max-width: 144px;
    background-image: url("../images/logos/ucsc-logo-small.png"); }
    /* line 40, ../../../../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/neat-1.5.0/app/assets/stylesheets/grid/_span-columns.scss */
    .dept #logo:last-child {
      margin-right: 0; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
      /* line 98, ../sass/_header.scss */
      .dept #logo {
        background-image: url("../images/logos/ucsc-logo-small@2x.png");
        background-size: 144px 45px; } }
  /* line 106, ../sass/_header.scss */
  .homeEnv #logo {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    background-size: contain;
    max-width: 261px;
    height: 72px;
    background-image: url("../images/logos/ucsc-logo-large.png");
    padding: 0; }
    /* line 40, ../../../../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/neat-1.5.0/app/assets/stylesheets/grid/_span-columns.scss */
    .homeEnv #logo:last-child {
      margin-right: 0; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
      /* line 106, ../sass/_header.scss */
      .homeEnv #logo {
        background-image: url("../images/logos/ucsc-logo-large@2x.png");
        background-size: 261px 72px; } }
    @media screen and (max-width: 40em) {
      /* line 106, ../sass/_header.scss */
      .homeEnv #logo {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        margin-bottom: 16px; }
        /* line 40, ../../../../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/neat-1.5.0/app/assets/stylesheets/grid/_span-columns.scss */
        .homeEnv #logo:last-child {
          margin-right: 0; } }

/* line 122, ../sass/_header.scss */
#mainNav {
  padding: 0;
  margin: 0;
  width: 100%;
  list-style: none;
  border-radius: 0;
  background-image: none;
  border-radius: 0;
  width: 100%;
  display: block; }
  /* line 135, ../sass/_header.scss */
  #mainNav a, #mainNav span {
    border-radius: 0;
    background-image: none;
    display: block;
    padding: 16px;
    border-top: 1px solid #d5cca7;
    border-bottom: 1px solid white;
    background-color: white; }
  @media screen and (min-width: 40.0625em) {
    /* line 122, ../sass/_header.scss */
    #mainNav {
      display: table;
      border-radius: 5px;
      border: 1px solid #E7E5DE;
      border-bottom: solid 1px #DFDED2;
      box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.05);
      width: 100%;
      table-layout: fixed;
      padding-left: 0 !important;
      border-collapse: separate; }
      /* line 156, ../sass/_header.scss */
      #mainNav > li {
        float: none;
        display: table-cell;
        width: 1%;
        position: relative; }
        /* line 162, ../sass/_header.scss */
        #mainNav > li:first-child a {
          border-radius: 5px 0 0 5px; }
        /* line 168, ../sass/_header.scss */
        #mainNav > li:last-child a, #mainNav > li:last-child span {
          border-radius: 0 5px 5px 0; }
        /* line 173, ../sass/_header.scss */
        #mainNav > li > a, #mainNav > li span {
          border: none;
          background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f4f1e6), to(white));
          color: #cb9001;
          cursor: pointer;
          display: block;
          width: 100%;
          font-size: .8em;
          font-weight: bold;
          padding: 0.4em 0.2em;
          text-transform: uppercase;
          text-decoration: none;
          text-shadow: 1px 1px 0px #FFF;
          text-align: center; }
          /* line 191, ../sass/_header.scss */
          #mainNav > li > a:focus, #mainNav > li > a:hover, #mainNav > li > a:active, #mainNav > li span:focus, #mainNav > li span:hover, #mainNav > li span:active {
            color: #cb9001;
            text-decoration: none;
            background: #296FA3;
            background-color: #5585a2;
            background-repeat: repeat-x;
            background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#296fa3), to(#5992bd));
            background-position: top left;
            -moz-text-shadow: none;
            text-shadow: none; }
      /* line 208, ../sass/_header.scss */
      #mainNav > li ul {
        display: none; } }

/* line 1, ../sass/_footer.scss */
#footer {
  border-top: 1px solid white;
  padding-top: 12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: baseline;
  -ms-flex-line-pack: baseline;
  align-content: baseline; }
  /* line 8, ../sass/_footer.scss */
  #footer .address {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    text-transform: uppercase;
    font-size: 9.88875px;
    line-height: 16px; }
  /* line 14, ../sass/_footer.scss */
  #footer .links {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    text-align: right; }
  /* line 20, ../sass/_footer.scss */
  #footer .social-media {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
    text-align: right; }
    /* line 24, ../sass/_footer.scss */
    #footer .social-media a {
      display: inline-block;
      width: 24px;
      overflow: hidden; }
      /* line 28, ../sass/_footer.scss */
      #footer .social-media a img {
        position: relative;
        left: 0px; }
      /* line 35, ../sass/_footer.scss */
      #footer .social-media a:focus img, #footer .social-media a:hover img, #footer .social-media a:active img {
        position: relative;
        left: -24px; }
  @media screen and (max-width: 40em) {
    /* line 1, ../sass/_footer.scss */
    #footer {
      -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap; }
      /* line 48, ../sass/_footer.scss */
      #footer .address, #footer .links, #footer .social-media {
        text-align: center; } }

/* line 57, ../sass/_footer.scss */
#page_bottom,
.page-footer {
  text-align: center;
  text-transform: uppercase;
  font-size: 9.88875px;
  line-height: 16px; }

/* line 2, ../sass/_homeless.scss */
#access-links {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0; }
  /* line 7, ../sass/_homeless.scss */
  #access-links > li {
    position: relative;
    background-image: none;
    list-style: none;
    margin: 0;
    padding: 0; }
    /* line 13, ../sass/_homeless.scss */
    #access-links > li a {
      background-color: rgba(0, 0, 0, 0.8);
      color: #CCC;
      display: block;
      font-size: 1.8em;
      font-weight: 700;
      left: -900em;
      outline: none;
      padding: 1.2em 2em 1.2em 3.2em;
      position: absolute;
      text-decoration: none;
      text-transform: uppercase;
      top: 0;
      width: 100%;
      z-index: 100; }
      /* line 28, ../sass/_homeless.scss */
      #access-links > li a:focus {
        left: 0em; }
