---
layout: default.hbs
title: News Article
description: "Four-year public institution comprised of ten residential college communities nestled in the redwood forests and meadows overlooking central California's Monterey Bay."
keywords: "university, college, Santa Cruz, California"
classes: "contentLeftNav dept article left-column"
www: false
dept: true
front: false
---

<div class="row" id="sprflt">
  
  <div id="mainContent">

  
    
    <h1 id="title">Making tangible change</h1>

    {{!-- <p class="subhead">Alums who formed socially conscious nonprofit as a way of keeping in touch have funded more than $180,000 in projects</p> --}}

<div class="campus-message"><p class="message-to">To: UCSC Students</p><p class="message-from">From: Meg Kobe, Director of SHOP</p></div>


    <div class="article-meta"><p class="date">February 19, 2013</p><p class="vcard">
            By
            <a class="email fn" href="mailto:gwenj@ucsc.edu">Peggy Townsend</a></p></div>

<div class="contentBox">

<div class="imageHolder"><table border="0" cellpadding="0" class="mainImage" summary="Article image" valign="top" width="120"><tbody><tr><td><img alt="Radhika Mitra 1.jpg" src="http://news-dev.ucsc.edu/2013/02/images/Radhika%20Mitra%201.jpg?t=0"><div class="prCaption">Computer science major&nbsp;Radhika Mitra&nbsp;founded a tax-deductible charitable organization called <a href="http://rennow.org">Renaissance Now</a>&nbsp;to help&nbsp;artisans in developing countries.</div></td></tr></tbody></table></div>

    <figure>      
      <img alt="skye-michael-dean.jpg" src="http://news.ucsc.edu/2014/02/images/skye-michael-dean.jpg">
      <figcaption class="prCaption">
        <p>Left to right: Skye Leone, Michael Freund, and Dean Alper in the Langtang&#160;Valley in Nepal. The three are part of Friends Foundation International.</p>
      </figcaption>
    </figure>

    <figure class="new-image">
      <img alt="sam-cooley-award.jpg" src="http://news.ucsc.edu/2014/02/images/sam-cooley-award.jpg">
      <figcaption class="prCaption">
        <p>UCSC graduate Sarah Sampson used a Richard Cooley Memorial Endowment grant&#160;to study baby mussels in the rocky intertidal zone.</p>
      </figcaption>
    </figure>

    <div class="imageHolder">
      <figure>
              <img alt="" src="http://news-dev.ucsc.edu/2010/02/images/chris_darimont.72dpi.jpg?t=0">
              <figcaption>Chris Darimont, post doctoral researcher in environmental studies.</figcaption>
            </figure>
    </div>

    <div class="article-body"><p>As 22-year-old UC Santa Cruz researcher Sarah Sampson searched for baby mussels along California's rocky Central Coast, a student at the Tegeruka Secondary School in rural Tanzania flicked on the lights in his classroom.</p>
    <p>Though thousands of miles and two cultures apart, the students shared a connection. Both were beneficiaries of a micro-grant supplied by a group of UCSC alumni who were so inspired by a single class they shared in 1975 that they've spent the last 20-plus years funding environmental and social projects around the world.</p>
    <p>So far, the men estimate, they've handed out more than $180,000, most of it out of their own pockets and word-of-mouth donations.</p>
    <p>The Vietnam War had just ended when eight guys walked into a UCSC class titled <i>The Political Economy of Ecology</i> led by a vibrant young professor named Claudia Carr, who now teaches at UC Berkeley.</p>
    <p>The class was rigorous and thought-provoking, and it wasn't long before Skye Leone, Dean Alper, John Razz Cohn, Eric Dazey, Michael Freund, Ken Hart, David Paul, and Glen Price were hanging out.</p>
    <p>"All of us really loved the outdoors. We loved nature. We enjoyed learning," remembered Leone (Cowell '77, environmental planning). "And Claudia instilled in us a social conscience. She walked her talk. She was a social activist."</p>
    <p>The men stayed in touch after graduation and, in 1990, they decided to form a non-profit foundation as a way to ensure they got together at least once a year. They named themselves Friends Foundation International, and their first grant helped UCSC students build a pond designed to protect the threatened California red-legged frog.</p>
    <p>It wasn't long before projects began to spread beyond Santa Cruz. Friends Foundation International backed a student working with Native Americans in Alaska. It gave money to a lawyer protecting native land rights in Ecuador, and bought a video camera for a ranger in Costa Rica who wanted to document poaching activities.</p>
    <p>"We became clear our mission was to help fund projects that would result in a tangible change in the human condition or the environment," said Leone, who noted the group's office is a file cabinet in one of their member's law office. "We want to be able to say at the end of a project, 'This is different.'"</p>
    <p>The group's project list is a collection of both the small and the large. They've bought warm winter clothes for Hmong children in a mountainous region of Vietnam and helped complete the second floor of a women's resource center in an impoverished area of Tajikistan in Central Asia. They've given money to construct a hydro-electric plant for rural villagers in northern Bali, funded tree-planting in urban Compton, Calif., helped build toilets and a drinking-water fountain at a rural elementary school in Sikkim, India, and supported a legal assistance group in China fighting for fishermen who allege they lost their livelihood after a chemical discharge reportedly caused most of the fish in the Huai River to die.</p>
    <p>The grants are generally not the stuff of news coverage. But, notes Leone, who is a senior recreation supervisor for UCSC's Office of Physical Education, Recreation and Sports, they often lead to bigger and better things.</p>
    <p>"What we're doing is helping them (our recipients) go from zero to one," he said, "so they can say, 'The Friends Foundation gave us $2,500 and here's what we did and how about giving us $10,000?'"</p>
    <p>Among their donations was a $2,400 grant in 1996 that would lay the foundation for an endowment honoring the late Richard Cooley, the charismatic founder of UCSC's environmental studies program and a gifted teacher whose work on conservation issues in Alaska was widely recognized. The endowment has since grown to about $46,000.</p>
    <p>Which is how Sampson, who graduated from UCSC in 2013 with an environmental studies degree, came to be out in the tide pools searching for baby California mussels.</p>
    <p>Hands reddened by cold Pacific water, Sampson's goal was to identify algae and substrates that might attract and support baby California mussels, a foundational species that helps restore intertidal zones after damage from oil spills.</p>
    <p>She used her $1,000 Richard A. Cooley Memorial Endowment grant for necessities like travel expenses, foul weather gear, and rain boots. But the results of her work helped lay the groundwork for more research into intertidal restoration and, she said, also fueled her love of field research.</p>
    <p>Currently, she is working as a scientific diver for a UCSC project studying a mysterious disease that is causing sea stars to waste away and die.</p>
    <p>Sampson's grant was part of a pattern of small actions that lead to a greater result, which is what the guys from that small class in the '70s wanted.</p>
    <p>"We live in a place of great privilege, and to do nothing with that is, well, in Claudia's words, not acceptable," Leone said.</p>
  <p><i>To find out more, visit the <a href="http://friendsfoundationinternational.org">Friends Foundation International website</a>.</i></p></div></div>

  
</div>

<div id="subNav" class="sidebar">
    <!-- Included content -->
    <div>
      <h4>University News</h4>
      <ul>
        <li><a href="http://news.ucsc.edu">University News Home</a></li>
        <li><a href="http://www.ucsc.edu/news_events/newsletter/">Monthly Newsletter</a></li>
      </ul>
      <h4>Other News &amp; Events</h4>
      <ul>
        <li><a href="http://www.ucsc.edu/tools/calendars.html">Campus Calendars</a></li>
        <li><a href="http://www.goslugs.com/" title="GoSlugs.com">Slug Sports</a></li>
        <li><a href="http://www.universityofcalifornia.edu/news/">UC News</a></li>
      </ul>
      <h4>Features</h4>
      <ul>
        <li class="imgLink"><a href="http://review.ucsc.edu/"><span class="floatLeftImg"><img alt="Review Fall 2013 Cover" src="http://www1.ucsc.edu/news_events/review/fall13/cover-thumb.jpg"></span> <span class="floatLeftText">Review Magazine<br> Fall 2013</span></a>
          <div class="clear-both"></div>
        </li>
        <li class="imgLink"><a href="http://giving.ucsc.edu/reports/2012-13/index.php"><span class="floatLeftImg"><img alt="P3: Passion. Promise. Philanthropy" class="floatLeftImg" height="99" src="http://foundation.ucsc.edu/images/report_thumbnail.gif" width="76"></span> <span class="floatLeftText">Profiles in Giving Winter 2013</span></a>
          <div class="clear-both"></div>
        </li>
      </ul>
      <h4>Resources</h4>
      <ul>
        <li><a href="http://messages.ucsc.edu/" title="Administrative Messages">Administrative Messages</a></li>
        <li><a href="http://chancellor.ucsc.edu/" title="UCSC Chancellor">UCSC Chancellor</a></li>
        <li><a href="http://press.ucsc.edu/" title="Press Releases">Press Releases</a></li>
        <li><a href="http://news.ucsc.edu/rss/">RSS feeds</a></li>
        <li><a href="http://news.ucsc.edu/contacts-for-reporters.html">Contacts for Reporters</a></li>
        <li><a href="mailto:pio@ucsc.edu">Feedback</a></li>
      </ul>
      <p class="give-button"><a href="https://secure.imodules.com/s/1069/index-2-column.aspx?sid=1069&amp;gid=1&amp;pgid=761&amp;cid=1722"><img alt="Give now" height="35" src="http://www.ucsc.edu/images/interface/give-now-both.png" width="360"></a></p>
    </div>

</div>

</div><!-- /sptflt -->
