---
layout: default.hbs
title: Campus Home Page
description: "Four-year public institution comprised of ten residential college communities nestled in the redwood forests and meadows overlooking central California's Monterey Bay."
keywords: "university, college, Santa Cruz, California"
classes: "www home homeEnv"
www: true
front: true
---

      <div class="row three combined light">

        <div class="wrap">
          <div id="events">
            <h2 class="block-header"><a href="https://events.ucsc.edu">Featured <span>Events</span></a></h2>
            <dl>
              <dt>Feb <strong>14</strong></dt>
              <dd><a href="https://events.ucsc.edu/event/2154">Dance: Random With a Purpose - thru 2/22<br></a></dd>
              
              <dt>Feb <strong>21</strong></dt>
              <dd><a href="https://events.ucsc.edu/event/2093">Banff Mountain Film Festival World Tour - thru Feb. 23<br></a></dd>
              
              <dt>Feb <strong>28</strong></dt>
              <dd><a href="http://news.ucsc.edu/2014/02/climate-science-conference.html">Climate Science and Policy through the Looking Glass<br></a></dd>      
            </dl>

            <p><a class="more" href="https://events.ucsc.edu" title="More campus events">More events</a></p>
          </div>
        </div>
        
        <div class="wrap">
          <div id="news" class="news">
            <h2 class="block-header"><a class="headline" href="http://news.ucsc.edu">University <span>News</span></a></h2>
            
            <ul>
              <li>
                <a href="http://news.ucsc.edu/2014/02/climate-science-conference.html">
                  <span class="thumbnail">
                    <img alt="" class="fltlft" height="52px" src="http://news.ucsc.edu/2014/02/images/hands-on-globe-80.jpg">
                  </span>
                    <span class="date">February 7, 2014</span>
                    <span class="headline">UCSC climate conference draws distinguished scientists, policymakers</span>
                </a>
              </li>
              <li>
                <a href="http://news.ucsc.edu/2014/02/friends-foundation-international.html">
                  <span class="thumbnail"><img alt="Skye Leone, Michael Freund, and Dean Alper" class="fltlft" height="52px" src="http://news.ucsc.edu/2014/02/images/skye-michael-dean thumb.jpg"></span>
                  <span class="date">February 7, 2014</span>
                  <span class="headline">Making tangible change</span></a>
              </li>
              <li>
                <a href="http://news.ucsc.edu/2014/02/baroque-burman-hall.html">
                <span class ="thumbnail"><img alt="UC Santa Cruz music professor Linda Burman-Hall" height="52px" src="http://news.ucsc.edu/2014/02/images/Burman-Hall-thumb.jpg"></span>
                <span class="date">February 5, 2014</span>
                <span class="headline">If It ain't Baroque, don't fix it</span></a>
              </li>
            </ul>

            <p><a class="more" href="http://news.ucsc.edu" title="More UCSC news stories">More news</a></p>
          </div>
        </div>

        <div class="wrap">
        <div id="quickstart">
          <h2 class="block-header">Quickstart <span>Guides</span></h2>
          <ul>
            <li><a href="http://studentservices.ucsc.edu">Current Students</a></li>
            <li><a href="quickstart/faculty-staff/index.html">Faculty &amp; Staff</a></li>
            <li><a href="http://alumni.ucsc.edu">Alumni</a></li>
            <li><a href="quickstart/prospective-students/index.html">Prospective Students</a></li>
            <li><a href="quickstart/family/index.html">Parents &amp; Family</a></li>
            <li><a href="quickstart/community/index.html">Community</a></li>
          </ul>

         <div class="event-badge" style="margin-top:10px;padding-left:10px;">
         <a href="https://secure.imodules.com/s/1069/index-2-column.aspx?sid=1069&amp;gid=1&amp;pgid=761&amp;cid=1722&amp;utm_source=homepage&amp;utm_medium=button&amp;utm_campaign=giving"><img alt="Make a gift" height="52" src="http://www.ucsc.edu/images/banners/makeagift_red.png" width="216"></a>
        </div>

</div>
</div>
      </div>
      
      <div class="row three separate dark">
        <div class="wrap">
          <div id="profile" class="block profile-block">
            <h3 class="block-header">Uncommon <span>People</span></h3>
            <div class="inner">
              <a href="http://news.ucsc.edu/2014/02/friends-foundation-international.html" title="Read more about FRIENDS FOUNDATION INTERNATIONAL">
                <img alt="Uncommon People: FRIENDS FOUNDATION INTERNATIONAL" src="http://news.ucsc.edu/2014/02/images/skye-michael-dean-216.jpg"></a>
                <a class="upTitle" href="http://news.ucsc.edu/2014/02/friends-foundation-international.html" title="Read more about FRIENDS FOUNDATION INTERNATIONAL">FRIENDS FOUNDATION INTERNATIONAL</a>
                <p>Eight alums who formed a socially conscious nonprofit as a way of keeping in touch have funded more than $180,000 in projects.  <a class="continu" href="http://news.ucsc.edu/2014/02/friends-foundation-international.html" title="Read more about FRIENDS FOUNDATION INTERNATIONAL"> Continue&#187;</a>
                </p>
              </div>
            </div>
          </div>

          <div class="wrap">
            <div id="know" class="block factoid-block">
              <h3 class="block-header">Did You <span>Know?</span></h3>
              <div class="inner">
                <img alt="UCSC has awarded 100,000 degrees to students since the campus opened." height="223" src="http://www.ucsc.edu/images/thought-provoking/100000-degrees.gif" width="227">
              </div>
            </div>
          </div>
        
          <div class="wrap last">
            <div id="video" class="block video-block">
              <h3 class="block-header">Video <span>Spotlight</span></h3>
              <div class="inner">
                <a class="fb thumb_link" href="https://www.youtube.com/watch?v=8HseIlmFKIE" title="Watch this video about Gabe Zimmerman Memorial Scholarship Fund">
                  <img alt="Play this video" class="play-button" height="35" src="http://static.ucsc.edu/images/play_btn.png" width="48">
                  <img alt="YouTube video thumbnail" src="http://news.ucsc.edu/video/images/gabe-zimmer-funding.jpg" width="216">
                </a>
                <a class="fb upTitle" href="https://www.youtube.com/watch?v=8HseIlmFKIE" title="Watch this video about Gabe Zimmerman Memorial Scholarship Fund">Gabe Zimmerman Memorial Scholarship Fund</a>
                <p>This fund has been established to support undergraduate students in the Division of Social Sciences.&#160;<a class="fb continu" href="https://www.youtube.com/watch?v=8HseIlmFKIE" title="Watch this video about Gabe Zimmerman Memorial Scholarship Fund">Watch&#187;</a> | <a class="fb continu" href="http://news.ucsc.edu/video/index.html" title="Video Library">Video Library&#187;</a></p>
              </div>
            </div>
          </div>
      
      </div>
      
      <div class="row four clear">
        <div class="wrap">
          <h4>About <span>UCSC</span></h4>
          <p>UC Santa Cruz is a public university like no other in California, combining the intimacy of a small, liberal arts college with the depth and rigor of a major research university.</p>
          <ul>
            <li><a href="about/facts-figures.html">Facts &amp; Figures</a></li>
            <li><a href="about/achievements/index.html">Achievements</a></li>
            <li><a href="http://news.ucsc.edu/">University News</a></li>
            <li><a href="about/administration.html">Administration</a></li>
            <li><a href="http://library.ucsc.edu/">UCSC Libraries</a></li>
            <li><a href="http://www1.ucsc.edu/about/employment.asp">Employment</a></li>
            <li><a href="fees-cost/index.html">Cost of Attending</a></li>
            <li><a href="http://diversity.ucsc.edu">Diversity</a></li>
            <li><a href="about/crime-stats/index.html">Crime Awareness Reports</a></li>
          </ul>
        </div>
        
        <div class="wrap">
          <h4>Academic <span>Divisions</span></h4>
          <p>Looking for a specific division, undergraduate major, or graduate program?</p>
          <ul>
            <li><a href="http://arts.ucsc.edu">Arts</a></li>
            <li><a href="http://soe.ucsc.edu/">Engineering</a></li>
            <li><a href="http://humanities.ucsc.edu/">Humanities</a></li>
            <li><a href="http://pbsci.ucsc.edu/">Physical &amp; Biological Sciences</a></li>
            <li><a href="http://socialsciences.ucsc.edu/">Social Sciences</a></li>
            <li><a href="https://admissions.sa.ucsc.edu/discover/majors/index.cfm">Undergraduate Majors</a></li>
            <li><a href="http://graddiv.ucsc.edu/">Graduate Programs</a></li>
            <li><a href="http://www.ucsc-extension.edu/">UCSC Extension</a></li>
          </ul>
        </div>
        
        <div class="wrap">
          <h4>The <span>Colleges</span></h4>
          <p>UCSC residential learning colleges provide students with academic support, activities, and events that enhance the intellectual and social life of the campus.</p>
          <ul>
          <li><a href="campus/colleges.html">UCSC's Colleges</a></li>
          <li><a href="http://registrar.ucsc.edu/catalog/campus-life/index.html">Compare the Colleges</a></li>
          <li><a href="http://admissions.ucsc.edu/publications/Communities-of-Learning-2013-14-web.pdf">Communities of Learning</a></li>
          </ul>
        </div>
        
        <div class="wrap last">
          <h4>Support <span>UCSC</span></h4>
          <p>Gifts to UCSC support solutions to everyday challenges. Learn more or give today.</p>
          <ul>
          <li><a href="https://secure.imodules.com/s/1069/index-2-column.aspx?sid=1069&amp;gid=1&amp;pgid=761&amp;cid=1722">Give Today</a></li>
          <li><a href="http://giving.ucsc.edu/index.html">Learn More</a></li>
          </ul>
        </div>
      
      </div>
