---
layout: default.hbs
title: Department Gallery Page
description: "Four-year public institution comprised of ten residential college communities nestled in the redwood forests and meadows overlooking central California's Monterey Bay."
keywords: "university, college, Santa Cruz, California"
dept: true
front: false
classes: "contentLeftNav dept"
---



<div id="sprflt">
  

    <div id="mainContent">
      
    <div class="contentBox">

      <div>
        <h1 id="title">People Image Gallery</h1>
      </div>

      <div>
        <p>Some of the images in these collections were created and copyrighted by Laurie Hatch. The photographs are made available through an agreement with the University of California Observatories and W.M. Keck Observatory. For more information on permission to use those images with the embedded copyright by Laurie Hatch, please click <a href="http://www.lauriehatch.com/Asset.asp?AssetID=58954&amp;AKey=6Q457TBG">here</a>.</p>
    
        <p>Select any of the thumbnail images below to start slideshow.</p>
  
      </div>


      <div class="callout-full fixed-700">
        <ul class="thumb-grid">
          <li><a href="http://www.astro.ucsc.edu/about_department/image_gallery/images_people/Super computer room resize.jpg" rel="show" title="Groovy couches, big brains, and great camaraderie abound in Enrico Ramirez-Ruiz&apos;s astrophysics supercomputer lab for undergrad"><img alt="Groovy couches, big brains, and great camaraderie abound in Enrico Ramirez-Ruiz&apos;s supercomputer lab for undergrad" height="86" src="http://www.astro.ucsc.edu/about_department/image_gallery/images_people/Super computer room TN.jpg" width="120"></a></li><li><a href="http://www.astro.ucsc.edu/about_department/image_gallery/images_people/Group Photo Fall 2013.jpg" rel="show" title="Fall 2013 Welcome Reception"><img alt="Group Photo Fall 2013 Welcome Reception" height="86" src="http://www.astro.ucsc.edu/about_department/image_gallery/images_people/Group Photo Fall 2013 TN.jpg" width="120"></a></li><li><a href="http://www.astro.ucsc.edu/about_department/image_gallery/images_people/New Grad Cohort Fall 2013.jpg" rel="show" title="New Graduate Cohort Fall 2013"><img alt="New Graduate Cohort Fall 2013" height="86" src="http://www.astro.ucsc.edu/about_department/image_gallery/images_people/New Grad Cohort Fall 2013 TN.jpg" width="120"></a></li><li><a href="http://www.astro.ucsc.edu/about_department/image_gallery/images_people/faber reduced.jpg" rel="show" title="President Obama congratulates Sandra Faber after awarding her the National Medal of Science. (Photo by Ryan K Morris/National Science &amp; Technology Medals Foundation)"><img alt="President Obama and Sandy Faber - Medal of Science - Feb 2013" height="86" src="http://www.astro.ucsc.edu/about_department/image_gallery/images_people/faber reduced tn.jpg" width="120"></a></li><li><a href="http://www.astro.ucsc.edu/about_department/image_gallery/images_people/Bower Award Franklin Institute 1 lo res.jpg" rel="show" title="2009 Franklin Institute Awards - Astronomer Sandra Faber, Center - Right. The Franklin Institute Awards are among the oldest and most prestigous science awards in the world."><img alt="2009 Franklin Institute Awards - Astronomer Sandra Faber" height="86" src="http://www.astro.ucsc.edu/about_department/image_gallery/images_people/Bower Award Franklin Institute 1 lo restn.jpg" width="120"></a></li><li><a href="http://www.astro.ucsc.edu/about_department/image_gallery/images_people/Jonathan Fortney.jpg" rel="show" title="Associate Professor Jonathan Fortney December 2012"><img alt="Associate Professor Jonathan Fortney" height="86" src="http://www.astro.ucsc.edu/about_department/image_gallery/images_people/Jonathan Fortneytn.jpg" width="120"></a></li><li><a href="http://www.astro.ucsc.edu/about_department/image_gallery/images_people/Fall Welcome Reception 2010.jpg" rel="show" title="Fall Welcome Reception 2010"><img alt="Fall Welcome Reception 2010" height="86" src="http://www.astro.ucsc.edu/about_department/image_gallery/images_people/Fall Welcome Reception 20101.jpg" width="120"></a></li><li><a href="http://www.astro.ucsc.edu/about_department/image_gallery/images_people/ConnieRockosi_SDSStelescope.jpg" rel="show" title="Professor Connie Rockosi is one of the founders of the Sloan Digital Sky Survey."><img alt="Professor Connie Rockosi" height="86" src="http://www.astro.ucsc.edu/about_department/image_gallery/images_people/ConnieRockosi_SDSStelescopetn.jpg" width="120"></a></li><li><a href="http://www.astro.ucsc.edu/about_department/image_gallery/images_people/Faber welcome.jpg" rel="show" title="Chair Sandra Faber presents the &quot;year in review&quot; at our annual Fall Welcome Reception.  2010"><img alt="Chair Sandra Faber presents the &quot;year in review&quot; " height="86" src="http://www.astro.ucsc.edu/about_department/image_gallery/images_people/Faber welcometn.jpg" width="120"></a></li><li><a href="http://www.astro.ucsc.edu/about_department/image_gallery/images_people/laughlinbrainwave2lores.jpg" rel="show" title="UCSC Astronomer Greg Laughlin joined acclaimed composer Philip Glass to explore the music of the universe at the Rubin Art Museum in New York. 2010  (Image courtesy of Michael J Palma)"><img alt="UCSC Astronomer Greg Laughlin " height="86" src="http://www.astro.ucsc.edu/about_department/image_gallery/images_people/laughlinbrainwave2loresTN.jpg" width="120"></a></li><li><a href="http://www.astro.ucsc.edu/about_department/image_gallery/images_people/LaughlinBrainwave lores.jpg" rel="show" title="UCSC Astronomer Greg Laughlin joined acclaimed composer Philip Glass to explore the music of the universe at the Rubin Art Museum in New York. 2010 (Image courtesy of Michael J Palma)"><img alt="UCSC Astronomer Greg Laughlin" height="86" src="http://www.astro.ucsc.edu/about_department/image_gallery/images_people/LaughlinBrainwave loresTN.jpg" width="120"></a></li><li><a href="http://www.astro.ucsc.edu/about_department/image_gallery/images_people/krumholz_mark2.320.jpg" rel="show" title="Astrophysicist Mark Krumholz Studies star formation and galaxy formation. (Photo by Shmuel Thaler)"><img alt="Astrophysicist Mark Krumholz Studies" height="86" src="http://www.astro.ucsc.edu/about_department/image_gallery/images_people/krumholz_mark2TN.jpg" width="120"></a></li><li><a href="http://www.astro.ucsc.edu/about_department/image_gallery/images_people/Dave_over_optics.jpg" rel="show" title="Optician Dave Hilyard and the DEIMOS spectrograph camera optics."><img alt="Optician Dave Hilyard " height="86" src="http://www.astro.ucsc.edu/about_department/image_gallery/images_people/Dave_over_opticsTN.jpg" width="120"></a></li><li><a href="http://www.astro.ucsc.edu/about_department/image_gallery/images_people/LAO.KatieMorzinski.MarkAmmons 1.jpg" rel="show" title="Grad students, Katie Morzinski and Mark Ammons aligning the beam in the Moore Adaptive Optics Lab."><img alt="Grad students, Katie Morzinski and Mark Ammons " height="86" src="http://www.astro.ucsc.edu/about_department/image_gallery/images_people/LAOTN.jpg" width="120"></a></li><li><a href="http://www.astro.ucsc.edu/about_department/image_gallery/images_people/santacruz_d2_053.jpg" rel="show" title="Sandra Faber, University Professor and Astronomer Credit:Elena Zhukova (photomomentum.com)"><img alt="Sandra Faber, University Professor and Astronomer " height="86" src="http://www.astro.ucsc.edu/about_department/image_gallery/images_people/santacruz_d2_053TN.jpg" width="120"></a></li><li><a href="http://www.astro.ucsc.edu/about_department/image_gallery/images_people/SIP.jpg" rel="show" title="Summer 2010 - UCSC Science Internship Program (SIP) for high school students led by Professor Raja Guhathakurta"><img alt="Summer 2010 - UCSC Science Internship Program" height="86" src="http://www.astro.ucsc.edu/about_department/image_gallery/images_people/SIP TN.jpg" width="120"></a></li><li><a href="http://www.astro.ucsc.edu/about_department/image_gallery/images_people/LH7294_GradStudentWorkshop09_600x450.jpg" rel="show" title="Annual Graduate Student Observational Astronomy Workshop at Lick Observatory. 2009  (Image courtesty of L. Hatch &#xA9; ) "><img alt="Annual Graduate Student Observational Astronomy Workshop" height="86" src="http://www.astro.ucsc.edu/about_department/image_gallery/images_people/LH7294_GradStudentWorkshopTN.jpg" width="120"></a></li><li><a href="http://www.astro.ucsc.edu/about_department/image_gallery/images_people/Karrie and Evan with DEIMOS at Keck II.jpg" rel="show" title="Evan Kirby and Karrie Gilbert - Graduate Students - Keck II - summit of Mauna Kea (2008)"><img alt="Grad Students Keck II" height="86" src="http://www.astro.ucsc.edu/about_department/image_gallery/images_people/Karrie and Evan with DEIMOS at Keck II_tn.jpg" width="120"></a></li><li><a href="http://www.astro.ucsc.edu/about_department/image_gallery/images_people/IMG_6668.JPG" rel="show" title="Department Annual Ski Trip.&#xA0; Faculty, Postdocs, Grad students, family members and friends hit the slopes each year for a weekend at Dodge Ridge. 2010"><img alt="Department Ski Trip" height="86" src="http://www.astro.ucsc.edu/about_department/image_gallery/images_people/IMG_6668tn.jpg" width="120"></a></li><li><a href="http://www.astro.ucsc.edu/about_department/image_gallery/images_people/Fumagali. Whitford.JPG" rel="show" title="Chair Sandy Faber presents Michele Fumagallii with the Whitford Award - graduate student who attains the highest achievement in research, coursework, teaching, and the preliminary exam.  (2010)"><img alt="Whitford Award" height="86" src="http://www.astro.ucsc.edu/about_department/image_gallery/images_people/Fumagalitn.jpg" width="120"></a></li><li><a href="http://www.astro.ucsc.edu/about_department/image_gallery/images_people/C Rockosi Coffee Disc.JPG" rel="show" title="Professor Connie Rockosi defends a viewpoint vigorously at &quot;Morning Science Coffee&quot; - A daily discussion of astronomy events and research attended by professors, postdocs and grad students."><img alt="Morning Coffee Discussion" height="86" src="http://www.astro.ucsc.edu/about_department/image_gallery/images_people/C Rockosi Coffee Disctn.jpg" width="120"></a></li><li><a href="http://www.astro.ucsc.edu/about_department/image_gallery/images_people/Astr_Softball_team_20091.jpg" rel="show" title="&quot;The Big Bangers&quot; - Astronomy Softball Team 2009"><img alt="Astronomy Softball team" height="86" src="http://www.astro.ucsc.edu/about_department/image_gallery/images_people/Astr_Softball_team_2009tn.jpg" width="120"></a></li><li><a href="http://www.astro.ucsc.edu/about_department/image_gallery/images_people/gutsch-faber-manning-400.jpg" rel="show" title="UCSC astronomer Sandra Faber (center) received the 2012 Catherine Wolfe Bruce Gold Medal from William Gutsch (left), board president of the Astronomical Society of the Pacific, and ASP executive director James Manning (right). Photo by Carolyn Lagattuta. "><img alt="Sandra Faber Bruce Medal" height="86" src="http://www.astro.ucsc.edu/about_department/image_gallery/images_people/gutsch-faber-manning-400 TN.jpg" width="120"></a></li><li><a href="http://www.astro.ucsc.edu/about_department/image_gallery/images_people/DSC_8272.jpg" rel="show" title="University Professor Sandra Faber proudly displays the 2012 Catherine Wolfe Bruce Gold Medal, which the Astronomical Society of the Pacific bestowed on her May 30 at a ceremony on the UCSC campus. Next to Professor Faber is the 2005 Bruce medal recipient, UCSC&apos;s Professor Emeritus Robert Kraft."><img alt="Sanda Faber Bob Kraft Bruce Medal" height="86" src="http://www.astro.ucsc.edu/about_department/image_gallery/images_people/Bruce Medal TN.jpg" width="120"></a></li><li><a href="http://www.astro.ucsc.edu/about_department/image_gallery/images_people/Transit 1.jpg" rel="show" title="Transit of Venus public viewing hosted by Department of Astronomy, June 5, 2012 at UCSC Porter &quot;Squiggle&quot;"><img alt="Transit of Venus Viewing" height="86" src="http://www.astro.ucsc.edu/about_department/image_gallery/images_people/Transit 1 TN.jpg" width="120"></a></li><li><a href="http://www.astro.ucsc.edu/about_department/image_gallery/images_people/transit 4 Mark Jacob.jpg" rel="show" title="https://wcms.ucsc.edu/entity/edit.act?id=6e7c6b1d8072704601015f885d96a03c&amp;type=page#Grad students Mark Mozena and Jacob Arnold set up telescopes for the public viewing event held for the Transit of Venus at UCSC on June 5, 2012"><img alt="Transit of Venus Viewing Mark Mozena Jacob Arnold" height="86" src="http://www.astro.ucsc.edu/about_department/image_gallery/images_people/transit 4 Mark Jacob TN.jpg" width="120"></a></li><li><a href="http://www.astro.ucsc.edu/about_department/image_gallery/images_people/2012 Grad Cohort Labeled Corrected.jpg" rel="show" title="Fall 2012 New Grad Cohort"><img alt="Fall 2012 New Grad Cohort" height="86" src="http://www.astro.ucsc.edu/about_department/image_gallery/images_people/Fall Welcome New Grad Cohort 2012 Labeled TN.jpg" width="120"></a></li><li><a href="http://www.astro.ucsc.edu/about_department/image_gallery/images_people/Fall Welcome Awards 2012 Labeled.jpg" rel="show" title="Fall 2012 Department Awards"><img alt="Fall 2012 Department Awards" height="86" src="http://www.astro.ucsc.edu/about_department/image_gallery/images_people/Fall Welcome Awards 2012 Labeled TN.jpg" width="120"></a></li></ul></div>
      </div>

 <h2>See <span>Also</span></h2><div id="seeAlso"><ul><li><a href="https://plus.google.com/photos/101808345096047180920/albums/5751065110652987121">Transit of Venus viewing event photo gallery - June 5, 2012</a></li></ul>
        </div>
    
    
<div id="subNav" class="sidebar">
    <ul>
      <li><a href="../index.html">About</a></li>
      <li><a href="../related_links.html">Affiliated Centers &amp; Facilities</a></li>
      <li><a class="external" href="http://www.ucolick.org/%7Emountain/AAA/">Ask an Astronomer</a></li><li><a href="../info_visitors/index.html">Contact &amp; Visitor Info</a></li>
      <li><a href="../people/index.html">Directory</a></li>
      <li><a href="../employment/index.html">Employment</a></li>
      <li><a href="../honors_awards/index.html">Honors &amp; Awards</a></li>
      <li><a href="index.html">Image Gallery</a>
        <ul>
          <li><a href="gallery-page_research.html">Research</a></li>
          <li><a href="gallery-page_Keck.html">Keck Observatory</a></li>
          <li><a href="gallery-page-lickobservatory.html">Lick Observatory</a></li>
          <li><a href="gallery-page_TMT.html">Thirty Meter Telescope</a></li>
          <li><a class="current" href="gallery-page_people.html">People</a></li>
          <li><a href="gallery-page_UCSC.html">UCSC</a></li>
        </ul>
      </li>
      <li><a class="external" href="http://www.astro.ucsc.edu/press-coverage/">Press Coverage</a></li>
      <li><a href="../dept_self_study_2007/index.html">Self Study 2007</a></li>
      <li><a href="../faculty-staff/index.html">For Faculty, Postdocs, &amp; Staff</a></li>
    </ul>
  </div>



  

</div>

<script src="http://static-dev.ucsc.edu/_responsive/lib/jquery/dist/jquery.js" type="text/javascript"></script>
<!-- Fancy Box -->
<script charset="utf-8" src="http://static-dev.ucsc.edu/_responsive/lib/fancybox/source/jquery.fancybox.js" type="text/javascript"></script>
<link href="http://static-dev.ucsc.edu/_responsive/lib/fancybox/source/jquery.fancybox.css" media="screen" rel="stylesheet" type="text/css"/>

<script type="text/javascript">
    jQuery(document).ready(function() {

  /* Apply fancybox to multiple items */
  
  jQuery("ul.thumb-grid a").fancybox({
    'transitionIn'  :  'elastic',
    'transitionOut'  :  'elastic',
    'speedIn'    :  600, 
    'speedOut'    :  200, 
    'overlayShow'  :  false
  });
  
});

</script>