---
layout: default.hbs
title: Department Home Page
description: "Four-year public institution comprised of ten residential college communities nestled in the redwood forests and meadows overlooking central California's Monterey Bay."
keywords: "university, college, Santa Cruz, California"
dept: true
front: true
classes: "dept home"
---


<div class="row three separate dark">
            <div class="wrap"><div class="block text-block" id="forstudents"><h3 class="block-header">Press&nbsp;<span>Coverage</span></h3><div class="inner"><a href="press-coverage/index.html"><img align="left" alt="Gateway to Press Coverage" height="89" src="http://astro-dev.ucsc.edu/images/home_page_images/Hubble%20Utlra%20Deep%20Field.jpg?t=0" width="216"></a> 
<p>Cutting-edge research by UC Santa Cruz astrophysicists is routinely featured in the media and in publications such as Nature, National Geographic, and Scientific American.</p>
<p><em><a href="press-coverage/index.html">More</a>....</em></p></div></div></div>
            <div class="wrap"><div class="block news-block" id="news"><h3 class="block-header">Science&nbsp;<span>News</span></h3><div class="inner"><ul class="archive-list"><li><a href="http://news.ucsc.edu/2014/01/cosmic-web.html"><img alt="slug nebula" class="block-image" height="48" src="http://news.ucsc.edu/2014/01/images/cosmic-web-thumb.jpg?t=0"></a><span class="date">January 19, 2014</span><a href="http://news.ucsc.edu/2014/01/cosmic-web.html">Distant quasar illuminates a filament of the cosmic web</a></li><li><a href="http://news.ucsc.edu/2014/01/madau-heineman-prize.html"><img alt="piero madau" class="block-image" height="48" src="http://news.ucsc.edu/2014/01/images/piero-madau-thumb.jpg?t=0"></a><span class="date">January 15, 2014</span><a href="http://news.ucsc.edu/2014/01/madau-heineman-prize.html">Astrophysicist Piero Madau wins Dannie Heineman Prize for Astrophysics</a></li><li><a href="http://news.ucsc.edu/2014/01/bright-distant-galaxies.html"><img alt="a portion of the GOODS-North deep sky survey" class="block-image" height="48" src="http://news.ucsc.edu/2014/01/images/hst-sst-thumb.jpg?t=0"></a><span class="date">January 7, 2014</span><a href="http://news.ucsc.edu/2014/01/bright-distant-galaxies.html">UCSC astronomers discover ultra-bright young galaxies</a></li></ul><p><a class="more" href="news-events/recent/index.html">More news»</a></p></div></div></div>
            <div class="wrap last"><div class="block text-block" id="forstudents"><h3 class="block-header">Video&nbsp;<span>Spotlight</span></h3><div class="inner"><a href="http://www.ksbw.com/news/central-california/santa-cruz/UC-Santa-Cruz-s-stellar-astronomy-department-shines/-/5738976/18347666/-/5mefl3/-/index.html"><img alt="Thumbail UCSC KSBW" height="90" src="http://astro-dev.ucsc.edu/images/home_page_images/video-thumbnails/Thumbnail%20KSBW%20Video%20copy.jpg?t=0" width="216"></a><br>
<br>
<span class="type">Featured on KSBW Action News</span> <a href="http://www.ksbw.com/news/central-california/santa-cruz/UC-Santa-Cruz-s-stellar-astronomy-department-shines/-/5738976/18347666/-/5mefl3/-/index.html"><img align="right" alt="${image-alt}" class="right" src="http://news.ucsc.edu/inthenews/icons/ksbw.png?t=0"></a> 
<p><strong><a href="http://www.ksbw.com/news/central-california/santa-cruz/UC-Santa-Cruz-s-stellar-astronomy-department-shines/-/5738976/18347666/-/5mefl3/-/index.html">UC Santa Cruz's stellar astronomy department shines</a></strong></p>
With astronomer Sandra Faber about to receive the National Medal of Science, KSBW's evening news program featured a story about the achievements and recognition of UCSC's astronomy program. <br></div></div></div>
          </div>

<div class="row three combined light">
            <div class="wrap"><h4>Contact Us&nbsp;<span></span></h4><h6><a href="about/contact-us.html" title="Link to contact the Office of the Registrar"></a><strong>Office of the Registrar</strong><br> 1156 High St.<br> Santa Cruz, CA, 95064</h6>
<h6><strong>E-mail:</strong> <a href="mailto:registrar@ucsc.edu" title="E-mail address for the Office of the Registrar">registrar@ucsc.edu</a><br> <strong>Phone:</strong> (831) 459-4412<br> <strong>Fax:</strong> (831) 459-5051</h6>
<h6><strong>Office Hours:<br> Window:</strong> 10 a.m.-4 p.m., Mon-Fri<strong><br> Phone:</strong> 8 a.m.-5 p.m., Mon-Fri</h6></div>
            <div class="wrap"><h4>publications&nbsp;<span></span></h4><ul>
<li>
<p><a href="catalog/index.html" title="UCSC General Catalog">General Catalog</a></p>
</li>
<li>
<p><a href="soc/index.html" title="Quarterly Schedule of Classes">Quarterly Schedule of Classes</a></p>
</li>
<li>
<p><a href="navigator/index.html" title="The Navigator">The Navigator</a></p>
</li>
<li>
<p><a href="calendar/academiccalendar.html">Academic/Administrative Calendar</a></p>
</li>
</ul></div>
            <div class="wrap last"><h4>Login&nbsp;<span>Links</span></h4><ul>
<li>
<p><a href="https://my.ucsc.edu/psp/epprd/?cmd=login&amp;errorCode=106&amp;languageCd=ENG" title="Login address for MyUCSC">MyUCSC</a> (Students, Faculty, Staff)</p>
</li>
<li>
<p><a href="https://ecommons.ucsc.edu/library/skin/santa_cruz/home.html" title="Home page for eCommons">eCommons</a> (Students and Faculty)</p>
</li>
<li>
<p><a href="https://pisa.ucsc.edu/cs9/prd/webeval/Login/" title="Narrative Evaluations System">Narrative Evaluation System (NES)</a> (Staff only)</p>
</li>
</ul></div>
          </div>


        <div class="three separate dark">
          <div class="wrap"><div id="profile"><h3>Uncommon&#160;<span>People</span></h3><div class="inner"><img alt="Juned Shaikh" src="http://history.ucsc.edu/news-events/profiles/images/Juned_Shaikh-profile-thumbnail.jpg"><a class="upTitle" href="news-events/profiles/juned-shaikh.html">Juned Shaikh<br></a><p>The History Department is delighted to welcome Assistant Professor Juned Shaikh<a class="continu" href="news-events/profiles/juned-shaikh.html">
            Continue&#187;
          </a></p></div></div></div>

          <div class="wrap">
            <div id="news">
              <h3>History&#160;<span>News</span></h3>
              <div class="inner">
                <ul>
                  <li>
                    <a href="news-events/news/ohara-hanger-prize.html">
                      <span class="thumbnail">
                        <img alt="Matt O&apos;Hara" class="fltlft" height="80" src="http://history.ucsc.edu/news-events/images/ohara80w.jpg">
                      </span>
                      <span class="date">December 17, 2013</span>
                      <span class="headline">Professor Matt O'Hara Wins Article Prize</span>
                    </a>
                  </li>
                  <li>
                    <a href="http://news.ucsc.edu/2013/11/delgado-history-awards.html">
                      <span class="thumbnail">  
                        <img alt="ucsc assistant professor of history Grace Pe&#241;a Delgado" class="fltlft" height="80" src="http://news.ucsc.edu/2013/11/images/grace-delgado-thumb.jpg">
                      </span>
                      <span class="date">November 18, 2013</span>
                      <span class="headline">Grace Delgado wins two Western History Association awards</span>
                  </li>
                    <li><em><a href="news-events/news/index.html" title="More">More...</a></em></li></ul></div></div></div>
                    <div class="wrap last"><div id="video"><h3>Transformative&#160;<span>Teaching</span></h3><div class="inner"><a class="fb thumb_link" href="http://www.youtube.com/watch?v=dQDxRx2GkL0"><img alt="Play button" class="play_btn" height="35" src="http://static.ucsc.edu/images/play_btn.png" width="48"><img alt="YouTube video thumbnail" height="90" src="http://history.ucsc.edu/images/gailphoto_216.jpg" width="216"></a><a class="fb upTitle" href="http://www.youtube.com/watch?v=dQDxRx2GkL0">Humanities Today: The Transformational Power of Student-Centered Learning</a><p></p><p>History Professor <a href="http://history.ucsc.edu/faculty/profiles/singleton.php?&amp;singleton=true&amp;cruz_id=achristy" title="Christy Profile">Alan Christy</a> presented a TED-style talk at this year's <a href="http://specialevents.ucsc.edu/founders/" title="Founders Celebration">Founders Celebration</a>.</p>&#160;<a class="fb continu" href="http://www.youtube.com/watch?v=dQDxRx2GkL0">Watch&#187;</a><p></p></div></div></div>
                  </div>

                  <div class="three combined light">
                    <div class="wrap"><h4>Our&#160;<span>Travels</span></h4>All photos featured on our website have been generously contributed by the faculty, students, and friends of the History Department. We hope you enjoy them as you explore our website!</div>
                    <div class="wrap"><h4>For&#160;<span>Students</span></h4><p>Click on the links below for more information:</p>
                      <ul>
                        <li><a href="undergraduate/undergraduate-advising/index.html" title="Undergradaute Advising">Undergraduate Advising Hours</a></li>
                        <li><a href="undergraduate/history-major/declaring-major.html" title="Major Declaration">Winter 2014 Major Declaration</a></li>
                        <li><a href="courses/HIS_courses_2013-2014.pdf" title="History Courses 2013-2014">2013 - 2014 Course List</a> (pdf)</li>
                      </ul></div>
                      <div class="wrap last"><h4>Support&#160;<span>History</span></h4><p>Your gift to History helps to support outstanding students and our nationally recognized programs. Learn more or give today.</p>
                        <ul>
                          <li><a href="https://secure.imodules.com/s/1069/index-2-column.aspx?sid=1069&amp;gid=1&amp;pgid=761&amp;dids=103&amp;" title="Giving - History Specific">Donate Now</a></li>
                          <li><a href="about/giving.html">Giving to History</a></li>
                          <li><a href="http://giving.ucsc.edu/ways_to_give.php">Ways to Give</a></li>
                        </ul></div>
                      </div>

                     
                   