---
layout: default.hbs
title: Division Home Page
description: "Four-year public institution comprised of ten residential college communities nestled in the redwood forests and meadows overlooking central California's Monterey Bay."
keywords: "university, college, Santa Cruz, California"
classes: "division home"
www: false
front: true
dept: true
---



			
        <div class="three separate dark">
          <div class="wrap">
            <div id="forstudents">
              <h3>Humanities&#160;<span>Perspectives</span></h3>
              <div class="inner">
                <div>
                  <a href="http://issuu.com/ucschumanities/docs/fall_2013_newsletter">
                    <img alt="" height="90" src="http://humanities.ucsc.edu/about/images/humcoverfall.jpg" style="display: block; margin-left: auto; margin-right: auto;" width="216">
                  </a>
                </div>
                <div style="text-align: center;">
                  <br>&#160; Check out our first edition of the new Humanities Newsletter series titled: <a href="http://issuu.com/ucschumanities/docs/fall_2013_newsletter"><strong>Humanities Perspectives</strong></a> 
                </div>
              </div>
            </div>
          </div>
          <div class="wrap">
            <div id="news">
              <h3>Humanities&#160;<span>News</span></h3>
              <div class="inner">
                <ul>
                  <li>
                    <a href="http://news.ucsc.edu/2014/02/shebooks-micah-perks.html">
                      <span class="thumbnail"><img alt="Alone in the Woods: Cheryl Strayed, My Daughter, and Me book cover" class="fltlft" height="80" src="http://news.ucsc.edu/2014/02/images/sheebooks-thumb.png"></span>
                      <span class="date">February 4, 2014</span>
                      <span class="teaser">UCSC professor’s e-book featured on new web startup for women</span>
                    </a>
                  </li>
                  <li>
                    <a href="http://news.ucsc.edu/2014/01/tibet-grad-student.html">
                      <span class="thumbnail"><img alt="Tsering Wangmo Dhompa" class="fltlft" height="80" src="http://news.ucsc.edu/2014/01/images/tibet-thumb.jpg"></span>
                      <span class="date">January 8, 2014</span>
                      <span class="teaser">UCSC grad student's book on Tibet earning acclaim from press in India</span>
                  </li>
                  <li><em><a href="news-events/news/index.html" title="More">More...</a></em>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="wrap last">
            <div id="forstudents">
              <h3>Humanities&#160;<span>Blog</span></h3>
              <div class="inner">
                <div>
                  <a href="http://humanitiesatucsc.com/">
                    <img alt="" height="90" hspace="NaN" src="http://humanities.ucsc.edu/images/thumbs/humanitiesblog.jpg" style="display: block; margin-left: auto; margin-right: auto;" width="216">
                  </a>
                </div>
                <div style="text-align: center;">
                  <br>What does it mean to be human, to analyze and to construct the
                  <br>human experience?</div>
                <br>
                <div style="text-align: center;">Discover what it means to you at
                  <br><strong><a href="http://humanitiesatucsc.com/">The Humanities Blog</a></strong>
                </div>
              </div>
            </div>
          </div>
        </div>

      <div class="four clear">
        <div class="wrap"><h4>Prospective&#160;<span>Students</span></h4><p>Here is a list of resources for students considering a degree in one or more of our academic programs in Humanities:</p>
<ul>
<li><a href="academics/graduate /index.html">Graduate Programs</a></li>
<li><a href="academics/undergraduate/index.html">Undergraduate Programs</a></li>
<li><a href="http://www.ucsc.edu/admissions/">Admissions</a></li>
<li><a href="http://graddiv.ucsc.edu/divisons-splash/humanities-splash.html">Graduate Division</a></li>
<li><a href="http://undergraduate.ucsc.edu/">Division of Undergraduate Education</a></li>
<li><a href="http://admissions.ucsc.edu/apply/">Admissions Advising Services</a></li>
</ul></div>
        <div class="wrap"><h4>Programs of&#160;<span>Study</span></h4><ul>
<li><a href="http://americanstudies.ucsc.edu" title="American Studies at UCSC">American Studies</a></li>
<li><a href="http://classicalstudies.ucsc.edu/" title="Classical Studies at UCSC">Classical Studies</a></li>
<li><a href="http://eastasianstudies.ucsc.edu/" title="East Asian Studies at UCSC">East Asian Studies</a></li>
<li><a href="http://feministstudies.ucsc.edu" title="Feminist Studies at UCSC">Feminist Studies</a></li>
<li><a href="http://germanstudies.ucsc.edu/" title="German Studies at UCSC">German Studies</a></li>
<li><a href="http://history.ucsc.edu" title="History at UCSC">History</a></li>
<li><a href="http://histcon.ucsc.edu" title="History of Consciousness at UCSC">History of Consciousness</a></li>
<li><a href="https://admissions.sa.ucsc.edu/discover/majors/ItalianStudies.cfm" title="Italian Studies at UCSC">Italian Studies</a></li>
<li><a href="http://jewishstudies.ucsc.edu/" title="Jewish Studies at UCSC ">Jewish Studies</a></li>
<li><a href="http://language.ucsc.edu" title="Language Program at UCSC">Languages</a></li>
<li><a href="http://linguistics.ucsc.edu" title="Linguistics at UCSC">Linguistics</a></li>
<li><a href="http://literature.ucsc.edu" title="Literature at UCSC">Literature</a></li>
<li><a href="http://philosophy.ucsc.edu" title="Philosophy at UCSC">Philosophy</a></li>
<li><a href="http://language.ucsc.edu/undergraduate/spanish-studies-major/index.html">Spanish Studies</a></li>
<li><a href="http://writing.ucsc.edu" title="Writing at UCSC">Writing</a></li>
</ul></div>
        <div class="wrap"><h4>Faculty &amp;&#160;<span>Staff</span></h4><p>Resources for department faculty and staff members:</p>
<ul>
<li><a href="https://my.ucsc.edu/stafftoolkit.htm">Staff Toolkit</a></li>
<li><a href="about/administration/academic-human-resources/index.html">Academic Human Resources</a></li>
<li><a href="about/administration/academic-service-centers/index.html">Academic Service Center</a></li>
<li><a href="about/administration/computing/index.html">Computing</a></li>
<li><a href="about/administration/conference-room-reservations.html">Conference Room Reservations</a></li>
<li><a href="about/administration/facilities/index.html">Facilities</a></li>
<li><a href="about/administration/financial-services/index.html">Financial and Grant Services</a></li>
<li><a href="about/administration/marketing/index.html">Marketing Resources</a></li>
</ul></div>
        <div class="wrap last"><h4>Support&#160;<span>Humanities</span></h4><p>Your gift to the Humanities helps to support outstanding students and our nationally recognized programs. Learn more or give today.</p>
<ul>
<li><a href="about/giving/index.html">Give&#160;to Humanities</a></li>
<li><a href="about/giving/endowments/index.html">Humanities Donors &amp; Endowments</a></li>
<li><a href="about/giving/recent-gifts/index.html">Recent Gifts &amp; Grants</a></li>
<li><a href="http://community.ucsc.edu/givenow">Give Today</a></li>
</ul></div>
      </div>
