// Custom styles for news articles and people profiles
.article {

  h1:nth-child(1) {
    margin-bottom: .25em;
  }

  .subhead,
  .campus-message {
    color: $gray-dark;
    font-size: 1.3em;
    font-weight: 300;
    line-height: 1.4;
    margin: 0;
    width: 85%;
  }

  .campus-message {
    font-size: 1.2em;

    p {
      margin: 0;
    }
  }

  .article-meta {
    font-size: 1em;
    margin: .5em 0 1em;

    p {
      margin: 0;
    }
  }

  .article-body {
    :first-child {
      margin-top: 0;
    }
  }

}
