// Rules for second-level pages, linked from main navigation on the campus home page
.five {

  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;

  @include media($portrait) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  > div {

    @include media($portrait) {
      flex: 1 0 30%;
    }

    @include media($desktop) {
      flex: 1 0 20%;
    }
  }
}

.landing .three.combined.light {
  padding: 1em;
}
