// Rules for second-level pages, linked from main navigation on the campus home page
.five {

  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;

  @include media($portrait) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  > div {

    padding-right: 1%;
    margin-bottom: 2em;

    @include media($mobile) {
    padding-right: 0;
    }

    h2 {
      margin-top: .5em;
      margin-bottom: 0;
    }

    @include media($portrait) {
      flex: 1 0 30%;
    }

    @include media($desktop) {
      flex: 1 0 20%;

    }

  }
}

.landing .three.combined.light {

}
