#footer {
	border-top: 1px solid lighten($gray-light, 10%);
	padding-top:$line-height-base/2;
	display: flex;
	justify-content: flex-end;
	align-content: baseline;

	.address {
		flex:2;
		order: 1;
		text-transform: uppercase;
  	font-size: $font-size-base/1.25;
  	line-height: 1.5;
  	letter-spacing: 0.01em;
		font-weight:normal;
	}

	.links,
	> a {
		order: 2;
		text-align:right;
		margin-left: 1em;
	}

	.social-media {
		margin-left: 1em;
		order: 3;
		text-align:right;
		a { 
			display:inline-block;
			width:24px;
			overflow:hidden;
			img {
				position:relative;
				left:0px;
			}
			&:focus,
			&:hover,
			&:active {
				img {
					position:relative;
					left:-24px;
				}
			}
		}
	}

	
		@include media($mobile) {
		flex-flow: column nowrap;
		& .address,
		& .links,
		& .social-media {
			text-align: center;
		} 
	}


}

#page_bottom,
.page-footer {
	text-align: center;
	@include meta-small(-1);
}