// ## UCSC logo and Site Title
// At minimum, contains the UCSC logo.
// On division/department sites, it contains the site title too.

.names {

    // Mobile
    margin: 1em auto 0 auto;

    // Tablet
    @include media($tablet) {      
      margin-bottom: $font-size-base;
    }
 
  .site-name {
    
    // Mobile
    @include span-columns(12);
    margin: $font-size-base 0;

    // Tablet
    @include media($tablet) {      
      @include span-columns(8);
      margin:0 auto;
    }

    // Desktop
    @include media($desktop) {      
      @include span-columns(9);
      margin:0 auto;
    }    

  }

  
  .campus-name {

    // Mobile
    @include span-columns(12);
    .www & {
      @include span-columns(12);
    }

    // Tablet
    @include media($tablet) {
      @include span-columns(4);
      padding-bottom:0;
      .www & {
        @include span-columns(12);
      }
    }

    // Desktop
    @include media($desktop) {
      @include span-columns(3);
      border-bottom: none;
      padding-bottom:0;
      .www & {
        @include span-columns(12);
      }
    }


    .campus-logo {

      @include hide-text();
      display: block;  
      background:transparent url(../images/logos/ucsc-logotype.svg) no-repeat left top;
      background-size: contain;
      height: 72px;
      @include span-columns(7);

      @include media($tablet) {
        @include span-columns(12);
      }

      .www & {    
        // Home environment uses the "tagged" campaign logo.          
        background:transparent url(../images/logos/ucsc-logotype-tagged.svg) no-repeat left top;
        // IE 9, 10, and 11 require a discreet width on the element 
        // because the svg background image is always in the center. :-(
        max-width:340px;
        
        // Mobile
        @include span-columns(8);
        
        // Desktop
        @include media($desktop) {
          @include span-columns(8);          
        }      
      }

      .www.fifty & {    
        // Home environment uses the "tagged" campaign logo.          
        background:transparent url(../images/logos/ucsc-logotype-tagged-50th.svg) no-repeat left top;
        // IE 9, 10, and 11 require a discreet width on the element 
        // because the svg background image is always in the center. :-(
        max-width:380px;
        height:80px;
        
        // Mobile
        @include span-columns(8);
        
        // Desktop
        @include media($desktop) {
          @include span-columns(8);          
        }      
      }

    }

  }    

  .mobile-menu {

    // Mobile
    color:$sand-light;
    border-radius: $border-radius-base/2;
    background-color: darken($gray-light, 10%);
    padding:0.5em 2.2em 0.5em 0.5em;
    float: right;
    margin-top: 0.55em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    max-width: 8em;
    text-decoration:none;

    @include hoverActiveFocus($ucsc-blue, $sand-light, none);

    // Tablet+
    @include media($tablet) {
      display:none;
    }
    
  }

}