// ## UCSC logo and Site Title
// At minimum, contains the UCSC logo.
// On division/department sites, it contains the site title too.

.names {

  .site-name {
    
    // Mobile
    @include span-columns(12);
    margin: $font-size-base 0;

    // Tablet+
    @include media($tablet) {      
      @include span-columns(9);
      margin:0 auto;
    }

  }

  
  .campus-name {

    @include span-columns(12);
    border-bottom: 1px solid lighten($gray-light, 24%);
    padding-bottom:0.5em;


    @include media($tablet) {
      @include span-columns(3);
      border-bottom: none;
      padding-bottom:0;
    }

    .campus-logo {
      @include span-columns(7);
      max-height: 1.8em;
      @include media($tablet) {
        @include span-columns(12);
        max-height: 72px;
      }
    }

  }    

  .mobile-menu {

    // Mobile
    color:$sand-light;
    border-radius: $border-radius-base/2;
    background-color: darken($gray-light, 10%);
    padding:0.5em 2.2em 0.5em 0.5em;
    float: right;
    margin-top: 0.55em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    max-width: 8em;
    text-decoration:none;

    @include hoverActiveFocus($ucsc-blue, $sand-light, none);

    // Tablet+
    @include media($portrait) {
      display:none;
    }
    
  }

}