.archive-list {
  list-style:none;
  margin:0;
  padding:0;
  li { 
    table-layout:fixed;
    margin-left:0; 
    margin-bottom:1em;
    @include clearfix;
  }
  h2,
  h3 {
    line-height: 120%;
    margin:0 0 0.25em 0;
  }
  p {
    margin:0;
  }
  .date {
    display:block;
    text-transform:uppercase;
    margin-bottom:0.25em;
  }
  img {
    float:left;
    margin:0 0.5em 2em 0;
  }
}