#bannerBox,
.banner-box {
  @include module-box-shadow(light);
  background-color: $sand-light;
  padding: 0.8em;
  margin-bottom: $font-size-base;
  border-radius: $border-radius-base;

  img {
    width: 100%;
    height:auto;
    padding:0;
    background-color: transparent;   
  }

  .caption {
    margin:$font-size-base/4 $font-size-base/4 0 $font-size-base/4;
    font-size:90%;
    color: $gray;
  }

}