#events,
.events {

	@include row(block);

	dt {
		@include span-columns(2);
		clear:both;
		color: $gray;
		letter-spacing: 1px;
		margin:0 0.4em 1em 0;
		text-align: center;
		text-transform: uppercase;
		strong,
		span {
			color: #6E6D68;
			font-size: 1.5rem;
			letter-spacing: 0px;
			line-height: 1em;
			display: block;
		}
	}
	dd {
		@include span-columns(10);
		border-left: 1px solid #DEDCD1;
		margin:0 0 1em 0;
		line-height:128%;
		padding: 1% 0.15em 1% 5%;
	}
}