@mixin module-box($columns) {
    @include outer-container;
    .wrap {
      @include span-columns($columns);
    }
}


// Module row with three columns
.three {

  @include pad;

  display: block;

  .wrap {
    float: none;
    display: block;
    width: 100%;
  }
  
  @include media($tablet) {
    display: table;
    padding:0;
    .wrap {
      float: none;
      display: table-cell;       
      width: 33%;
    }
  }
  
}

// Module row with four columns
.four {
  
  display: block;

  @include media($tablet) {
    display: table;
    .wrap {
      float: none;
      display: table-cell;
      width: 25%;
    }
  }
  
  .wrap {
    @include omega;
    @include pad;
  }  

    h4,
    .header {
        margin: 0 0 1em 0;
        color: $brown;
        text-transform: uppercase;
        font-size: $font-size-base;
        font-weight: normal;
        span {
            font-weight: bold;
            color: $brown-dark;
        }
    }

}

.five {

    > div {
        @include pad(1em);
        @include image-display($sand-med, 0.5em, true);

        img {
            margin-bottom: $font-size-large;
        }

        h2 {
            text-transform: none;
            border-bottom: none;
            margin-bottom: $font-size-base;
        }

    }

}

.combined {
    
    border-radius: $border-radius-base;
    background-color: $sand-light;
    padding:0.4em 1em;
    @include module-box-shadow;

    

    .wrap {
        border-right: 1px solid $sand-light;
        border-left: 1px solid $sand;
        @include omega;
        @include pad;

        @include media($mobile) {
            padding: 1em;
        }

        &:first-child {
          border-left: none;
        }

        &:last-child {
          border-right: none;
        }
    }

    &.light {
        padding:0;
    }

}

.separate {
    
    .wrap {
      @include pad(1em);
      @include omega;
      @include media($mobile) {
        padding: 0;
        margin:0 0 2em 0;
      }

    }

    

    .inner {
        @include clearfix;
        @include pad(1em);
        @include module-box-shadow(dark);
        background-color: $sand-dark;
        min-height: 380px;
        margin: 0;        
        @include media($mobile) {
            min-height: auto;
        }
    }
    
}


.list {

    ul {
        li {
           @include span-columns(4);
           @include image-display($sand-dark, 0.2em, false);
        }
    }
}

.more {
	display:block;
	clear:both;
	text-align:right;
	text-transform:none;
}

.block table {
    margin-bottom: 1em;
}




// ## Header styles for each home page row style.
// @todo: we should make this more standardized.
// A mixin, perhaps?

.separate .block-header {
        border: 1px solid lighten($brown-light, 44%);
        color: lighten($brown-light, 12%);
        font-size: $font-size-base*1.2;
        font-weight: normal;
        margin: 0 0 10px 0;
        padding: 4px 6px;
        text-transform: uppercase;
        span {
            font-weight: bold;
            color: $brown-light;
        }
    }

// Home page, right under billboards  
.combined .block-header {
    border-bottom: #E5E4DE 1px solid;
    color: $gray-dark;
    font-size: $font-size-large;
    font-weight: normal;
    margin: 0 0 1em 0;
    padding-bottom: 0.4em;
    text-transform: uppercase;
    a {
        color: $gray-dark;
    }
    span {
        color: darken($gray, 20%);
    }
}

// Dept-Div pages
.dept .combined .block-header,
.dept .combined .block-header {
    border: 1px solid $brown-light;
    color: $brown;
    font-size: $font-size-base*1.2;
    font-weight: normal;
    margin: 0 0 10px 0;
    padding: 4px 6px;
    text-transform: uppercase;
    span {
        font-weight: bold;
        color: $brown-dark;
    }
}