.profile-block,
.video-block {

	img {
		display:block;
		width:100%;
		height:auto;
		margin-bottom: em(14);
		
		&.play-button {
			width:auto;
			position:absolute;
			margin:0.5em 0 0 0.5em;
			padding:0;
			opacity: 0.75;
			background-color: transparent;
		}
	
	}

	.title,
	.uptitle {
		text-transform: uppercase !important;
	}

}