.contentBox,
.content-box {
  background-color: $sand-light;
  padding: 1.2em;
  border-radius: $border-radius-base;
  margin:0;
  overflow-x: scroll;
  @include clearfix;
  
  > :first-child   {
    margin-top: 0;
  }

}