.campus-name a {
	
	@include hide-text();
	background-position: left bottom;
	background-repeat: no-repeat;
	display: block;
		
	@include media($mobile) {
		margin-top:0px;
	}
	 
	background:transparent url(../images/logos/ucsc-logotype.svg) no-repeat left bottom;
	background-size: contain;
	max-width: 261px;
	height:72px;
	padding: 0;

}