#logo {
	
	@include hide-text();
	background-position: left bottom;
	background-repeat: no-repeat;
	display: block;
		
	@include media($mobile) {
		margin-top:0px;
	}
	 
	@include size(144px 45px);
	background-size: contain;
	max-width: 144px;
	@include retina-image('../images/logos/ucsc-logo-small', 100% auto);
	

	.homeEnv & {
		@include size(261px);
		background-size: contain;
		max-width: 261px;
		height:72px;
		padding: 0;
		@include retina-image('../images/logos/ucsc-logo-large', 100% auto);
	}

}