.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
  margin-bottom: 1em;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
  & > div {
  	border-radius: $border-radius-base;
  	float:left;
  	width:100%;
  	position: relative;
  	max-height: 360px;
  	img {
			width:100%;
			height: auto;
		}

		@include media($tablet) {
			max-height: 360px;
  	}
  	@include media($mobile) { 
			min-height: 360px;
			img {
				width:auto;
				height: auto;
			}
  	}
	}

	.slide-body {
		overflow: hidden;
		position:absolute;
		bottom: 0px;
		@include media($mobile) { 
			width:100%;
			padding:2em;
			margin: 1em 0 0 0;
			h1 {
				margin: 0.2em 0;
			}
		}
		width:33%;
		height: 100%;
		padding: 0.6em 2em;
		color: #fff;
		text-shadow: 1px 1px 1px #000;
		background-color: $ucsc-blue;
		background-color: rgba($ucsc-blue, 0.8);

		h1, .headline {
			font-family: $font-family-headlines;
			font-size: $font-size-h1;
			color: $ucsc-gold;
			line-height: 100%;
			text-transform: uppercase;
			letter-spacing: -1px;
			margin-bottom: 0.2em;
		}

		a {
			@include button(pill, $ucsc-gold);
		}

		&.left {
			left:0;
		}

		&.right {
			right: 0;
		}

		&.bottom {
			bottom: 0;
			width:100%;
			height: auto;
			@include media($mobile) { 
				height:100%;
			}
			h1, p {
				margin: 0;
			}
		}
	
	}
}