@mixin module-box($columns) {
    @include outer-container;
    .wrap {
      @include span-columns($columns);
    }
}


// Module row with three columns
.three {

  @include pad;

  .wrap {
    @include row(block);
  }
  
  @include media($tablet) {
    padding:0;
    @include row(table);
    @include module-box(4);
  }
  
}

// Module row with four columns
.four {
  
  @include media($tablet) {
    @include row(table);
    @include module-box(3);  
  }
  
  .wrap {
    @include omega;
    @include pad;
  }  

    // h4,
    // .header {
    //     margin: 0 0 1em 0;
    //     text-transform: uppercase;
    //     font-size: $font-size-base;
    //     font-weight: normal;
    //     span {
    //         font-weight: bold;
    //         color: $gray-dark;
    //     }
    // }

}

.combined {
    
    border-radius: $border-radius-base;
    background-color: $sand-light;
    @include module-box-shadow;
    

    .wrap {
        border-right: 1px solid $sand-light;
        border-left: 1px solid $sand;
        @include omega;
        @include pad;

        &:first-child {
          border-left: none;
        }

        &:last-child {
          border-right: none;
        }
    }
    
    h2,
    .header {
        border-bottom: #E5E4DE 1px solid;
        color: $gray-dark;
        font-size: $font-size-large;
        font-weight: normal;
        margin: 0 0 1em 0;
        padding-bottom: 0.4em;
        // text-transform: uppercase;
        span {
            color: darken($gray, 20%);
        }
        
        // @todo: Move this to the bottom of the module.
        // .more {
        //     position: absolute;
        //     right: 0;
        //     font-size: 9px;
        //     letter-spacing: .5px;
        //     line-height: 3.4em;
        //     text-transform: uppercase;
        // }
    }
}

.separate {
    
    .wrap {
      @include pad(1em);
      @include omega;
    }

    .inner {
        @include pad(1em);
        background-color: #ECE9D8;
        min-height: 226px;
        margin: 0;
        border-bottom: solid 1px #DAD8C8;
        border-radius: 5px;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.05);
    }
    h3,
    .header {
        border: 1px solid #E5E4DE;
        color: #8E8C87;
        font-size: $font-size-base*1.2;
        font-weight: normal;
        margin: 0 0 10px 0;
        padding: 4px 6px;
        //text-transform: uppercase;
        span {
            font-weight: bold;
            color: #585755;
        }
    }
}