#news,
.news {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			clear: both;
			margin: 0 0 $base-font-size;
			padding: 0;
			background-image: none;
			list-style-type: none;
			a {

			}

			.thumbnail {
				@include module-box-shadow();
				float: left;
				display: block;
				margin: 0 0.5em 0.5em 0;	
				img {
					width:72px;
					height:72px;
				}
			}

			.date {
				color: #929290;
				font-size: golden-ratio($base-font-size, -1);
				letter-spacing: 1px;
				display: block;
				margin:0;
			}

			.headline {
				
			}

		}
	}
}