.main-navigation {
  margin-bottom: 0;
  .home & {
    margin-bottom:1.2em;
  }
}

#mainNav,
.site-nav {
  display:table;
  width:100%;
  padding:0;
  margin:0;
  border-radius:5px;
  background-color:$sand-light;
  
  li {
    position:relative;
    display:table-cell;
    vertical-align:middle;
    padding:0;
    margin:0;
    text-align:center;
    border-left:1px solid #f4f1e6;
    border-right:1px solid #f4f1e6;
    @media (max-width: 880px) {
       display:block;
       border-bottom:2px solid #f4f1e6;
    }
    
    a, span {
      cursor:pointer;
      display:block;
      color:#cb9001;
      text-decoration:none;
      text-transform:uppercase;
      padding:0.5em 0.8em;
      &:focus,
      &:hover,
      &:active {
        color: lighten(#cb9001, 20%);
        background-color:#296fa3;
      }
    }
  }
  
  > :last-child {
    border-right:none;
    > a {
      border-top-right-radius:5px;
      border-bottom-right-radius:5px;
    }
    > span {
      border-top-right-radius:5px;
    }
  }
  > :first-child {
    border-left:none;
    > a, > span {
      border-top-left-radius:5px;
      border-bottom-left-radius:5px;
    }
  }
  
  /* Dropdowns */
   li ul {
     z-index:1000;
     background-color:#fff;
     border-top:2px solid #f4f1e6;
     margin:0;
     width:100%;
     padding:0;     
     display:none;
     position:absolute;
     li {
       display:block;
       text-align:left;
       border-bottom:2px solid #f4f1e6;
       a {
         border-radius:0px;
       }
     }
   }
    
   li:hover ul {
     display:block;
   }
}