#mainNav,
.site-nav {
    // Mobile-first defaults
    padding: 0;
    margin: 0;
    //width: 100%;
	//list-style: none;
	//flexbox
	//display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	//display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	//display: -ms-flexbox;      /* TWEENER - IE 10 */
	//display: -webkit-flex;     /* NEW - Chrome */
	//display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	//overflow: visible;
	//z-index: 9999;
	
	@include media($tablet){
		margin: -.4em -.95em;
		list-style: none;
		
	    li{
	    	display: inline-block;
			//white-space:nowrap;
			/* inline block hack for IE 6&7 */
			//zoom: 1;
			//*display: inline;
			padding: .3em 0.95em;
			//float:left;
			//position: relative;
			
            &:first-child {
				//padding-left:0;
            }
            
            &:last-child {
				//border-right: 0px solid #E5E3D3;
				padding-right:0;
            }
			
			a,span {
                color: $gold;
                cursor: pointer;
                //display: block;
                width: 100%;
                font-weight: bold;
				font-size: 1.20em;
				background:none;
				border:none;
                //text-transform: uppercase;
                text-decoration: none;
                //text-shadow: 1px 1px 0px #FFF;
                text-align: left;
				//border-right: 1px solid #E5E3D3;
				//padding-right: 1px;
                
                &:focus,
                &:hover,
                &:active {
                    color: $gold-light;
                   
                    text-decoration: none;
                    text-shadow: none;
                }
			}
			
			ul {
				  position: absolute;
				  top: 100%;
				  left: -4px; /* move content -4px because of container left border */
				  width: 266px;
				  padding: 5px 0px;
				  display: none;
				  border-left: 4px solid #8e9196;
				  background: #fff;
				  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
				  -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
				  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
				  display:none;
				  
				  li a { 
				    text-decoration: none;
				    display: block;
				    color: #447dd3;
				    padding: 7px 15px;
				  }
				  li a:hover {
				    color: #6fa0e9;
				    background: #e7f0f7;
				  }
			  }
			  ul[style] {
				  z-index: 999999999 !important;
			  }
			  
			  ul li[style] {
				  z-index: 99999999999999 !important;
			  }
			  
			  ul.open {
  				background: #5a90e0;
  			  	color: #fff;
  				border-left-color: #6c6d70;
				}
				
			  

	    }
		
		li:hover ul {
		    display: block;   
		}
		
	}
		

} // END: #mainNav