// ## Global Navigation
// The global navigation at the top of the page.
// Collapsed by default on smaller screens.


#topNav,
.global-nav {
	
	flex:4;

	// Mobile first defaults
	padding:0;
	list-style:none;
	margin:$base-font-size/2 0 0 0;
	@include toggle-menu();		
	
	> li {
		display: inline-block;
		width: 46%;
		margin:1% 1% 0 0; 
	}

	a {
		display: block;
		text-align: center;
		padding:$base-font-size/2;
		border:4px solid $primary-sand;
		background-color: $ucsc-blue;
		color: $ucsc-gold;
	}

	// Tablet and up
	@include media($tablet) {
		// Use flexbox to layout list items
		position: relative;
		margin:0;
		display:flex;
		justify-content:flex-end;

		> li {
			display: block;
			width: auto !important;
			margin:0;
			background-image: none;
			border-left: 1px solid #C2CDC9;
			line-height: 1.2em;
			list-style-type: none;
		}

		a {
			padding: 3em 1.4em 0em;
			border:none;
			background-color: transparent;
			color: $primary-blue;
		}
	
	} // END: $tablet

} // END: #topNav
