#mainNav,
.site-nav {
    // Mobile-first defaults
    padding: 0;
    margin: 0;
    width: 100%;
	  list-style: none;
	  overflow: visible;
	  z-index: 9999;

    li a,
    li span {
      @include mobile-button();
    }
	

  // At the tablet size, we expand to the wide navigation.
	@include media($tablet){
		
    margin: 0;
		
    > li {
      
	    display: inline-block;
			position: relative;
      padding: .3em 0.95em;
      z-index:9999;

      &:first-child,
      &:first-child a {
				padding-left:0;

      }
            
      &:last-child,
      &:last-child a,
      &:last-child span {
				padding-right:0;
      }
			
			a,span {
        color: $gold;
        cursor: pointer;
        width: 100%;
        font-weight: bold;
        display: block;
        font-size: 1.20em;
        background:none;
        border:none;        
        text-decoration: none;
        text-shadow: 1px 1px 0px #fff;
        text-align: left;
        
        &:focus,
        &:hover,
        &:active {
            color: $gold-light;           
            text-decoration: none;
            text-shadow: 1px 1px 0px #ededed;
        }
			}
			
			ul {
				  position: absolute;
				  top: 100%;
				  left: $base-font-size*1.5;
				  min-width: 16em;
				  padding: 0;
          overflow: visible;
				  display: none;
				  background: #fff;
          font-size: 0.9rem;
          z-index:9999;
          border:2px solid $gold-light;
          border-radius:$border-radius-base;
          box-shadow:0px 6px 12px $gray-dark;
				  
          &:after,
          &:before {
            bottom: 100%;
            left: 20%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
          } 

          &:after {
            border-color: rgba(136, 183, 213, 0);
            border-bottom-color: $sand-light;
            border-width: 12px;
            margin-left: -30px;            
          } 

          &:before {
            border-color: rgba(136, 183, 213, 0);
            border-bottom-color: $gold-light;
            border-width: 16px;
            margin-left: -34px;            
          } 
       
          li {
            list-style: none;
          }

				  li a { 
				    text-decoration: none;
				    display: block;
            width:100%;
				    color: $gold;
				    padding: 0.5em 1em ;
            border-bottom: 1px solid lighten($gray-light, 30%);
				  }

          li:first-child a { border-top:none; }
          li:last-child a { border-bottom:none; }

          li a:focus,
				  li a:hover,
          li a:active {
				    color: $gold-light;
				    background-color: $sand-light;
				  }
			  }

			  
			  ul.open {
  				background: #5a90e0;
  			  color: #fff;
  				border-left-color: #6c6d70;
				}
				
			  

	    }
		
    li:focus ul,
    li:active ul,
		li:hover ul {
		  display: block;   
		}
		
	}
		

} // END: #mainNav