#topNav,
.global-nav {
	
	// Mobile first defaults
	padding:0;
	list-style:none;
	margin:8px 0 0 0;
	@include toggle-menu();

	a {
		display: block;
		text-align: center;
		font-size: $base-font-size/1.3; 
		padding:$base-font-size/2;
		border:4px solid $primary-sand;
		background-color: $ucsc-blue;
		color: $ucsc-gold;
	}

	// Tablet and up
	@include media($tablet) {
		// Use flexbox to layout list items
		position: relative;
		margin:0;
		display:flex;
		justify-content:flex-end;

		> li {
			display:flex;
			background-image: none;
			border-left: 1px solid #C2CDC9;
			line-height: 1.2em;
			list-style-type: none;
		}

		a {
			padding: 4em 1.4em 0em;
			border:none;
			background-color: transparent;
			color: $primary-blue;
		}
	
	} // END: $tablet

} // END: #topNav
