#mainNav,
.site-nav {
    // Mobile-first defaults
    padding: 0;
    margin: 0;
    //width: 100%;
	//list-style: none;
	//flexbox
	//display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	//display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	//display: -ms-flexbox;      /* TWEENER - IE 10 */
	//display: -webkit-flex;     /* NEW - Chrome */
	//display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	
	@include media($tablet){
		margin: -.4em -.95em;
		list-style: none;
		
	    li{
	    	display: inline-block;
			//white-space:nowrap;
			/* inline block hack for IE 6&7 */
			//zoom: 1;
			//*display: inline;
			padding: .3em 0.95em;
			
            &:first-child {
				//padding-left:0;
            }
            
            &:last-child {
				//border-right: 0px solid #E5E3D3;
				padding-right:0;
            }
			
			a,span {
                color: $gold;
                cursor: pointer;
                //display: block;
                width: 100%;
                font-weight: bold;
				font-size: 1.20em;
				background:none;
				border:none;
                //text-transform: uppercase;
                text-decoration: none;
                //text-shadow: 1px 1px 0px #FFF;
                text-align: left;
				//border-right: 1px solid #E5E3D3;
				//padding-right: 1px;
                
                &:focus,
                &:hover,
                &:active {
                    color: $gold-light;
                   
                    text-decoration: none;
                    text-shadow: none;
                }
			}
			
			ul {
				display: none;
			}
	    }
		
	}
		

} // END: #mainNav