#seeAlso {
  padding:0.8em;
  background-color:$sand-light;
  border-radius: 5px;
  margin:0 0 1em;
  @include module-box-shadow(light);
  @include clearfix;

  ul {
    margin:0;
    padding-left:0;

    // If modernizr says the browser suuports columns, let's do it.
    .csscolumns & {
      @include media($mobile) {
        column-count: 1;
      }
      @include media($tablet) {
        column-count: 2;
      }
      @include media($desktop) {
        column-count: 3;
      }
    }

    li {
      list-style: square;
      // Something about this border makes things
      // break **slightly** less awkwardly.
      border:1px solid transparent;
      margin:0 0.5em 0.1em 1.25em;
      padding:0.1em 0.2em 0.1em 0em;
      column-break-inside: avoid;
      column-break-after: always;
    }

  }
}