.sidebar { 

 .block {
 
    @include clearfix;
    border: none;
    margin:1.25em 0;
       
    li {
      @include clearfix;
      border: none;
      padding:0;
      margin: 0;
      &:first-child a {
        border-top:none;
      }
    }

    a {
      padding:0;
    }
    
    .thumbnail img {
      display:block;
      width:100%;
      padding:0.25em;
      margin:0.5em 0 0.25em 0;
      background-color:$sand-dark;
      &.portrait {
        width: 50%;
        float: left;
        margin:0.5em 0.25em 0.25em 0;
      }
    }
    
    .description {
      display:block;
      padding:0.25em 0.5em 0.5em;
      line-height: 128%;
    }
    
  }

}