/*
*		Search box styles
*/

// ## Site Search
// Search box for searching each site.

.search {

	flex: 1;

	// Mobile first
	.query {
		color: $gray;
		font-size: $font-size-base*0.95;
		border: 1px solid $sand-dark;
		border-radius: $border-radius-base;
		line-height: 140%;
		padding:$font-size-base/2;
		width: 100%;		
		&:focus,
		&:active {
			box-shadow:0 0 8px rgba(0,0,0,0.2);
		}
	}

	label {
		display: block;
		@include hide-text();
	}

	// Tablet and up
	@include media($tablet) {
		flex: 1;
		align-self: flex-end;
		padding-top: 0.5em;
		.query {
			width: 100%;
			display: block;
			padding:$font-size-base/2.5;
			margin-top: $font-size-base*1.6;
		}
	}

}