/**
*   Page title classes for titles of different lengths
*/

.site-name a {
  padding:0;
  @include fontSize(38px);
  text-transform:uppercase;
  color:$gold;
  text-decoration:none;
  line-height:110%;
}
    

$titles: (
  small: (
    size: 24px,
    margin-top: 4px,
    width: inherit
  ),  
  large: (
    size: 32px,
    margin-top: 4px,
    width: inherit
  ),
  xlarge: (
    size: 36px,
    margin-top: 4px,
    width: inherit
  ),  
  standard: (
    size: 38px,
    margin-top: 2px,
    width: inherit
  ),
  short: (
    size: 32px,
    margin-top: 4px,
    width: inherit
  ),
  medium: (
    size: 30px,
    margin-top: 4px,
    width: inherit
  ),
  long: (
    size: 28px,
    margin-top: 4px,
    width: inherit
  ),
  extra-long: (
    size: 26px,
    margin-top: -6px,
    width: 66%
  ),
  super-long: (
    size: 24px,
    margin-top: -6px,
    width: 59%
  ),
  mega-long: (
    size: 22px,
    margin-top: -4px,
    width: 52%
  )
);


// Loop over the mapped classes
// and output a rule for each one.
@each $title, $i in $titles {
    .title-#{nth($title, 1)} a {
        font-size: #{map-get($i, size)};
        margin-top: #{map-get($i, margin-top)};
        width: #{map-get($i, width)};
    }
}