/**
*   Page title classes for titles of different lengths
*/

.site-name a {
  padding:0;
  @include fontSize(38);
  text-transform:uppercase;
  display: block;
  color:$gold;
  text-decoration:none;
  line-height:110%;
}
    

$titles: (
  small: (
    size: 30px,
    margin-top: 4px,
    width: inherit
  ),  
  large: (
    size: 40px,
    margin-top: 16px,
    width: inherit
  ),
  xlarge: (
    size: 44px,
    margin-top: 4px,
    width: inherit
  ),  
  standard: (
    size: 46px,
    margin-top: 2px,
    width: inherit
  ),
  short: (
    size: 40px,
    margin-top: 4px,
    width: inherit
  ),
  medium: (
    size: 36px,
    margin-top: 4px,
    width: inherit
  ),
  long: (
    size: 34px,
    margin-top: 4px,
    width: inherit
  ),
  extra-long: (
    size: 32px,
    margin-top: 12px,
    width: 76%
  ),
  super-long: (
    size: 30px,
    margin-top: 12px,
    width: 59%
  ),
  mega-long: (
    size: 28px,
    margin-top: 8px,
    width: 62%
  )
);


// Loop over the mapped classes
// and output a rule for each one.
@each $title, $i in $titles {
    .title-#{nth($title, 1)} a {
        font-size: #{map-get($i, size)};
        margin-top: #{map-get($i, margin-top)};
        width: #{map-get($i, width)};
    }
}