<meta name="google-site-verification" content="" />
<meta property="twitter:site" content="@ucsc" />
<meta property="og:site_name" content="UC Santa Cruz"/>
<meta property="og:type" content="website"/>
<meta property="fb:admins" content="ucsantacruz"/>

<link rel="shortcut icon" href="images/favicon.ico">
<link rel="apple-touch-icon" href="images/apple-touch-icon.png">

<link href="/_responsive/css/ucsc.css" rel="stylesheet" type="text/css">

<script src="/_responsive/lib/modernizr/modernizr.js" type="text/javascript"></script>
