{% case include.type %}
  {% when 'www' %}

  <div class="row names">
    <div class="campus-name">
      <h1><a class="campus-logo" href="index.html" id="logo">UC Santa Cruz</a></h1>
      <a class="mobile-menu" href="#mainNav">Menu</a>
    </div>  
  </div>
    
  <div class="row main-navigation">
  
    <ul id="mainNav">
      <li class="first hov"><a href="about/index.html">About</a></li>
      <li><a href="admissions/index.html">Admissions</a></li>
      <li><a href="academics/index.html">Academics</a></li>
      <li><a href="research/index.html">Research</a></li>
      <li><a href="campus/index.html">Campus Life</a></li>
      <li><a href="visit/index.html">Visit UCSC</a></li>
      <li class="last qsg">
        <span>Quick Start Guides <img alt="more items when you click" src="http://static.ucsc.edu/images/drop_down_button.gif"></span> 
        <ul>
          <li><a href="http://studentservices.ucsc.edu">Current Students</a></li>
          <li><a href="quickstart/faculty-staff/index.html">Faculty &amp; Staff</a></li>
          <li><a href="http://alumni.ucsc.edu">Alumni</a></li>
          <li><a href="quickstart/prospective-students/index.html">Prospective Students</a></li>
          <li><a href="quickstart/family/index_v2.html">Parents &amp; Family</a></li>
          <li><a href="quickstart/community/index.html">Community</a></li>
        </ul>
      </li>
    </ul>

  </div>
    
  {% when 'dept' %}

  <div class="row names">

    <div class="campus-name">
      <a class="campus-logo" href="http://www.ucsc.edu/index.html" id="logo">UC Santa Cruz</a> 
      <a class="mobile-menu" href="#mainNav">Menu</a>
    </div>  

    <div class="site-name">
      <h1><a href="index.html" title="History Department Home">History and the History of other things</a></h1>
    </div>

  </div>

  <div class="row main-navigation">

   <ul id="mainNav">
      <li class="first"><a href="../about/index.html">About</a></li>
      <li><a href="index.html">Undergraduate</a> 
        <ul>
          <li><a href="history-major/index.html" title="History Major">History Major</a></li>
          <li><a href="history-minor/index.html" title="History Minor">History Minor</a></li>
          <li><a href="undergraduate-advising/index.html" title="Advising">Advising</a></li>
        </ul>
      </li>
      <li><a href="../graduate/index.html">Graduate</a></li>
      <li><a href="../faculty/profiles/index.php">Faculty</a></li>
      <li><a href="../courses/class-schedule-view.php">Courses</a></li>
      <li><a href="../news-events/news/index.html">News &amp; Events</a></li>
   </ul> 

  </div>

  {% when 'div' %}


<div class="row names">

  <div class="campus-name">
    <a class="campus-logo" href="http://www.ucsc.edu/index.html" id="logo">UC Santa Cruz</a> 
    <a class="mobile-menu" href="#mainNav">Menu</a>
  </div>  

  <div class="site-name">
    <h1><a href="index.html" title="History Department Home">History</a></h1>
  </div>

</div>
  

<div class="row">

  <ul class="hasqsg" id="mainNav">
    <li class="first"><a href="about/index.html">About</a></li>
    <li><a href="academics/index.html">Academics</a></li>
    <li><a href="http://ihr.ucsc.edu/" target="_blank">Research</a></li>
    <li><a href="news-events/news/index.html">News &amp; Events</a></li>
    <li><a href="about/giving/index.html">Support Us</a></li>
    <li class="last qsg">
      <span>Quick Start Links&#160;<img alt="more items when you click" src="http://static.ucsc.edu/images/drop_down_button.gif"></span> 
      <ul>
        <li><a href="http://www.ucsc.edu/tools/people.html">Find People</a></li>
        <li><a href="about/contact/index.html">Maps &amp; Directions</a></li>
        <li><a href="about/giving/index.html">Give</a></li>
        <li><a href="http://ihr.ucsc.edu">Research</a></li>
        <li><a href="academics/awards-fellowships/index.html">Awards Grants &amp; Fellowships</a></li>
        <li><a href="about/administration/index.html">Faculty &amp; Staff Resources</a></li>
        <li><a href="about/administration/academic-human-resources/index.html">Academic HR</a></li>
        <li><a href="http://apo.ucsc.edu/academic_workshops_and_training/DivData%20Manual/DivDataManual.html">BioBibNet</a></li>
        <li><a href="about/administration/computing/index.html">Computing Services</a></li>
      </ul>
    </li>
  </ul> 

</div>

  {% else %}
    
    <p>No environment variable in page.variables</p>

{% endcase %}

