<!-- =================== Carousel ==================== -->
    
      <div id="slides" class="owl-carousel">
          <div class="slide">
              <img alt="UCSC grad student’s book on Tibet earning acclaim from press in India" src="images/billboards/1.jpg">
              <div class="slide-body layout-left color-blue">
                <h1>Literary success!</h1>
                <p>Grad student's first full-length book earns acclaim from press in India. <a href="http://news.ucsc.edu/2014/01/tibet-grad-student.html">Read me</a></p>
              </div>
          </div>
          <div class="slide">
              <img alt="Far out" src="images/billboards/2.jpg">
              <div class="slide-body layout-right color-gold">
                <h1>Leading the mission in space</h1>
                <p>Distant galaxy explorer Professor Garth Illingsworth presents new findings. <a href="http://news.ucsc.edu/2014/01/tibet-grad-student.html">Ultra-cool</a></p>
              </div>
          </div>
          <div class="slide">
              <img alt="Marine scientists track spread of sea star wasting disease" src="images/billboards/3.jpg">
              <div class="slide-body layout-bottom color-blue">
                <h1>Leading the mission</h1>
                <p>Searching for the cause of the disease that is devastating sea star populations ion the U.S. west coast. <a href="http://news.ucsc.edu/2013/11/sea-star-disease.html">You can help</a></p> 
            </div>
          </div>

          <div class="slide">
              <img alt="Marine scientists track spread of sea star wasting disease" src="images/billboards/3.jpg">
              <div class="slide-body layout-top color-gold">
                <h1>Leading the mission</h1>
                <p>Searching for the cause of the disease that is devastating sea star populations ion the U.S. west coast. <a href="http://news.ucsc.edu/2013/11/sea-star-disease.html">You can help</a></p> 
            </div>
          </div>

          <div class="slide">
              <img alt="Far out" src="http://placehold.it/1080x320&text=slide+with+image+only">
          </div>
          
    </div>

<!-- =================== END Carousel ==================== -->