<div class="row names">
  <div class="campus-name">
    <h1><a href="index.html" id="logo" title="Return the UCSC home page">UC Santa Cruz home</a></h1>
    <a href="#mainNav" class="menu-toggle">Menu <span><i class="icon-arrow-down-md"></i></span></a>
  </div>  
  
</div>
    
  <div class="row main-navigation">
  
    <ul id="mainNav">
      <li class="first hov"><a href="about/index.html">About</a></li>
      <li><a href="admissions/index.html">Admissions</a></li>
      <li><a href="academics/index.html">Academics</a></li>
      <li><a href="research/index.html">Research</a></li>
      <li><a href="campus/index.html">Campus Life</a></li>
      <li><a href="visit/index.html">Visit UCSC</a></li>
      <li class="last qsg">
        <span>Quick Start Guides <img alt="more items when you click" src="http://static.ucsc.edu/images/drop_down_button.gif"></span> 
        <ul>
          <li><a href="http://studentservices.ucsc.edu">Current Students</a></li>
          <li><a href="quickstart/faculty-staff/index.html">Faculty &amp; Staff</a></li>
          <li><a href="http://alumni.ucsc.edu">Alumni</a></li>
          <li><a href="quickstart/prospective-students/index.html">Prospective Students</a></li>
          <li><a href="quickstart/family/index_v2.html">Parents &amp; Family</a></li>
          <li><a href="quickstart/community/index.html">Community</a></li>
        </ul>
      </li>
    </ul>

  </div>