

<div class="row names">
  <div class="site-name">
    <a href="/">{{ title }}</a>
  </div>
  <div class="campus-name">
    <a href="index.html" id="logo" title="Return the UCSC home page">UC Santa Cruz home</a>
  </div>  
  <a href="#mainNav" class="menu-toggle">Menu <span><i class="icon-arrow-down-md"></i></span></a>
</div>

  

<div class="row main-navigation">

 <ul id="mainNav">
    <li class="first"><a href="../about/index.html">About</a></li>
    <li><a href="index.html">Undergraduate</a> 
      <ul>
        <li><a href="history-major/index.html" title="History Major">History Major</a></li>
        <li><a href="history-minor/index.html" title="History Minor">History Minor</a></li>
        <li><a href="undergraduate-advising/index.html" title="Advising">Advising</a></li>
      </ul>
    </li>
    <li><a href="../graduate/index.html">Graduate</a></li>
    <li><a href="../faculty/profiles/index.php">Faculty</a></li>
    <li><a href="../courses/class-schedule-view.php">Courses</a></li>
    <li><a href="../news-events/news/index.html">News &amp; Events</a></li>
 </ul> 

</div>
    
