/*
*  Remove discrete layout width rules
*  so page layout isn't broken
*

#wrap {
width:1200px;
}
#container {
width:1200px;
}
#sprflt {
width:1200px;
}
.sleed {
display:none;
}
#mainContent {
float:left;
width:800px;
}
*/

#resultsDiv {
float:left;
width:700px;
}
.page_box {
display:inline-block;
}
.PSTEXT {
font-size: 11px;
font-weight: normal;
font-style: normal;
padding-top: 2px;
word-wrap:break-word;
}
.results_header {
font-size: 11px;
font-weight: bold;
color: #5585A2;
border-width: 1px;
border-color: rgb(124,126,120);
border-style: none none solid none;
height: 20px;
width: 100%;
padding-left: 2px;
padding-top: 5px;
}
.outage {
vertical-align:middle;
line-height:14px;
float:left;
display:inline;
white-space:normal;
font-size:12px;
}
.sub_header {
padding-left: 3px;
float:left;
width:700px;
}
.descr {
padding-top: 6px;
display:none;
text-align:left;
}
.headertext {
cursor: pointer;
}
.course_block {
padding-bottom: 6px;
padding-top: 6px;
border-color: rgb(124,126,120);
border-width: 1px;
border-style: none none solid none;
float:left;
width: 700px;
}
.collapseExpandBox {
float:left;
}
.collapseExpandLinks {
float:left;
text-align:center;
width: 100px;  
}
.collapseExpandText {
//color:rgb(124,159,172);
color:#5585A2;
text-decoration:underline;
cursor: pointer;
}
.courseNbr {
width: 80px;
float: left;
text-transform: capitalize;
}
.courseTitle {
width: 410px;
float: left;
text-transform: capitalize;
}
.courseLevel {
width: 150px;
float: left;
text-transform: capitalize;
}
.courseUnits {
width: 40px;
float: left;
text-transform: capitalize;
}
.introText {
height: 30px;
vertical-align: middle;
}
.clickStuff {
float:left;
}
