## Get articles for an index block
#set ($folders = $_XPathTool.selectNodes($contentRoot,"//system-folder/system-page[name='index']"))

<div id="quickstart" class="block quickstart-block">
  <h3 class="block-header">Quickstart <span>Guides</span></h3>
<ul>
<li><a href="http://studentservices.ucsc.edu">Current Students</a></li>
<li><a href="/quickstart/faculty-staff/index">Faculty &amp; Staff</a></li>
<li><a href="http://alumni.ucsc.edu">Alumni</a></li>
<li><a href="/quickstart/prospective-students/index">Prospective Students</a></li>
<li><a href="/quickstart/family/index">Parents &amp; Family</a></li>
<li><a href="/quickstart/community/index">Community</a></li>


  </ul>

<div class="event-badge" style="margin-top:10px;padding-left:10px;">
<div id="campaign-thumb">Give, Don't Give In</div>
<div id="campaign-banner"><a href="http://campaign.ucsc.edu/?utm_source=homepage&amp;utm_medium=button&amp;utm_campaign=original" class="campaign-left">UCSC Campaign</a><a href="https://secure.imodules.com/s/1069/index-2-column.aspx?sid=1069&amp;gid=1&amp;pgid=761&amp;cid=1722" class="campaign-right">Make a<br />
Gift Now!</a></div>
</div>

</div>


## CONTENT FROM block-2 (deleted)


## <div class="event-badge" style="margin-top:10px;padding-left:10px;">
##  <a onclick="_gaq.push(['_trackEvent','Outgoing Links','campaign.ucsc.edu'])" href="http://campaign.ucsc.edu/?utm_source=homepage&amp;utm_medium=button&amp;utm_campaign=original"><img src="images/give-262x59.jpg" alt="The Campaign for UCSC" height="52" width="216" /></a>
## </div>

## <!-- MAKE A GIFT -->
##  <!-- <div class="event-badge" style="margin-top:10px;padding-left:10px;">
##  <a href="https://secure.imodules.com/s/1069/index-2-column.aspx?sid=1069&amp;gid=1&amp;pgid=761&amp;cid=1722&amp;utm_source=homepage&amp;utm_medium=button&amp;utm_campaign=giving"><img src="images/banners/makeagift_red.png" alt="Make a gift" height="52" width="216" /></a>
## </div> -->
## <!-- YEAR END COUNT DOWN -->
## <!--<script language="JavaScript">
## var today = new Date();
## var number = today.getDate() + 1;
## document.write('<a href="http://giving.ucsc.edu/opportunities/ways-to-give/year_end.html?utm_source=homepage&amp;utm_medium=button&amp;utm_campaign=year-end""><img src="images/year-end/' + number + '.jpg" alt="Make a year-end gift!" title="Make a year-end gift!"></a>');
## </script> -->