## Get articles for an index block
#set ($feedTitle = $_XPathTool.selectSingleNode($contentRoot,"//rss/channel/title").text)
#set ($articles = $_XPathTool.selectNodes($contentRoot,"//rss/channel/item"))

<div class="content-box">
<ul class="archive-list">
    
#foreach($item in $articles)

    ## Get/set vars
    #set ($title = $item.getChild("title").text.replace("&","&amp;").replace("- additional dates available",""))
    #set ($desc = $item.getChild("description").text.replace("&","&amp;"))
    #set ($link = $item.getChild("link").text)
    
    ## TODO - Figure out date stuff.
    ##set ($pubDate = $item.getChild("pubDate").value)
    ## Get date from text date
    ##set ($fDate = $_DateTool.format("medium",$pubDate))
    ## Set vars for month and day
    ##set ($pageDateMonth = $_DateTool.format('MMM',$fDate))
    ##set ($pageDateDay = $_DateTool.format('d',$fDate))
    ## Output HTML
    <li>
    <h4><a href="${link}">${title}</a></h4>
    <p>${desc}</p>
    </li>

#end
</ul>
</div>