#set($page = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block/calling-page/system-page"))

## Get page data
#set ($title = $page.getChild("title").text.replace("&","&amp;"))
#set ($link = $page.getChild("link").value)
#set ($date = $_DateTool.getDate($page.getChild("start-date").value))
#set ($fdate = $_DateTool.format("MMMM dd, yyyy", $date))

## Get custom page data node
#set ($video = $page.getChild("system-data-structure").getChild("video-page"))
## Get custom page data
#set ($url = $video.getChild("video-url").value)
#set ($desc = $video.getChild("video-description"))
#set ($code = $video.getChild("video-code"))

## Get custom block data node
#set ($block = $page.getChild("system-data-structure").getChild("video-block"))
## Get custom block data
#set ($block-thumb = $block.getChild("thumb").getChild("link").value)
#set ($block-thumb-alt = $block.getChild("thumb-alt").text)
#set ($block-title = $block.getChild("title").text)
#set ($block-desc = $block.getChild("description").text)


## Render HTML for page
<div class="video">
  <h1 id="title">${title}</h1>
  <p class="date">${fdate}</p>  
  <div class="contentBox">
    <div id="description">
      $_SerializerTool.serialize($desc,true)
    </div>
    <div class="video">
      $_SerializerTool.serialize($code,true)
    </div>
    <p>View original: <a href="${url}">${url}</a></p>
  </div>
</div>


##  For previewing the home page block,
##  we put a preview toggle button below.
##  It does not show up on published pages.

[system-view:internal]

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $('#preview-box').hide();
    $('#toggle-int-preview').click(function(event) {
        $('#preview-box').toggle('slow');
    });
  });  
</script>

<p><a id="toggle-int-preview" href="#preview-box">Preview the homepage video block</a></p>

<div id="preview-box">
<div class="three separate dark">  
  <div class="wrap">
    <div id="video">
      <h3>Video <span>Spotlight</span></h3>
      <div class="inner">
        <a class="fb thumb_link" href="${link}" title="Watch this video about ${title}">
          <img alt="Play this video" class="play_btn" height="35" src="http://static.ucsc.edu/images/play_btn.png" width="48" style="margin:0;" />
          <img alt="${block-thumb-alt}" src="${block-thumb}" width="216" style="margin:0;" />
        </a>
        <a class="fb upTitle" href="${link}" title="Watch this video about ${title}">${title}</a>
        <div style="font-size:11px;margin:10px;">
        $_SerializerTool.serialize($desc,true) <p><a class="fb continu" href="${link}" title="Watch this video about ${title}">Watch</a></p>
        </div>
      </div>
    </div>
  </div>
</div><!-- /.three separate dark -->
</div>

[/system-view:internal]
