//	# Global header
//
//	beginning with the top of the page,
//	this includes the global links, search box, logo,
//	site title (on interior pages), and site navigation. 


.nav-toggle {
	align-self:flex-end;
	margin-left:$base-font-size*2;
	text-align:center;
	font-size:$base-font-size*1.2;


	display:block;
	width:100%;
	background-color:$ucsc-blue;
	color:$ucsc-gold;
	padding:0.5em;
	@include module-box-shadow;
	border-radius: $border-radius-base;
}