//	# Global header
//
//	beginning with the top of the page,
//	this includes the global links, search box, logo,
//	site title (on interior pages), and site navigation.

.menu-toggle {
    text-align: center;
    font-size: $font-size-base;
    text-transform: uppercase;
    display: block;
    width: auto;
    background-color: $gold-light;
    color: $sand-light;
    padding: $font-size-base / 2 0;
    @include media($tablet) {
        display: none;
    }
}