// # Primary layout styles
// Styles for page structure.

// ## The layout container
// Wraps the layout. The only HTML elements outside
// of this element are the accessibility links.

#container {
	@include outer-container();
}

// ## The layout row
// The row does as it says. Each 'row' of content is
// cleared and and sets the `flex` property so it's direct
// descendants will flex in the right direction.

// **@todo** - Switch to mobile-first styles

.row {
	border: 1px solid red;
	@include row(table);
	display: flex;
	margin-bottom: $base-font-size/2;

	@include media($mobile) {
		flex-flow: column;
	}

}

// ## Global navigation
	#topNav,
	.global-nav {
		/* border:2px solid purple; */
		@include media($tablet) {
			flex:4;
		}

		
	}

// ## Site search
	.search {
		/* border:2px solid purple; */
		@include media($tablet) {
			flex:1;
		}

		.query {
			width: 100%;
			margin-top: 5%;
		}


	}



// ## UCSC logo and site title
header {

	h1 {
		flex:1;
	}

}

// ### Carousel of sliding billboards
#slider {
	flex:1;
}

// ### Left column page
#sprflt {
	display: flex;
	#mainContent {
		flex:2;
	}
	#subNav {
		flex:1;
	}
	#footer {
		flex:3;
	}
}
