// # Primary layout styles
// Styles for page structure.

// ## The layout container
// Wraps the layout. The only HTML elements outside
// of this element are the accessibility links.

#container {
	@include outer-container();
}

// ## The layout row
// The row does as it says. Each 'row' of content is
// cleared and and sets the `flex` property so it's direct
// descendants will flex in the right direction.

// **@todo** - Switch to mobile-first styles

.row {
	//@include rowborders(red);
	@include row(table);
	display: flex;
	flex-wrap: no-wrap;
	flex-direction:column;
	margin-bottom: $base-font-size*1.25;
	// Switch to layout row when screen is wider.
	@include media($tablet) {
		flex-wrap: no-wrap;
		flex-direction:row;	
	}
}


// ## UCSC logo and Site Title
// At minimum, contains the UCSC logo.
// On division/department sites, it contains the site title too.
.site-header {

	.logo {
		display: flex;
		flex-direction: row;
	}

	h1 {
		flex:4;
		align-self: flex-end;
		margin:0;
		// @include rowborders();
	}

	.nav-toggle {
		flex: 1;
		@include media($tablet) {
			display: none;
		}
	}

}


// ## Carousel of sliding billboards
#slider {
	flex:1;
}




// ### Left column page
#sprflt {
	display: flex;
	#mainContent {
		flex:2;
	}
	#subNav {
		flex:1;
	}
	#footer {
		flex:3;
	}
}
