---
layout: default.hbs
title: Campus Left Column Page
description: "Four-year public institution comprised of ten residential college communities nestled in the redwood forests and meadows overlooking central California's Monterey Bay."
keywords: "university, college, Santa Cruz, California"
classes: "www homeEnv contentLeftNav left-column"
www: true
front: false
---

        <div class="row" id="sprflt">
            
            <div id="mainContent">
                
                <h1 id="title">Research in the Divisions</h1>
                <div id="bannerBox">
                    <img alt="" id="banner" src="http://www.ucsc.edu/research/images/res-in-divisions-550.jpg">

                    <p class="caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, harum sed alias consectetur repellat ab illo.</p>                    

                </div>

                <div class="contentBox"><p>UC Santa Cruz faculty and students have made significant contributions to the body of research that has earned the University of California the ranking as the foremost public research institution in the world.</p>
<p>Here are links to research activities and opportunities in UCSC's four academic divisions and the Baskin School of Engineering:</p>
<ul>
<li><a href="http://artsites.ucsc.edu/ari/">Division of the Arts</a> (Arts Research Institute)</li>
<li><a href="http://ihr.ucsc.edu/">Division of the Humanities</a> (Institute for Humanities Research)</li>
<li><a href="http://pbsci.ucsc.edu/PBSci-Research.html">Division of Physical &amp; Biological Sciences</a></li>
<li><a href="http://socialsciences.ucsc.edu/research/">Division of Social Sciences</a></li>
<li><a href="http://www.ce.ucsc.edu/research">Baskin School of Engineering</a></li>
</ul></div>
                
            </div>

            <div id="subNav" class="sidebar">
              <nav>
                <h1>In this section</h1>
<ul><li><a href="../index.html">Undergraduate Program</a></li><li><a class="current" href="index.html">History Major</a><ul><li><a href="declaring-major.html">Major Declaration</a></li><li><a href="senior-graduation.html">Senior Year and Graduation</a></li></ul></li><li><a href="../history-minor/index.html">History Minor</a></li><li><a href="../undergraduate-advising/index.html">Undergraduate Advising</a></li><li><a href="../study-abroad/index.html">Study Abroad</a></li><li><a href="../undergraduate-research/index.html">Undergraduate Research</a></li></ul>
              </nav>


            </div><!-- /.sidebar -->
        </div><!-- /sptflt -->

