---
layout: default.hbs
title: Site title examples
description: "Four-year public institution comprised of ten residential college communities nestled in the redwood forests and meadows overlooking central California's Monterey Bay."
keywords: "university, college, Santa Cruz, California"
dept: true
front: false
classes: "dept left-column"
---

<div id="sprflt" class="row">
    
    <div id="mainContent" class="main-content">
      
      <main>
        
      <h1 id="title">Site titles</h1>
    
      <div id="bannerBox">
        <img alt="No Image Alternative Tag Provided" id="banner" src="http://history.ucsc.edu/images/shuman3.jpg" />
        <p class="caption">Musée du Louvre, Paris. Photo Contributed by Amanda Shuman</p>
      </div>
    
      <div class="contentBox">

       <p class="title-standard" id="site-title">
         <a href="index.html">Chicano Latino Research Center</a>
       </p>

       <p class="title-short" id="site-title">
         <a href="index.html">Chicano Latino Research Center</a>
       </p>

       <p class="title-medium" id="site-title">
         <a href="index.html">Chicano Latino Research Center</a>
       </p>

       <p class="title-long" id="site-title">
         <a href="index.html">Chicano Latino Research Center</a>
       </p>       

       <p class="title-extra-long" id="site-title">
         <a href="index.html">Chicano Latino Research Center</a>
       </p>    

       <p class="title-super-long" id="site-title">
         <a href="index.html">Chicano Latino Research Center</a>
       </p>    

       <p class="title-mega-long" id="site-title">
         <a href="index.html">Chicano Latino Research Center</a>
       </p>    


      </div>


      </main>
    
    </div>

<div id="subNav" class="sidebar">

  <ul>
    <li><a class="current" href="index.html">Undergraduate Program</a></li>
    <li><a href="history-major/index.html">History Major</a></li>
    <li><a href="history-minor/index.html">History Minor</a></li>
    <li><a href="undergraduate-advising/index.html">Undergraduate Advising</a></li>
    <li><a href="study-abroad/index.html">Study Abroad</a></li>
    <li><a href="undergraduate-research/index.html">Undergraduate Research</a></li>
  </ul>

  <ul class="block global">
    <li />
  </ul>
</div>

</div>
