<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0">
    <title>{{ page.title }} - University of California, Santa Cruz</title>
    <meta content="{{ page.description }}" name="description">
    <meta content="{{ page.keywords }}" name="keywords">
  
    {% include global-head.html %}

</head>

<body class="{{ page.classes}}">
    
<div id="wrap">
  <div id="container">
    <div id="content">
    
     
      <div role="banner" class="site-header">

        {% include global-header.html %}
        
        {% if page.titles %}
          {% include header-titles.html  %}
        {% endif %}

        {% if page.www %}
          {% include header-www.html %}
        {% else %}
          {% include header-dept.html %}
        {% endif %}

        {% unless page.front %}
          <div class="row breadcrumbs">
              <p><a href="../index.html">Home</a> / <a href="http://example.com/">Directory</a> / This page</p>
          </div>              
        {% endunless %}            

      </div>
    
      {% if page.front %}
        <div class="row">
            {% include carousel.html  %}
        </div>
      {% endif %}
    
    <div id="main" role="main">

      {{ content }}

    </div>

    
    <div class="row" id="footer" role="footer">
          <p class="links">
            <a href="about/contact.html">Feedback</a>
          </p>
          <p class="links">
            <a href="about/contact.html">Contact</a>
          </p>
          <p class="links">
            <a href="about/contact.html">Information</a>
          </p>

          <p class="address home">UC Santa Cruz, 1156 High Street, Santa Cruz, Ca 95064<br>
©2014 Regents of the University of California. All Rights Reserved.</p>
    </div>

    <div class="row legal">
      <p><a href="http://its.ucsc.edu/terms/">Privacy Policy and Terms of Use</a></p>
      <p><b>Page last built:</b> {{ site.time | date_to_long_string }}</p>
    </div>
    
    

    </div><!-- /content-->        
  </div><!-- /container -->
</div><!-- /wrap -->


{% include footer-scripts-global.html %}

{% if page.front %}
  {% include footer-scripts-carousel.html  %}
{% endif %}

</body>
</html>