
<div class="row names">

  <div class="site-name">
    <a href="/">{{ title }}</a>
  </div>
  
  <div class="campus-name">
<a class="campus-logo" href="site://www/index" id="logo">UC Santa Cruz</a>
<a class="mobile-menu" href="#mainNav">Menu</a>

</div>
  

<div class="row">

  <ul class="hasqsg" id="mainNav">
    <li class="first"><a href="about/index.html">About</a></li>
    <li><a href="academics/index.html">Academics</a></li>
    <li><a href="http://ihr.ucsc.edu/" target="_blank">Research</a></li>
    <li><a href="news-events/news/index.html">News &amp; Events</a></li>
    <li><a href="about/giving/index.html">Support Us</a></li>
    <li class="last qsg">
      <span>Quick Start Links&#160;<img alt="more items when you click" src="http://static.ucsc.edu/images/drop_down_button.gif"></span> 
      <ul>
        <li><a href="http://www.ucsc.edu/tools/people.html">Find People</a></li>
        <li><a href="about/contact/index.html">Maps &amp; Directions</a></li>
        <li><a href="about/giving/index.html">Give</a></li>
        <li><a href="http://ihr.ucsc.edu">Research</a></li>
        <li><a href="academics/awards-fellowships/index.html">Awards Grants &amp; Fellowships</a></li>
        <li><a href="about/administration/index.html">Faculty &amp; Staff Resources</a></li>
        <li><a href="about/administration/academic-human-resources/index.html">Academic HR</a></li>
        <li><a href="http://apo.ucsc.edu/academic_workshops_and_training/DivData%20Manual/DivDataManual.html">BioBibNet</a></li>
        <li><a href="about/administration/computing/index.html">Computing Services</a></li>
      </ul>
    </li>
  </ul> 

</div>




      


