// Site color variables
$sand: #F2F0E4;
$sand-light: lighten($sand, 8%);
$sand-med: darken($sand, 2%);
$sand-dark: darken($sand, 4%);

$blue: #5585a2;
$blue-light: lighten($blue, 8%);
$blue-med: darken($blue, 2%);
$blue-dark: darken($blue, 4%);

$gold: #cb9001;
$gold-light: lighten($gold, 8%);
$gold-med: darken($gold, 2%);
$gold-dark: darken($gold, 4%);

$gray: #8E8C87;
$gray-light: lighten($gray, 8%);
$gray-med: darken($gray, 2%);
$gray-dark: darken($gray, 4%);

// Official identity colors, converted from print
$ucsc-blue: #1B4084;
$ucsc-gold: #F1B523;

// Campaign identity colors
$campaign-blue: #1B4084;
$campaign-gold: #F1B523;
$campaign-red: #F1B523;
