// Layout debugging
$visual-grid: true;
$visual-grid-index: front;

// Layout variables for Bourbon Neat
$border-box-sizing: true;
$max-width: em(1080);
$default-feature: min-width;
$grids-columns: 16;
$column: golden-ratio(1em, 3);
$gutter: golden-ratio(1em, 1);

// Breakpoint variables
$desktop:   new-breakpoint(min-width em(960) 12);
$tablet:    new-breakpoint(min-width em(803) 12);
$mobile:    new-breakpoint(max-width em(802) 12);
