## Get video blocks from the index block
#set ($blocks = $_XPathTool.selectNodes($contentRoot,"//system-index-block/system-block"))
#set ($size = $blocks.size())
## Get page content
#set ($content = $_XPathTool.selectSingleNode($contentRoot,"//system-data-structure/content")) 

<div class="content-box">
<ul class="archive-list">

## Iterate over each video block and format it
#foreach($block in $blocks)

  ## Get/set vars
  #if($block.getChild("system-data-structure").getChild("video_title"))
    #set ($title = $block.getChild("system-data-structure").getChild("video_title").text.replace("&","&amp;"))
  #else
    #set ($title = $block.getChild("title").text.replace("&","&amp;"))
  #end
  #set ($button = $block.getChild("system-data-structure").getChild("play_btn").text)
  #set ($path = $block.getChild("system-data-structure").getChild("video_url").text)
  #set ($desc = $block.getChild("system-data-structure").getChild("video_description"))
  #set ($image = $block.getChild("system-data-structure").getChild("video_thumb").getChild("path").text)
  #if($block.getChild("system-data-structure").getChild("video_code"))
    #set ($code = $block.getChild("system-data-structure").getChild("video_code"))
  #end
  
  ## HTML output
  <li>    
      <a class="thumb_link" href="${path}" title="Watch this video about ${title}">
          <!--<img alt="Play this video" class="play-button ${button}" height="35" src="http://static.ucsc.edu/images/play_btn.png" width="48" /> -->
          <img class="fltlft" src="${image}" alt="${title}" />
      </a>
      <a class="upTitle" title="Watch this video about ${title}" href="${path}">${title}</a>
      <div class="headline">
          $_SerializerTool.serialize($desc,true)
      </div>
      
      #if($code != '')
        <script type="text/javascript">
          var embedCode = '${_SerializerTool.serialize($code,true)}';
        </script>
      #end      
  </li>

      ## Reset vars for next article
      #set ($image = "")
      #set ($code = "")    
#end

</ul>
</div>