<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="https://webassets.ucsc.edu/css/ucsc.css">
    <title>Preview Layout</title>
  </head>

  <body>
    <div class="row three">
      {{{ yield }}}

      <div class="block">
        <h3 class="block-header">Sample Block</h3>
        <p>This block is for preview purposes only. It helps the preview appear more like it would on a campus web page.</p>
      </div>
      <div class="block">
        <h3 class="block-header">Sample Block</h3>
        <p>This block is for preview purposes only. It helps the preview appear more like it would on a campus web page.</p>
      </div>
    </div>

  </body>

</html>