// Primary layout styles

#wrap {

}
	
	#container {
		@include outer-container();
	}

	.row {
		border: 1px solid red;
		@include row(table);
		display: flex;
		margin-bottom: $base-font-size/2;

		@include media($mobile) {
			flex-flow: column;
		}

	}


	// Top row: global-nav and search
	#topNav,
	.global-nav {
		// border:2px solid blue;
		

		@include media($tablet) {
			flex:4;
		}

		
	}

	.search {
		//border:2px solid purple;

		@include media($tablet) {
			flex:1;
		}

		.query {
			width: 100%;
			margin-top: 5%;
		}


	}

	// Second row: logo and site title

		
		header {

		h1 {
			flex:1;
		}
		
		}

#slider {
	flex:1;
}

	#sprflt {
		@include span-columns(12);
		#mainContent {
			@include span-columns(9 of 12);
			@include shift(1);
			@include omega();
		}
		#subNav {
			@include span-columns(2 of 12);
		}
		#footer {
			@include span-columns(12 of 12);	
		}
	}
