//Banner bannerBox
/*
Banner Box

A box with an image and or caption as the banner of the site.

markup:
<div id="bannerBox">
  <img src="http://placehold.it/775x350">
  <p class="caption"> A caption for the photo goes here.</p>
</div>

Styleguide 3.3.0
*/
#bannerBox,
.banner-box {
  @include module-box-shadow(light);
  background-color: $sand-light;
  padding: 0.8em;
  margin-bottom: $font-size-base;
  border-radius: $border-radius-base;

  img {
    width: 100%;
    height:auto;
    padding:0;
    background-color: transparent;
  }

  .caption {
    margin:$font-size-base/4 $font-size-base/4 0 $font-size-base/4;
    font-size:90%;
    color: $gray;
  }

}
