// Rules for home page carousels

/* ===============================================================
Slide Styles
================================================================*/

// Custom clearfix
@mixin slider-clearfix {
	  display: table;
	  overflow: auto;
	  zoom: 1;
}

// Left and right column layouts
@mixin layout-left-right {
	@include media ($mobile) {
		max-width: 100%;
		text-align: left;
		padding: 1.5em 1em;
	}

	@include media ($tablet) {
		width: 100%;
		max-width: 475px;
		margin: 3% 0 3% 0;
	}
}

// Top and bottom full-width layouts
@mixin layout-horizontal {
	@include media ($mobile) {
		padding:1.5em 1em;
	}
	@include media ($tablet) {
		height: 35%;
		margin: 0;
		width:100%;
		padding: 0;
	}
}

@mixin slider-position {
	@include media ($mobile) {
		position: none;
	}
	@include media ($tablet) {
		position: absolute;
	}

}

// COLUMN RULES

@mixin billboard-title {
	.slide-title {
		@include media($mobile) {
			font-size: 2.5em;
			margin: 0 0 0.10em;
		}
		
		@include media($tablet) {
			font-size: 3em;
			display: block;
			line-height: 90%;
		}
	}

}

@mixin billboard-teaser{
	.slide-teaser {
		@include media($mobile) {
			font-size: 1.25em;
		}

		@include media($tablet)  {
			font-size: 1.5em;
		}
	}

}

@mixin billboard-slider-a {

	@include media($mobile) {
		font-size: .9em;
	}
	
	@include media($tablet)  {
		font-size: .9em;
	}
}


// HORIZONTAL RULES

@mixin horizontal-title {
	.slide-title {
		  display: block;
		  margin: 0;
		  width: 40%;
		  line-height: .9em;
		  text-align: right;
		  float: left;
	  
	  @include media($mobile) {
			width: 100%;
			max-width:803px;
			text-align: left;
			float: none;
			padding:0;
			font-size: 2.5em;
		}
	  @include media($tablet) {
	  		font-size: 3em;
	  		padding: .20em .5em .20em;
	  }

	}	
}


@mixin horizontal-teaser {
	.slide-teaser {
	  display: block;
	  line-height:1.25em;
	  width: 60%;
	  float: left;
	  @include media($mobile) {
			width: 100%;
			max-width:803px;
			text-align: left;
			float: none;
			position: static;
			margin: 0;
			font-size: 1.25em;
		}
	  @include media($tablet)  {
		  	font-size: 1.5em;
		  	padding: .80em 0 .20em;
	  }
	}
}

//End Top and Bottom

#slides {
	// z-index:1;
}

.slide {
	position:relative;
	max-width: 100%;
	margin-bottom: 5px;
	font-size: $font-size-small;
	max-height:362px;
	border-radius: $border-radius-base;
	overflow:hidden;
	
	img{
		width:100%;
		height: auto;
		z-index:1;
	}
	
}

.slide-body {
	// Defaults: if for some reason the theme and
	// layout classes aren't added, these rules take precedence.
	width: 100%;
	bottom: 0;
	z-index:1;
	background-color:rgba($ucsc-blue, 0.80);
	color:$sand-light;
	padding: 1em 1.2em 0.6em;
	@include slider-position;
	.slide-title {
		text-transform: uppercase;
		color:$sand-light;
		font-weight: 500;
		margin:0 0 .10em 0;
		line-height: 90%;
	}

	.slide-teaser {
		color:$sand-light;
		padding:0;
		margin:0 0 .25em 0;
		line-height: 115%;
		font-weight: 400;
	}

	a {
		color: $gold;
		text-decoration: none;
		@include billboard-slider-a; 
  	 &:after {
    		content: " »";
  		}
	}

	&.layout-left{
		@include billboard-title;
		@include billboard-teaser;
		@include layout-left-right;
		text-align: right;
		left:0;
	}
	
	&.layout-right{
		@include billboard-title;
		@include billboard-teaser; 
		@include layout-left-right;
		text-align: left;
		right: 0;
	}
	
	&.layout-top {   	
	   	@include layout-horizontal;
	   	@include horizontal-title;
	   	@include horizontal-teaser;
	   	@include slider-clearfix;
	   	top:5%;
  }

	&.layout-bottom{
		@include layout-horizontal;
		@include horizontal-title;
		@include horizontal-teaser;
		@include slider-clearfix; /* T */
		bottom: 5%;
	}

}

/* ===============================================================
Color Themes
================================================================*/

// A map of color theme settings for these slides.
$themes: (	
  "blue": (
	 background-color: rgba($ucsc-blue, 0.85),
	 color: $gold
  ),  
  "gold": (
    background-color: rgba($gold, 0.85),
    color: $blue
  )
);

// Loop over the mapped themes and output a rule for each one.
@each $color, $i in $themes {
    .color-#{nth($color, 1)} {
    		background-color:#{map-get($i, background-color)};
        .slide-title {
        	color:#{map-get($i, color)};
        }
        a {
        	color:#{map-get($i, color)};	
        }
    }
}


/* ===============================================================
Pagination Styles
================================================================*/
.owl-buttons {
	display: none;
}
.owl-theme .owl-controls{
	// position: absolute;
	bottom:0;
	right:0;
	padding: 0 10px;
}

// The control dots under each set of billboards.
.owl-controls .owl-pagination {
	
	.owl-page span {
		background-color:$gray-light;
		opacity:0.25;
		border-radius: $border-radius-base;
		color: #ECE9D8;
		font-size: $font-size-base;
		padding: 0.5em 1.5em;
		margin: 0 0.25em;
	}

	.owl-page.active span {
		background-color:$gray-light;
	}

}