//News Block
/*
News Block

List of recent news articles for homepages.

markup:
<div class="news-block">
	<h3 class="block-header">University News</h3>
	<ul class="archive-list">
		<li>
			<a href="#">
				<img src="http://placehold.it/72x72">
				<span class="date">May 20, 2016</span>
				<span class="headline">Article Headline Here</span>
			</a>
		</li>
		<li>
			<a href="#">
				<img src="http://placehold.it/72x72">
				<span class="date">May 20, 2016</span>
				<span class="headline">Article Headline Here</span>
			</a>
		</li>
	</ul>
</div>

sg-wrapper:
<div class="block" style="width:305px; height:210px">
  <sg-wrapper-content/>
</div>

Styleguide 3.4.6
*/

#news,
.news-block {

	ul {
		@include reset(list);

		li {
			clear: both;
			line-height:130%;
			margin: 0 0 0.5em;
			min-height: 80px;
			padding: 0;
			background-image: none;
			list-style-type: none;

			img {
				float: left;
				display: block;
				margin: 0 0.5em 0.5em 0;
				width:80px;
				height:auto;
			}

			.date {
				color: #929290;
				font-size: 0.75em;
				letter-spacing: 1px;
				display: block;
				margin:0;
			}

		}
	}
}
