// Layout rules for blocks on home pages
@mixin module-box($columns) {
  @include outer-container;
  .wrap {
    @include span-columns($columns);
  }
}


// Module row with three columns
.three {

  @include pad;
  display: block;

  @include media($tablet) {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    padding: 0;
  }

  .wrap {
    display: block;
    float: left;
    width: 100%;

    @include media($tablet) {
      float: left;
      width: 33.333%;
      flex-basis: 33.333%;

    }
  }
}

// Module row with four columns
.four {

  display: block;

  .wrap {

    margin-bottom: 2em;
  }

  @include media($tablet) {

    .wrap {
      float: left;
      width: 22%;
      margin-right: 4%;

    }
  }

  .wrap.last {
    margin-right: 0;
  }

}

.five {

  > div {
    @include image-display(#fff, 0, false);

    img {
      margin-bottom: 0;
    }

    h2 {

    }

  }


}

.combined {
  width: 100%;

  .wrap {

    @include omega;
    @include pad;
    padding-top: 0;

    @include media($mobile) {
      padding: 1em;
    }

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      border-right: none;
      padding-right: 0;
    }
  }

  &.light {
    padding:0;
  }

}

.separate {

  .wrap {
    padding: 1em;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
    &:nth-child(2) {
      padding:1em 0;
    }
    @include omega;
    @include media($mobile) {
      padding: 0;
      margin:0 0 2em 0;
    }

  }



  .inner {
    @include clearfix;
    // @include pad(1em);
    // @include module-box-shadow(dark);
    // background-color: $sand-dark;
    // background-color: #f1f1f1;
    min-height: 350px;
    margin: 0;
    @include media($mobile) {
      min-height: auto;
    }
  }

}


.list {

  ul {
    li {
      @include span-columns(4);
      @include image-display($sand-dark, 0.2em, false);
    }
  }
}

.more {
	display:block;
	clear:both;
	text-transform:none;
}

.block table {
  margin-bottom: 1em;
}




// ## Header styles for each home page row style.
// @todo: we should make this more standardized.
// A mixin, perhaps?

.separate .block-header {

}

// Home page, right under billboards
.combined .block-header {

  border-bottom: 0;

  a {
    color: $brand-dark-gray;
  }

}

// Dept-Div pages
.dept .combined .block-header,
.dept .combined .block-header {


}
