//Image Blocks
/*
Image Blocks

Styleguide 3.8.0
*/
.block img {
    padding:0.25em;
    border-radius: $border-radius-base/2;
    .dark & {
        background-color: $sand-light;
    }
    .light & {
        background-color: $sand-dark;
    }
}

/* Block images with a width of 216px should extend full-width */
.block img[width="216"] {
  display:block;
  width:100%;
  margin-bottom: 0.5em;
  height: auto;
}
