// Layout rules for blocks on home pages
@mixin module-box($columns) {
  @include outer-container;
  .wrap {
    @include span-columns($columns);
  }
}


// Module row with three columns
.three {

  display: flex;
  flex-direction: column;
  gap: 1.6em;

  @include media($tablet) {
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0;
    justify-content: space-evenly;    
  }

  .wrap {
    @include media($tablet) {
      flex: 0 1 33%;
    }
  }
}

// Module row with four columns
.four {

  display: flex;
  flex-direction: column;
  gap: 1.6em;
  flex-wrap: nowrap;

  @include media($tablet) {

    flex-direction: row;

    .wrap {
      flex: 0 1 25%;
    }
  }

}


.five {

  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;

  @include media($portrait) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  > div {

    @include media($portrait) {
      flex: 1 0 30%;
    }

    @include media($desktop) {
      flex: 1 0 20%;
    }

  }
}



.combined {

  .wrap {

    @include media($mobile) {
      padding: 1em;
    }

  }

  &.light {
    padding:0;
  }

}

.separate {

  .wrap {
    padding: 1em;
    @include media($mobile) {
      padding: 0;
      margin:0 0 2em 0;
    }

  }



}


.list {

  ul {
    li {
      @include span-columns(4);
      @include image-display($sand-dark, 0.2em, false);
    }
  }
}

.more {
  background-image: none;
  text-align: right;
  clear: both;
}

.more a {
  background: transparent url(../images/right-arrow.svg) no-repeat right 58%;
  background-size: 14px;
  padding: 0 14px 0 0;
  text-transform:none;
}

.block table {
  margin-bottom: 1em;
}

// Home page, right under billboards
.combined .block-header {

  border-bottom: 0;

  a {
    color: $brand-dark-gray;
  }

}
