//Image Blocks
/*
Image Blocks

.dark - light sand background color
.light - dark sand background color

markup:
<div class="block {$modifiers}">
  <img src="http://placehold.it/300x130">
</div>

sg-wrapper:
<div class="block">
  <sg-wrapper-content/>
</div>

Styleguide 3.4.5
*/
.block img {
    padding:0.25em;
    border-radius: $border-radius-base/2;
    .dark & {
        background-color: $sand-light;
    }
    .light & {
        background-color: $sand-dark;
    }
}

/* Block images with a width of 216px should extend full-width */
.block img[width="216"] {
  display:block;
  width:100%;
  margin-bottom: 0.5em;
  height: auto;
}
