// Block: three fancy links, with an image link on top (www home page only)
.engagement-block {

  li {
    list-style: none;
    padding: 0;
    margin:0;
    background-color: $brand-primary-blue;

    a, span {
      display: block;
      transition-property: background;
      transition-duration: 0.2s;
      transition-timing-function: linear;
    }

    a {
      text-decoration: none;
      display: block;
      width:100%;
      color: #fff;
      font-style: italic;
      font-family: $font-family-serif;

      &:hover,
      &:focus,
      &:active {

        span {
          background-position:98% center;

        }
      }
    }

    span {
      border-radius: 0;
      padding: 1em;
      background:transparent url("data:image/svg+xml;utf8,%3Csvg%20version%3D'1.1'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%20x%3D'0px'%20y%3D'0px'%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'%23FFFFFF'%20viewBox%3D'0%200%20512%20512'%20enable-background%3D'new%200%200%20512%20512'%20xml%3Aspace%3D'preserve'%3E%3Cpolygon%20id%3D'arrow-30-icon'%20points%3D'229.312%2C50%2079.668%2C50%20284.688%2C256%2079.668%2C462%20229.312%2C462%20434.332%2C256'%2F%3E%3C%2Fsvg%3E") no-repeat 96% center;
      background-size:auto 2em;

      }

    b {
      display:block;
      font-weight: 700;
      text-transform: uppercase;
      color: $brand-gold;
        font-family: $font-family-sans-serif;
        font-style: normal;
        font-size: 1.2em;
        letter-spacing: .05em;

    }

    img {
      padding:0;
      display:block;
      width:100%;
      height:auto;
      // border-radius: 5px 5px 0 0;
    }

  }
}
