//Factoid Block
/*
Factoid Block

Block with title, image and caption.

markup:
<div class="factoid-block">
	<h3>Title of the Block</h3>
	<a href="#">
		<img src="http://placehold.it/200x200">
	</a>
</div>

sg-wrapper:
<div class="block" style="width:200px; height:200px">
  <sg-wrapper-content/>
</div>

Styleguide 3.4.3
*/
.factoid-block {

	img {
		display:block;
		width:100%;
		height:auto;
		padding:0;
	}

}
