/*
Breadcrumbs

Linked path back to the front page. Should appear just below the main navigation.

markup:
<div class="row breadcrumbs">
   <p><a href="../index.html">Home</a> / <a href="http://example.com/">Directory</a> / This page</p>
</div>

Styleguide 3.11.0
*/

.breadcrumbs {

  p {
    font-size: em(12);
    margin: .75em 0 .75em $font-size-base / 2;
  }

}
