.contentBox,
.content-box {

  margin:0;
  overflow-x: auto;
  @include clearfix;

  > :first-child   {
    margin-top: 0;
  }

  + .content-box,
  + .contentBox {
    margin-top: 1.75em;
  }

  a {
    color: #006aad;
    text-decoration: none;
    border-bottom: 1px solid #fdc700;
  }

  a:focus,
  a:hover,
  a:active {
    color: #006aad;
    border-bottom: 1px outset #006aad;


}
