.contentBox,
.content-box {
  @include module-box-shadow;
  background-color: $sand-light;
  padding: 1.2em;
  border-radius: $border-radius-base;
  margin:0;
  overflow-x: auto;
  @include clearfix;

  > :first-child   {
    margin-top: 0;
  }

  + .content-box,
  + .contentBox {
    margin-top: 1.75em;
  }

}
