// The main navigation bar on every page

.main-header {
  margin-bottom: 2em;
  position: relative;
}

.main-navigation {
  margin-bottom: 0;
  .home & {
    margin-bottom:1.2em;
  }
}

#mainNav,
.site-nav {
  display:table;
  width:100%;
  padding:0;
  margin:0;

  li {
    position:relative;
    padding:0;
    margin:0;
    list-style: none;
    float: left;
    display: block;
    font-family: $font-family-serif;
    font-size: 1.15rem;
    margin-right: 1.25em;

    a, span {
      color: #000;
      cursor:pointer;
      display:block;
      text-decoration:none;
      padding: 0;
      position: relative;
      border-bottom: 1px solid transparent;
      &:focus,
      &:hover,
      &:active {
        color: $brand-secondary-blue;
        border-bottom: 1px dashed $brand-light-gray;
      }
    }

    @include media($small-desktop-plus) {
      font-size: 1.35rem;
      margin-right: 1.75em;
    }

    @include media($tablet-minus) {
       display:block;
       float: none;

      a, span {
        border-bottom: 1px dashed $brand-light-gray;
        padding: 5px 10px;
      }

    }

    span {
      padding-right: 20px;
      &:focus,
      &:hover,
      &:active {
        border-color: transparent;
      }
    }

    span:after {
      content: "\f078";
      font-size: 15px;
      color: $brand-yellow;
      display: block;
      position: absolute;
      right: 0;
      top: 20%;
      font-family: FontAwesome;
    }

    // A span tag inside of an a results in double-padding.
    // This rule removes it.
    a span { padding: 0; }
  }

  @include media($tablet) {
    > :last-child {
      > a {
      }
      > span {
      }
    }

    > :first-child {
      > a, > span {
      }
    }
  }

  /* Dropdowns */
   li ul {
     z-index:1000;
     background-color:#fff;
     border: 1px solid $brand-light-gray;
     margin:0;
     width:100%;
     min-width: 14em;
     margin-top: -1px;
     padding:5px 0;
     position:absolute;
     left:-900em;
     li {
        font-size: .8em;
       float: none;
       display:block;
       text-align:left;
       border-bottom:none;
       a {
         text-transform: none;
         padding: .25em .75em;
         border: none;
         &:focus,
         &:hover,
         &:active {
           text-decoration: underline;
           border: none;
         }
       }
     }
   }

   li:focus ul,
   li:hover ul,
   li.hover ul {
     left:auto;
   }
}
