// Main Navigation Version 2
/*
Main Navigation V.2

Navigation bar.

markup:
<div class="main-navigation" role="navigation">
  <ul id="mainNav">
    <li class="first"><a href="#">Why UCSC</a></li>
    <li><a href="#">Academics</a></li>
    <li><a href="#">Campus Life</a></li>
    <li><a href="#">Apply</a></li>
    <li><a href="#">Visit</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</div>

Styleguide 3.18.0
*/
#mainNav,
.site-nav {
    // Mobile-first defaults
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
    border-radius: 0;
    background-image: none;
    border-radius: 0;
    width: 100%;
    display: block;
    @include toggle-menu;
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        @include toggle-menu;
    }
    a, span {
        border-radius: 0;
        background-image: none;
        display: block;
        padding: $font-size-base / 1.8 $font-size-base * 1.5;
        border-top: 1px solid $sand-dark;
        border-bottom: 1px solid $sand-light;
        background-color: $sand-light;
    }

    // Tablet and up
    @include media($tablet) {
        position: relative;
        display: inline;
        //border-radius: $border-radius-base;
        width: auto;
        table-layout: fixed;
        //padding-left: 0 !important;
        //border-collapse: separate;
        //@include module-box-shadow;

        > li {

            float: none;
            display: table-cell;
            width: auto;
            position: relative;

            &:first-child a {
                //border-radius: $border-radius-base 0 0 $border-radius-base;
				padding-left:0;
            }

            &:last-child a,
            &:last-child span {
                //border-radius: 0 $border-radius-base $border-radius-base 0;
            }

            > a, span {
                //border-left: 1px solid $sand-light;
                //border-right: 1px solid $sand-dark;
                //background-image: -moz-linear-gradient(top, #f4f1e6, white);
                //background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f4f1e6), to(white));
                color: $gold;
                cursor: pointer;
                display: block;
                width: 100%;
                font-weight: bold;
                padding: 0 0.8em;
				font-size: 1.20em;
				background:none;
				border:none;
                //text-transform: uppercase;
                text-decoration: none;
                //text-shadow: 1px 1px 0px #FFF;
                text-align: left;

                &:focus,
                &:hover,
                &:active {
                    color: $gold-light;

                    text-decoration: none;
                    text-shadow: none;
                }
            }

        } // END: > li

        > li ul {
            display: none;
        }






	}

} // END: #mainNav
