// See Also Links
/*
See Also

Related links at the end of a news article.

markup:
<div class="row">
  <h3>See <span>Also</span></h3>
  <div id="seeAlso">
    <ul>
      <li><a href="#">Title of Related Article</a></li>
      <li><a href="#">Title of Related Article</a></li>
      <li><a href="#">Title of Related Article</a></li>
    </ul>
  </div>
</div>

Styleguide 3.20.0
*/
#seeAlso,
.see-also {
  padding:0.8em;
  background-color:$sand-light;
  border-radius: 5px;
  margin:0 0 1em;
  @include module-box-shadow(light);
  @include clearfix;

  ul {
    margin:0;
    padding-left:0;

    li {
      list-style-type: disc;
      width: 100%;
      margin:0 0.5em 0.1em 1.25em;
      padding:0.1em 0.5em 0.1em 0.25em;
    }

    // If modernizr says the browser suuports columns,
    // let's do it for landing pages only.
    .csscolumns .landing & {
      @include media($mobile) {
        column-count: 1;
      }
      @include media($tablet) {
        column-count: 2;
      }
      @include media($desktop) {
        column-count: 3;
      }
    }

  }
}
