//Right Sidebar
/*
Right Sidebar

markup:
<div class="sidebar right-column">
  <div class="inner">
    <h3 class="header">UCSC in the news</h3>
    <ul class="archive-list with-thumbs">
      <li>
        <span class="item-media">
          <a href="#">
            <img src="http://placehold.it/48x48" width="48">
          </a>
        </span>
        <span class="item-body">
          <a href="http://www.npr.org/2016/05/19/478692554/at-80-carla-bley-keeps-looking-towards-the-next-composition">
            <span class="date">NPR All Things Considered</span>
            <span class="headline">Title of story in the news</span>
          </a>
        </span>
      </li>
    </ul>
  </div>
</div>

Styleguide 3.14.0
*/
.right-column .sidebar {

  .inner {
    @include module-box-shadow();
    border-radius: $border-radius-base;
    padding: 0.75em 1em;
    margin-bottom: 1em;
    background-color: $sand;
    @include clearfix;
  }

   h4, .header {
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 2px solid darken($sand-light, 2%);
    padding-bottom: 0.5em;
    margin-top: 0;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
   }

  ul {
    list-style: square;
    font-size: 1em;
    margin: 0.5em 0 0;
    padding: 0 0 0 1.4em;
    li {
      padding: 0;
      margin: 0;
      line-height: 1.6;
      a {
        border-bottom: none;
        display: inline;
        padding: 0;
      }
      &:first-child a {
          border-top: none;
        }
    }
  }

}

// Modifier for news site.
.news.right-column .sidebar {
  margin-top:3.4em;
  ul li {
    line-height: 1.4;
    margin-bottom: 0.65em;
  }
}
