//Title Group
/*
Title Group

A title group is a word or *very short* phrase, followed by an associated tweet-length tag line. They are used on the campus "landing" pages (see http://www.ucsc.edu/about/):

markup:
<div class="title-group">
    <h1>About</h1>
    <p>This is a place like no other -- a place that inspires, a place that evokes passion and imagination -- all with a view to a limitless horizon.</p>
</div>

 Styleguide 3.25.0
*/

.title-group {
    text-transform: uppercase;
    display: table;

    h1 {
        font-size:3.2rem;
        margin:0;
        color: $gold;
        font-weight:500;
        letter-spacing:-2px;
        line-height: 1;
        padding:0;
        text-shadow: 1px 1px 2px $sand-dark;
    }

    p {
        font-size:1.20em;
        line-height:1.2;
        font-weight:300;
        color:$gray-light;
        word-spacing:-1px;
    }

    @include media($desktop) {
        h1, p {
            display:table-cell;
            position: relative;
            vertical-align: middle;
        }

        p {
            padding:0.2em 0 0 1em;
            margin:0;
        }
    }

}
