// The title and subtitle on second-level pages of the main campus website

.title-group {
    // text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 2em 0;

    h1 {
        font-size:2.5rem;
        margin:0;
        // color: $gold;
        // font-weight:500;
        // letter-spacing:-2px;
        // line-height: 1;
        font-weight: normal;
        padding:0;
        // text-shadow: 1px 1px 2px $sand-dark;


    }

    p {
        padding-top: 1em;
        border-top: 2px solid $brand-secondary-blue;
        font-size: 1rem;
        font-weight:300;
        margin-top: 1em;
    }

    @include media($portrait) {

        flex-direction: row;

        h1 {
          font-size: 3rem;
        }

        p {
            font-size: 1.2rem;
            padding: 0 0 0 1em;
            margin: 0 0 0 1em;
            max-width: 68%;
            border: none;
            border-left: 2px solid $brand-secondary-blue;
        }
    }

}
