#footer {
	border-top: 1px solid lighten($gray-light, 10%);
	padding-top:$line-height-base/2;
	display: flex;
	justify-content: flex-end;
	align-content: baseline;

	.address {
		flex:2;
		order: 1;
		text-transform: uppercase;
  	font-size: $font-size-base/1.25;
  	line-height: 1.5;
  	letter-spacing: 0.01em;
		font-weight:normal;
		@include media($mobile) {
			br {
				display: none;
			}
		}		
	}

	.links,
	> a {
		order: 2;
		text-align:right;
		margin-left: 0.5em;
		img {
			display: inline;
		}
		@include media($mobile) {
			margin: 0.25em 0;
		}		
	}

	.links a {
		display: inline-block;
		margin:0.5em 0 0.25em 0.5em;

	}

	.social-media {
		margin-left: 1em;
		order: 3;
		text-align:right;
		a { 
			display:inline-block;
			overflow:hidden;
			img {
				position:relative;
				left:0px;
			}
			&:focus,
			&:hover,
			&:active {
				img {
					position:relative;
				}
			}
		}
	}

	
		@include media($mobile) {
		flex-flow: column nowrap;
		& .address,
		& .links,
		& .social-media {
			text-align: center;
		} 
	}


}

// An IP address is displayed in the footer
// of some pages (ITS added this)
// We hide it from view.
.check-ip {
	display: none;
}

.legal {
	text-align: center;
	@include meta-small(-1);
  font-size: 12px;
  max-width: 100%;
  text-transform: none;
  margin:3em 0;
  li {
    display: inline;
  } 
}