//Main Content
/*
Main Content

The main content of the page.

markup:
<div class="main-content" id="main" role="main">
  <h1>Title of the Page</h1>
  <p>Content of the page</p>
</div>

Styleguide 5.1.0
*/
.main-content {

  img {
    background-color: darken($sand, 5%);
    padding: $font-size-base/3;
    border-radius: $border-radius-base;

    &[align="left"] {
      float:left;
      margin: $font-size-base/2 $font-size-base/2 $font-size-base/2 0;
    }

    &[align="right"] {
      float:right;
      margin: $font-size-base/2 0 $font-size-base/2 $font-size-base/2;
    }

    table & {
      margin-top: 0;
    }

  }

}


.touch .main-content .search {
  @include media($mobile) {
    display: none;
  }
}
