// Rules for elements in the .main-content area.
.main-content {

  img {
    background-color: darken($sand, 5%);
    border-radius: $border-radius-base;
    padding: $font-size-base / 3;

    &[align="left"] {
      float: left;
      margin: $font-size-base / 2 $font-size-base / 2 $font-size-base / 2 0;
    }

    &[align="right"] {
      float: right;
      margin: $font-size-base / 2 0 $font-size-base / 2 $font-size-base / 2;
    }

    // Remove the colored padding on images
    &.plain {
      padding: 0;
      background-color: transparent;
      border: 0;
      border-radius: 0;
    }

    table & {
      margin-top: 0;
    }

  }

}

.touch .main-content .search {
  @include media($mobile) {
    display: none;
  }
}
