// Site Title
/*
UCSC Logo and Site Title

At minimum, contains the UCSC logo. On division/department sites, it contains the site title too.

markup:
<div class="site-header">
  <div class="names">
    <div class="campus-name">
      <a class="campus-logo" href="http://www.ucsc.edu/index.html" id="logo">UC Santa Cruz</a>
    </div>
  <div class="site-name">Undergraduate Admissions</div>
</div>

Styleguide 5.2.0
*/
.names {

    // Mobile
    margin: 1em auto 0 auto;

    // Tablet
    @include media($tablet) {
      margin-bottom: $font-size-base;
    }

  .site-name {

    // Mobile
    @include span-columns(12);
    margin: $font-size-base 0;

    // Tablet
    @include media($tablet) {
      @include span-columns(8);
      margin:0 auto;
    }

    // Desktop
    @include media($desktop) {
      @include span-columns(9);
      margin:0 auto;
    }

  }


  .campus-name {

    // Mobile
    @include span-columns(12);
    .www & {
      @include span-columns(12);
    }

    // Tablet
    @include media($tablet) {
      @include span-columns(4);
      padding-bottom:0;
      .www & {
        @include span-columns(12);
      }
    }

    // Desktop
    @include media($desktop) {
      @include span-columns(3);
      border-bottom: none;
      padding-bottom:0;
      .www & {
        @include span-columns(12);
      }
    }


    .campus-logo {

      @include hide-text();
      display: block;
      background:transparent url(../images/logos/ucsc-logotype.svg) no-repeat left top;
      background-size: contain;
      height: 72px;
      max-width: 260px;
      @include span-columns(7);

      @include media($tablet) {
        @include span-columns(12);
      }

    }

  }

  .mobile-menu {

    // Mobile
    color:$sand-light;
    border-radius: $border-radius-base/2;
    background-color: darken($gray-light, 10%);
    padding:0.5em 2.2em 0.5em 0.5em;
    float: right;
    margin-top: 0.55em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    max-width: 8em;
    text-decoration:none;

    @include hoverActiveFocus($ucsc-blue, $sand-light, none);

    // Tablet+
    @include media($tablet) {
      display:none;
    }

  }

}
