// Rules for the logo and site title in the second row of every page
// Except in the 'www' site, where only the logo is present

.names {

  // Mobile
  margin: 1em auto 0;

  // Tablet
  @include media($tablet) {
    margin-bottom: $font-size-base;
  }

  .site-name {

    // Mobile
    @include span-columns(12);
    margin: $font-size-base 0;

    // Tablet
    @include media($tablet) {
      @include span-columns(8);
      margin: 0 auto;
    }

    // Desktop
    @include media($desktop) {
      @include span-columns(9);
      margin: 0 auto;
    }

  }

  .campus-name {

    // Mobile
    @include span-columns(12);

    .www & {
      @include span-columns(12);
    }

    // Tablet
    @include media($tablet) {
      @include span-columns(4);
      padding-bottom: 0;

      .www & {
        @include span-columns(12);
      }
    }

    // Desktop
    @include media($desktop) {
      @include span-columns(3);
      border-bottom: 0;
      padding-bottom: 0;

      .www & {
        @include span-columns(12);
      }
    }


    .campus-logo {

      @include hide-text();
      background: transparent url('../images/logos/ucsc-logotype.svg') no-repeat left top;
      background-size: contain;
      display: block;
      height: 72px;
      max-width: 260px;

      @include span-columns(7);

      @include media($tablet) {
        @include span-columns(12);
      }
    }
  }  

  .mobile-menu {

    // Mobile
    border-radius: $border-radius-base/2;
    background-color: darken($gray-light, 10%);
    color:$sand-light;
    float: right;
    font-weight: 300;
    margin-top: 0.55em;
    max-width: 8em;
    padding: .5em 2.2em .5em .5em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    @include hoverActiveFocus($ucsc-blue, $sand-light, none);

    // Tablet+
    @include media($tablet) {
      display:none;
    }
  }

}