// Rules for the logo and site title in the second row of every page
// Except in the 'www' site, where only the logo is present

.names {

  // Mobile
  margin: 1.5em auto .25em auto;

  // Tablet
  @include media($tablet) {
  }

  .site-name {

    // Mobile
    @include span-columns(12);
    margin: $font-size-base 0;

    // Tablet
    @include media($tablet) {
      @include span-columns(8);
      margin: 0 auto;
    }

    // Desktop
    @include media($desktop) {
      @include span-columns(9);
      margin: 0 auto;
    }

  }

  .campus-name {

    // Mobile
    @include span-columns(12);

    .www & {
      @include span-columns(12);
    }

    // Tablet
    @include media($tablet) {
      @include span-columns(4);
      padding-bottom: 0;

      .www & {
        @include span-columns(12);
      }
    }

    // Desktop
    @include media($desktop) {
      @include span-columns(3);
      border-bottom: 0;
      padding-bottom: 0;

      .www & {
        @include span-columns(12);
      }
    }


    .campus-logo {

      @include hide-text();
      background: transparent url('/images/logos/uc-santa-cruz.svg') no-repeat left top;
      background-size: contain;
      display: block;
      overflow: hidden;
      float: left;
      width: 150px;
      height: auto;

      @include media($small-desktop-plus) {
          width: 220px;
          height: auto;
          margin-bottom: 0.5em;
      }

      @include media($tablet) {

      }

    }

  }

  .secondary-name {
    display: flex;
  }

  .secondary-name,
  .secondary-name > * {
    font-family: $font-family-sans-serif-condensed;
    text-transform: uppercase;
    line-height: 1.2;
    font-size: 2.25rem;
    margin: 0 0 .25em;
    padding-right: 60px;

    @include media($tablet-minus) {
      font-size: 1.85rem;
      margin: 0 0 .25em;
    }

    .flourish {
      color: #333;
      font-size: .75em;
      font-weight: 300;
      font-family: Georgia,serif;
      font-style: italic;
      line-height: 90%;
      text-transform: lowercase;
    }

    a {
      &:focus,
      &:hover,
      &:active {
        text-decoration: none;
      }
  }

  }

  .mobile-menu {
    // Mobile
    @include hide-text();
    background-color: $brand-primary-blue;
    position: absolute;
    right: 0;
    margin-top: -3px;
    font-weight: 300;
    padding: 10px;
    display: block;
    width: 40px;
    height: 40px;

    &:focus,
    &:hover,
    &:active {
      background-color: black;
    }

    // Tablet+
    @include media($tablet) {
      display:none;
    }

  }

}
