@use "sass:math";

.page-top {
  padding: 10px $font-size-base 12px $font-size-base;
  margin-left: -$font-size-base;
  margin-right: -$font-size-base;

  .row {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;

    &:after {
      all: unset;
    }
  }

.page-top-left,
.page-top-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}


  .page-top-left {

    @include media($tablet) {
      margin: 0;
    }

  }

  .campus-secondary {
    text-indent: -10000px;
    background: transparent url('/images/logos/uc-santa-cruz-2021.svg') no-repeat left top;
    display: block;
    width: 150px;
    height: 34px;
  }

  .page-top-right {

    padding: 1em 0;

    @include media($tablet) {
      float: right;
      padding: 0;
    }
  }



  #topNav,
  .global-nav {
    display: block;
    font-size: .9rem;
    @include media($tablet) {
      width: auto;
      margin-right: 0;
    }
  }


}


// ## Global Navigation
// The global navigation at the top of the page.
// Collapsed (with toggle) on smaller screens.
#topNav,
.global-nav {

    display: flex;
    flex-direction: row;
    gap: 0.8em;

    // Mobile first defaults
    margin: 10px 0;
    // @include reset(list);
    li {
      margin: 0;
      padding:0;
      list-style: none;
    }

    a {
      color: $brand-primary-blue;
    }

    // Tablet and up
    @include media($tablet) {

        margin: 5px 0 0 0;

        > li {
          display: inline-block;
          width: auto;
          background-image: none;
          line-height: 1.2em;
          list-style-type: none;
          margin-left: 1em;
          position: relative;
          padding: 0;
        }

        a {
          border: none;
          background-color: transparent;
          border-radius:0;
          font-weight:400;
          padding: 0;
          @include hoverActiveFocus(transparent, $brand-primary-blue, underline);
        }
    }
}


// ## Site Search
// Search box for searching each site.
.search {

      position: relative;
      margin-bottom: 15px;

  // Mobile first defaults
  .query {
    font-size: 15px;
    line-height: 140%;
    padding:math.div($font-size-base, 4);
    width: 100%;
    color: $gray-dark;
    // border: 1px solid lighten($gray-light, 20%);
    // border-radius: $border-radius-base;
    border: none;
    &:focus,
    &:active {
      box-shadow:0 0 8px rgba(0,0,0,0.4);
    }

  }

  label {
    display: block;
    position:absolute;
    left:-900em;
    overflow: hidden;
  }

  // Tablet and up
  @include media($tablet) {

    display: block;
    margin-left: 20px;
    width: 160px;
    margin-bottom: 4px;

    // margin-top: 1em;
    .query {
      display: block;
      margin-top: 0;
    }
  }

}

.www .page-top-right {

  @include media($tablet-minus) {
  padding: 0;
  }
}
