## Get articles for an index block
#set ($articlesLimit = 10)
#set ($articles = $_XPathTool.selectNodes($contentRoot,"//system-page[not(contains(path,'_internal'))][not(@current)][not(system-data-structure/page-type = 'Category Index')][dynamic-metadata[starts-with(name,'category-')]/value = ancestor::system-index-block/calling-page/system-page/dynamic-metadata[starts-with(name,'category-')]/value]"))

#if (!$articles.isEmpty())
## Sort articles by start-date, then article-date
$_SortTool.addSortCriterion("dynamic-metadata[name='type']/value","","text","descending","upper-first")
$_SortTool.addSortCriterion("start-date","","number","descending","upper-first")
$_SortTool.sort($articles)

<div id="below-content" class="content-box">
  <h3>Latest news</h3>
  <ul class="archive-list image-right">

  #if ($articles.size() <= $articlesLimit )
      #set ($articlesToList = $articles)
  #else
      #set ($articlesToList = $articles.subList(0,$articlesLimit) )
  #end    

  ## Loop through articles and list
  #foreach($page in $articlesToList)

      ## Get/set vars
      
      #set ($title = $_SerializerTool.serialize($page.getChild("title"),true).replaceAll('"', '&#34;'))
      #set ($summary = $_SerializerTool.serialize($page.getChild("summary"),true))
      #set ($path = $page.getChild("link").value)
      
      ## Check for image thumbnails and set variable if it doesn't show.
      #if($page.getChild("system-data-structure").getChild("lead-image").getChild("image-thumb").getChild("link"))
        #set ($imgLink = $page.getChild("system-data-structure").getChild("lead-image").getChild("image-thumb").getChild("link").text)
      #end
      ## Get alt text if it is there
      #if($page.getChild("system-data-structure").getChild("lead-image").getChild("image-thumb-alt"))
        #set ($imgAlt = $page.getChild("system-data-structure").getChild("lead-image").getChild("image-thumb-alt").text)
      #end
      #set ($dateNode = $page.getChild("start-date"))
      #set ($pageDate = $_DateTool.getDate($dateNode.value))
      #set ($pageDateText = $_DateTool.format('MMMM d, yyyy',$pageDate))
    
      <li>
        #if($imgLink && $imgLink != "")
          <a href="${path}" class="thumbnail"><img src="${imgLink}" alt="${imgAlt}" /></a>
        #end
          <!-- <span class="date">${pageDateText}</span> -->
          <a href="${path}">${title}</a>
          <p>${summary}</p>
      </li>
    
    ## Reset img path for next article
    #set ($imgLink = "")

  #end
  
  </ul>
</div>

#end