## Get events for an Featured Events listing
#set ($events = $_XPathTool.selectNodes($contentRoot,"//system-data-structure/event"))

<div id="events" class="events">
  <h2><a href="https://events.ucsc.edu">Featured <span>Events</span></a></h2>
  <dl>
    
#foreach($item in $events)

    ## Get/set vars
    #set ($line1 = $item.getChild("line-one").text.replace("&","&amp;"))
    #set ($line2 = $item.getChild("line-two").text.replace("&","&amp;"))    
    #set ($link = $item.getChild("url").text)
    #set ($dateNode = $item.getChild("date").text)
    ## Get date from text date
    #set($pageDate = $_DateTool.toDate("M-d-y",$dateNode))
    ## Set vars for month and day
    #set ($pageDateMonth = $_DateTool.format('MMM',$pageDate))
    #set ($pageDateDay = $_DateTool.format('d',$pageDate))
    ## Output HTML
    <dt>${pageDateMonth} <strong>${pageDateDay}</strong></dt>
    <dd><a href="${link}">${line1}<br />${line2}</a></dd>
    
#end
  </dl>
  <p><a class="more" title="More events" href="https://events.ucsc.edu">More events &#187;</a></p>
</div>