## Get articles for an index block
#set ($articlesLimit = 3)
#set ($articles = $_XPathTool.selectNodes($contentRoot,"//system-page[not(contains(path,'_internal'))][not(@current)][not(system-data-structure/page-type = 'Category Index')][dynamic-metadata[starts-with(name,'category-')]/value = ancestor::system-index-block/calling-page/system-page/dynamic-metadata[starts-with(name,'category-')]/value]"))

#if (!$articles.isEmpty())
$_SortTool.addSortCriterion("start-date","","number","descending","upper-first")
$_SortTool.sort($articles)


  <h3>University <span>News</span></h3>
  <div id="landingNews">
  <ul class="archive-list horizontal">

#if ($articles.size() <= $articlesLimit )
  #set ($articlesToList = $articles)
#else
  #set ($articlesToList = $articles.subList(0,$articlesLimit) )
#end  
#foreach($page in $articlesToList)

    ## Get/set vars
    #set ($title = $_SerializerTool.serialize($page.getChild("title"),true))
    #set ($path = $page.getChild("link").value)
    ## Check for image thumbnails and set variable if it doesn't show.
    #if($page.getChild("system-data-structure").getChild("lead-image").getChild("image-thumb").getChild("link"))
      #set ($imgLink = $page.getChild("system-data-structure").getChild("lead-image").getChild("image-thumb").getChild("link").text)
    #end
    ## Get alt text if it is there  
    #if($page.getChild("system-data-structure").getChild("lead-image").getChild("image-thumb-alt"))
      #set ($imgAlt = $page.getChild("system-data-structure").getChild("lead-image").getChild("image-thumb-alt").text)
    #end
    #set ($dateNode = $page.getChild("start-date"))
    #set ($pageDate = $_DateTool.getDate($dateNode.value))
    #set ($pageDateText = $_DateTool.format('MMMM d, yyyy',$pageDate))
    
    
    
      <li>
        #if($imgLink && $imgLink !="")
          <a href="${path}"><img class="fltlft" src="${imgLink}" alt="${imgAlt}" height="72px" /></a>
        #end
          <span class="date">${pageDateText}</span>
          <a href="${path}">${title}</a>
      </li>
    
    ## Reset img path for next article
    #set ($imgLink = "")


#end
  </ul>
</div>

#end