<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>

<system-region name="UNIFORM HTML HEAD"/>

<title><system-page-title/></title>
<system-page-meta-description/>
<system-page-meta-keywords/>

<system-region name="LOCAL HTML HEAD"/>
<system-region name="PAGE HTML HEAD"/>
<system-region name="CUSTOM HTML HEAD"/>

</head>

<body class="left-column dept article">

  <!-- Accessibility links. Hidden until they receive :focus -->
  <ul id="access-links">
    <li><a href="#main">Skip to main content</a></li>
    <li><a href="#mainNav">Skip to primary navigation</a></li>
  </ul>

<system-region name="ALERT AREA"/>

  <div id="wrap">
    <div id="container">
      <div id="content">

<div class="site-header" role="banner">

    <div class="page-top">
      <div class="row">

        <div class="page-top-left">
          <system-region name="UNIFORM CAMPUS LOGO" />
        </div>

        <div class="page-top-right">
          <system-region name="UNIFORM CAMPUS LINKS" />
          <div class="search" role="search">
            <system-region name="SEARCH" />
          </div>
        </div>

      </div>
    </div>

    <div class="main-header">

      <div class="row names">
        <div class="secondary-name">
          <system-region name="DEPARTMENT NAME" />
          <a class="mobile-menu" href="#mainNav"></a>
        </div>
      </div>

      <div class="row main-navigation" role="navigation">
        <system-region name="MAIN NAV" />
      </div>

    </div>
    
    <!-- Remove breadcrumbs region from home page templates -->
    <system-region name="BREADCRUMBS"/>

</div>
        
        <div class="row" id="sprflt">
          
          <div class="main-content" id="main" role="main">
            <system-region name="DEFAULT"/>
            <system-region name="CONTENT BOTTOM"/>
          </div>
          
          <div class="sidebar" id="subNav">
            <system-region name="LEFT NAV TOP"/>
            <system-region name="LEFT NAV"/>
            <system-region name="LEFT NAV BOTTOM"/>
            <system-region name="LEFT NAV BOTTOM GLOBAL"/>
          </div>
        
        </div>
        
        <div class="main-footer">
          <div class="row" id="footer">
              <div class="footer-left">
                  <system-region name="UNIFORM CAMPUS FOOTER"/>
              </div>
              <div class="footer-right">
                  <system-region name="FOOTER LINKS"/>
              </div>
          </div>
          <div class="sub-footer row">
              <div class="legal">
                <system-region name="UNIFORM DISCLAIMERS"/>
                <system-region name="UNIFORM SERVER META"/>
              </div>
          </div>   
        </div>
      
      </div><!-- /content -->
    </div><!-- /container -->
  </div><!-- /wrap -->
  
  <system-region name="UNIFORM BOTTOM SCRIPTS"/>
  <system-region name="LOCAL BOTTOM SCRIPTS"/>
  <system-region name="PAGE BOTTOM SCRIPTS"/>

</body>
</html>