// Layout debugging
$visual-grid: true;
$visual-grid-index: front;

// Layout variables for Bourbon Neat
$border-box-sizing: true;
$max-width: em(1280);
$default-feature: min-width;
$grids-columns: 16;
$column: golden-ratio(1em, 3);
$gutter: golden-ratio(1em, 1);


// Set breakpoint variables
$desktop: 	new-breakpoint(min-width em(960) 8);
$tablet-p: 	new-breakpoint(min-width em(720) 8);
$tablet: 		new-breakpoint(min-width em(641) 8);
$mobile: 		new-breakpoint(max-width em(640) 8);

// Set color variables
$primary-blue: #5585a2;
$primary-gold: #cb9001;
$primary-sand: #F6F4EC;
$primary-gray: #8E8C87;
$primary-gray-dark: darken($primary-gray, 10%);

$ucsc-blue: #1B4084;
$ucsc-gold: #F1B523;

$font-family-sans-serif:  "Lucida Grande", "Lucida Sans Unicode", sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:   Monaco, Menlo, Consolas, "Courier New", monospace !default;
$font-family-headlines:   "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
$font-family-base:        $font-family-sans-serif !default;

$font-size-base:          14px !default;
$font-size-large:         ceil($font-size-base * 1.25) !default; // ~18px
$font-size-small:         ceil($font-size-base * 0.85) !default; // ~12px

$font-size-h1:            floor($font-size-base * 2.6) !default; // ~36px
$font-size-h2:            floor($font-size-base * 2.15) !default; // ~30px
$font-size-h3:            ceil($font-size-base * 1.7) !default; // ~24px
$font-size-h4:            ceil($font-size-base * 1.25) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil($font-size-base * 0.85) !default; // ~12px

$line-height-base:        1.428571429 !default; // 20/14
$line-height-computed:    floor($font-size-base * $line-height-base) !default; // ~20px

$headings-font-family:    $font-family-base !default;
$headings-font-weight:    500 !default;
$headings-line-height:    1.1 !default;
$headings-color:          inherit !default;

$border-radius-base: 			5px;