// # Custom mixins for UCSC theme.


// ## Debugging: `breakpoints`
//
// Shows breakpoint debugging information on rendered pages.
@mixin breakpoints() {
    
  @include media($mobile) {
    @include display-text("Mobile", green);
  }
  @include media($tablet) {
    @include display-text("Tablet: Portrait", orange);
  }
  @include media($desktop) {
    @include display-text("Desktop", blue);
  }  
}


// ## Debugging: `display-text`
//
// Display text before an element.
// Primarily used for showing which media queries are active.
@mixin display-text($text, $bgcolor) {
  &:before {
    content: $text;
    display:block;
    width: 100%;
    padding:0.5em 1em;
    text-align:center;
    background-color:$bgcolor;
    color:white;
    position: relative;
    left: -14px;
  }    
}

// ## Debugging: `rowborders`
//
// Show borders around `.row` elements.
@mixin rowborders($color:#80C108) {  
  border: 2px solid $color;
}



// ## Calculate rems from pixels
// 
// Function and mixin to return rem units from px.
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin fontSize($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}


// # Box Shadow
// Add box-shadow to modules.
@mixin module-box-shadow() {
  border: 1px solid #E7E5DE;
  border-bottom: solid 1px #DFDED2;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.05);
}

// # Hover, active, focus
// Set hover, active, and focus for elements.
@mixin hoverActiveFocus($property, $value) {
    &:hover, &:active, &:focus {
        #{$property}: $value;
    }
}

@mixin navigation-list {
    list-style-type:none;
    width:100%;
    margin:0;
    padding:0;
    > li {  
        width:auto;
        -webkit-flex: 1;
        flex:1;
        a {     
          padding: 2em 2em;
        }
    }
}

// # Toggle function for mobile menus
// Collapse global and site menus on mobile screens.
@mixin toggle-menu() {
  transition: all 1s ease-in-out;
  overflow: hidden;
  max-height:0;  
  // Active mobile menu removes min-height of 0.
  &.active {
    max-height:auto;
    max-height:none;
  }
  @include media($tablet) {
    max-height:auto;
    max-height:none;
  }
}

@mixin meta-small($scale) {
  text-transform: uppercase;
  font-size: golden-ratio($base-font-size, $scale);
  line-height: golden-ratio($base-font-size, 0);
}

