/*doc
---
title: Legacy Styles
name: block
category: Base CSS
---

These styles are carry-overs from the previous stylesheet because
their functionality would need to be replaced on a site-by-site basis. 

*/ 

.sleed {
  display: none;
}