// Primary typography
body {
	min-width:em(320);
	padding: $font-size-base;
	color: darken($gray, 15%);
	background-color: lighten($sand, 2%);
	font-family: $font-family-sans-serif;
	font-size: $font-size-base;
	line-height: $line-height-base;
	margin: 0;
	// @include breakpoints();
}


a {
	color: $blue;
	text-decoration: none;
	&:focus,
	&:hover,
	&:active {
		text-decoration: underline;
	}
}


h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-weight:normal;
}

@for $i from 1 through 6 {
  h#{$i}, .h#{$i} {
    margin:0.5em 0;
	}
}






h1, .h1 {

	color:#4D4D4B;
	font-weight:normal;

	.site-header & {
		margin:0;
	}

	#pageTitle & a {
		text-decoration: none;
		font-weight: normal;
		margin: 0;
		font-size: 42px;
		line-height: 42px;
		padding: 0;
		text-transform: uppercase;
		letter-spacing: -1px;
		color: #F1B521;
	}
}

#title {
		margin:0 0.25em 0 0;
	}

//
// ## Forms
// Default styles for forms.
//
form {
	font-family: $font-family-sans-serif;
}


input[type="text"] {
	font-family: $font-family-sans-serif;
	color: $gray;
  border: 1px solid $sand-dark;
  border-radius: $border-radius-base;
}