
// Primary typography
body {
	// @include breakpoints();
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-weight:normal;
}

h1, .h1 {

	color:#4D4D4B;
	font-weight:normal;

	.site-header & {
		margin:0;
	}

	#pageTitle & a {
		text-decoration: none;
		font-weight: normal;
		margin: 0;
		font-size: 42px;
		line-height: 42px;
		padding: 0;
		text-transform: uppercase;
		letter-spacing: -1px;
		color: #F1B521;
	}
}

#title {
		@include fontSize(46);
		margin:0 0.25em 0.25em 0;
	}

//
// ## Forms
// Default styles for forms.
//
form {
	font-family: $font-family-sans-serif;
}


input[type="text"] {
	font-family: $font-family-sans-serif;
	color: $gray;
  border: 1px solid $sand-dark;
  border-radius: $border-radius-base;
}