table td.rowHeadDirectory{
  font-weight: bold;
}

div.directoryPhoto {
  clear: right;
  padding: 1em;
  background-color: $sand-dark;
  @include clearfix;
  margin-bottom: 2em;
  @include module-box-shadow(dark);
}

img.directoryPhoto {
  width: 30%;
  padding:0.25em;
  margin: 1em 0 1em 1em; 
  background-color: $sand-light;
}

.directoryTableInfo {
  width: 62%;
  float: right;
  #title {
    font-size: 1.8em;
    color: $blue;
  }
}

.directoryTableInfo,
img.directoryPhoto {
  @include media($mobile) {
    width: 100%;
    float: none;
    margin: 1em 0;
  }
}

