// ## Ugly quick fix for the titles on the landing pages.
//
// This will need to be removed. 
.landing {
    
    .title {
      position: relative;
      color:$gold-light;
      min-height:90px;
 
      h1, p {
        @include hide-text;
      }

      img {
        position:absolute;
        top: 0;
        left:0;  
      }  
  
    }



}