// # Custom mixins for UCSC theme.

// ## @mixin: breakpoints
//
// Shows breakpoint debugging information on rendered pages.
//
@mixin breakpoints() {
    
  @include media($mobile) {
    @include show-media("Mobile", green);
  }
  @include media($tablet) {
    @include show-media("Tablet: Portrait", orange);
  }
  @include media($desktop) {
    @include show-media("Desktop", blue);
  }  
}

// ## @mixin: rowborders
//
// Show borders around `.row` elements.
@mixin rowborders($color:#80C108) {  
  border: 2px solid $color;
}


// Calculate rems from pixels 
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin fontSize($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}

@mixin module-box-shadow() {
  border: 1px solid #E7E5DE;
  border-bottom: solid 1px #DFDED2;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.05);
}

@mixin hoverActiveFocus($property, $value) {
    &:hover, &:active, &:focus {
        #{$property}: $value;
    }
}

@mixin navigation-list {
    list-style-type:none;
    width:100%;
    margin:0;
    padding:0;
    > li {  
        width:auto;
        -webkit-flex: 1;
        flex:1;
        a {     
          padding: 2em 2em;
        }
    }
}

@mixin toggle-menu() {
  position:absolute;
  top:-150%;
  &.expanded {
    position:relative;
  }

}

@mixin meta-small($scale) {
  text-transform: uppercase;
  font-size: golden-ratio($base-font-size, $scale);
  line-height: golden-ratio($base-font-size, 0);
}

// Debugging mixins

@mixin show-media($text, $bgcolor) {
  &:before {
    content: $text;
    display:block;
    width: 100%;
    padding:0.5em 1em;
    text-align:center;
    background-color:$bgcolor;
    color:white;
    position: relative;
    left: -14px;
  }    
}