#set ($units = $_XPathTool.selectNodes($contentRoot,"//unit"))
#set ($campusDirUrl = "http://campusdirectory.ucsc.edu/detail.php?type=people&uid=")

<style type="text/css">

.staff-list-box li {
  width: 30%;
  max-width: 180px;
  box-sizing: border-box;
  display: inline-block;
  padding: 0;
  float: left;
  margin: 0 0.5em 0.5em 0;
}
.staff-list-box li:nth-child(4n+1) {
  clear: left;
}
.staff-list-box a {
  display: block;
  padding: 0.5em;
  border-radius: 5px;
}
.staff-list-box a:focus,
.staff-list-box a:hover,
.staff-list-box a:active {
  background-color: #e8e5cf;
  text-decoration: none;
}
.staff-list-box img, .staff-list-box span {
  display: block;
  float: none !important;
}
.staff-list-box img {
  width: 100%;
  padding: 0;
  background-color: transparent;
  height: auto;
  border-radius: 5%;
}
.staff-list-box .name {
  font-size: 1em;
  font-weight: bold;
}
.staff-list-box .title {
  font-size: 12px;
}
.staff-list-box h2, .staff-list-box h3 {
  clear: both;
  padding-top: 1.5em;
  margin-bottom: 1em;
}
.staff-list-box h2 {
  padding-bottom: 0.25em;
  font-size: 2.1em;
  font-weight: 500;
  border-bottom: 3px solid #d5d5d5;
}

.staff-list-box h2:first-child {
  padding-top:0;
}

.staff-list-box h3 {
  border-bottom: 1px solid #999999;
}

</style>

[system-view:internal]<p style="padding:1em;background-color:#89D47D;">To edit the staff list, <a href="https://wcms.ucsc.edu/entity/open.act?id=3a12274a807270466b1f05a196025afd&amp;type=block&amp;" target="_top">go to this content block</a>.</p>[/system-view:internal]
 
<!-- Display menu -->
<div class="content contentBox">

<ul>

#foreach($unit in $units)

#set ($unitTitle = $unit.getChild("title").text)
##set ($subUnits = $_XPathTool.selectNodes($unit,"subunit"))
#set ($titleID = "#makeStringID($unitTitle)")

<li>
  <a href="#${titleID}">${_EscapeTool.xml($unitTitle)}</a>

    ## #if($subUnits.length != 0)    
    ##   <ul>
    ##     #foreach($su in $subUnits)          
    ##       #set ($subTitle = $su.getChild("title").text)
    ##       #set ($subTitleID = "#makeStringID($subTitle)")          
    ##       #if ($subTitle != '')
    ##       <li><a href="#${subTitleID}">${_EscapeTool.xml($subTitle)}</a></li>
    ##       #end            
    ##     #end
    ##   </ul>
    ## #end

</li>

#end

</ul>

</div>



<!-- Display people  -->
<div class="content contentBox staff-list-box">

#foreach($unit in $units)

#set ($unitTitle = $unit.getChild("title").text)
#set ($subUnits = $_XPathTool.selectNodes($unit,"subunit"))
#set ($titleID = "#makeStringID($unitTitle)")

<h2 id="${titleID}">${_EscapeTool.xml($unitTitle)}</h2>

    #foreach($su in $subUnits)
        
        #set ($subTitle = $su.getChild("title").text)
        #set ($subTitleID = "#makeStringID($subTitle)")
        
        #if ($subTitle != '')
        <h3 id="${subTitleID}">${_EscapeTool.xml($subTitle)}</h3>
        #end
        
        #set ($people = $_XPathTool.selectNodes($su,"person"))
        <ul>
        #foreach($person in $people)
        
            #set ($name = $person.getChild("name").text)
            #set ($photo = $person.getChild("photo").getChild("path").text)
            #set ($position = $person.getChild("title").text)
            #set ($cruzid = $person.getChild("cruzid").text)
            
            <li>
                <a href="${_EscapeTool.xml($campusDirUrl)}${cruzid}">
                    #if ($photo != '/')
                    <img class="thumbnail" src="${photo}" alt="${name}" width="180" height="180" />
                    #else
                    <img class="thumbnail" src="[system-asset:id=8036bf5d80727017505ed01d0662b7ee]/about/staff/photos/icon-slug.jpg[/system-asset]" alt="${name}" width="180" height="180" />
                    #end
                    <span class="name">${_EscapeTool.xml($name)}</span>
                    <span class="title">${_EscapeTool.xml($position)}</span>                    
                </a>
            </li>
        
        #end
        </ul>
    #end

#end

</div>

#macro ( makeStringID $text )
#set ( $input = $text.toLowerCase() )
#set ( $input = $input.replaceAll(" & ", "-"))
#set ( $input = $input.replaceAll(", ", "-"))
#set ( $input = $input.replaceAll("'", "").split(" "))
$_DisplayTool.list($input,"-")#end
