// ## UCSC logo and Site Title
// At minimum, contains the UCSC logo.
// On division/department sites, it contains the site title too.
.logo {
  
    #logo {
     
     // Mobile only
     @include span-columns(12);
     
     // Tablet and up
     @include media($tablet) {
       .dept & {
         @include span-columns(2);
         @include shift(-12);
       }
     }

    }

    h1 {
     
     // Mobile only
     @include span-columns(12);
     
     // Tablet and up
     @include media($tablet) {
       .dept & {
         @include span-columns(10);
         @include shift(2);
       }
     }
    
    }

    .menu-toggle {
      margin-top: 1.20em;
      width: 7em;
      float:right;
        @include omega();
        @include media($tablet) {
          display:none;
        }
    }


// # Typography
// Set the font-size and other attributes of
// the site title.

h1 { 
  
  
  display: table;

  a {

    font-size: 1.4em;
    text-transform: uppercase;
    color: #F1B521;
    text-decoration:none;
  }    

}

}